openapi: 3.1.0
info:
  description: "AgentDrive is an agent-focused artifact store: upload by path, share\
    \ by rendered URL, address by stable permalink. The REST surface is documented\
    \ here; the rendered viewer + agent claim flow live under `agentdrive.run`."
  title: AgentDrive
  version: 0.0.1
servers:
- description: Production
  url: https://api.agentdrive.run
- description: Local dev
  url: http://127.0.0.1:8000
paths:
  /v0/artifacts/{path}:
    delete:
      description: |-
        Soft-delete the artifact at the given path.

        A delete WITHOUT an `If-Match` precondition is last-writer-wins and will
        silently remove a concurrently-modified artifact.
      operationId: delete_artifact_v0_artifacts__path__delete
      parameters:
      - explode: false
        in: path
        name: path
        required: true
        schema:
          title: Path
          type: string
        style: simple
      - explode: false
        in: header
        name: if-match
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: x-agentdrive-actor
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactDeleteOut"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Delete Artifact
    put:
      description: |-
        Upload an artifact at the given path. The path is treated as the artifact's location in the drive — re-uploading the same path overwrites in place (idempotent). Returns 201 when the artifact is created (no prior live artifact at the path), 200 on overwrite — mirroring `PUT /v0/folders/{path}`.

        **Limits:** request body must not exceed **50 MB**. Path must be non-empty, ≤256 chars, only `[A-Za-z0-9_./-]`, no `..` segments, no leading/trailing slash. Per-token write rate limit: 100/hour.

        **Optional headers.** Each preserves the existing artifact's value when omitted on an overwrite, and takes the create-default on a new path; send the header to replace it:
        - `X-AgentDrive-Labels`: comma-separated labels (e.g. `draft,report`); an empty value clears them. Each: lowercase `[a-z0-9_-]+`, ≤64 chars; ≤16 labels per artifact.
        - `X-AgentDrive-Metadata`: JSON object of agent-attached fields.
        - `X-AgentDrive-Source`: JSON `{"refs": [...]}` source provenance (present, including `{"refs": []}`, replaces).
        - `X-AgentDrive-Actor`: caller-supplied actor name (≤64 chars) for event-log attribution. Untrusted; never used for authz.

        **Preconditions.** `If-Match: "<id>.<gen>.<metagen>"` makes the write conditional on the current composite ETag (→ 412 PRECONDITION_FAILED). `If-None-Match: *` is create-only: it succeeds only if no live artifact occupies the path (→ 412 CREATE_CONFLICT if one does). The two are mutually exclusive (→ 400 BAD_PRECONDITION).

        **Integrity (optional).** `X-AgentDrive-Checksum: <algo>:<value>` (`sha256:<hex>` or `crc32c:<base64>`) or the standard `Content-MD5` (base64 MD5) is verified against the received bytes before they land (→ 400 CHECKSUM_MISMATCH on mismatch); no artifact is created on failure.
      operationId: put_artifact_v0_artifacts__path__put
      parameters:
      - explode: false
        in: path
        name: path
        required: true
        schema:
          title: Path
          type: string
        style: simple
      - explode: false
        in: header
        name: content-type
        required: false
        schema:
          default: application/octet-stream
          title: Content-Type
          type: string
        style: simple
      - explode: false
        in: header
        name: x-agentdrive-labels
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: x-agentdrive-metadata
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: x-agentdrive-source
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: x-agentdrive-actor
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: x-agentdrive-change-summary
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: x-agentdrive-checksum
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: content-md5
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: if-match
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: if-none-match
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactOut"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Upload (or overwrite) an artifact
  /v0/artifacts/{art_id}:
    delete:
      description: |-
        Soft-delete the artifact with this `art_…` ID. Same semantics + response shape as the path-based `DELETE /v0/artifacts/{path}` (reversible until the GC cron hard-deletes at `purge_at`; `restore_url` points at the by-id restore), but keys on the immutable id so a concurrent rename can't change the target.

        Returns 404 ARTIFACT_NOT_FOUND if no live artifact has this id; 403 WIKI_RESERVED for `_wiki/` artifacts (system-managed); 412 if `If-Match` doesn't match the current version. Declared before the `{path:path}` family so the id convertor wins for DELETEs.
      operationId: delete_artifact_by_id_route_v0_artifacts__art_id__delete
      parameters:
      - explode: false
        in: path
        name: art_id
        required: true
        schema:
          title: Art Id
          type: string
        style: simple
      - explode: false
        in: header
        name: if-match
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: x-agentdrive-actor
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Soft-delete an artifact by its stable ID
    get:
      operationId: get_artifact_by_id_v0_artifacts__art_id__get
      parameters:
      - explode: false
        in: path
        name: art_id
        required: true
        schema:
          title: Art Id
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactOut"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Canonical lookup of an artifact by its stable ID
    patch:
      description: |-
        Metadata-only JSON-merge-patch update of a single artifact, keyed by its stable `art_…` ID. Every field in the body is optional; a field that is **omitted** is left unchanged, a field that is **present** is applied — with an explicit `null` / `[]` / `{}` meaning "clear". This mirrors the MCP `set_metadata` tool.

        Editable fields:
          * `labels` — replace the label set (`[]`/`null` clears).
          * `metadata` — replace the free-form metadata object (`{}`/`null` clears).
          * `source` — replace provenance refs (`null` clears).

        **To move/rename an artifact, use `POST /v0/artifacts/{art_id}/move`** — PATCH no longer accepts `path`. The body is `extra="forbid"`, so a stray field (notably a legacy `path`) is rejected with 422 rather than silently ignored.

        Metadata edits do NOT create a new content version (no `version_number` / generation bump, no `artifact_versions` row) but DO bump the artifact's `metageneration` and `updated_at`.

        Returns 400 BAD_LABELS / BAD_SOURCE for invalid metadata; 404 ARTIFACT_NOT_FOUND for an unknown id. Honors `If-Match`, which takes the composite ETag `"<art_id>.<generation>.<metageneration>"` and is compared as a whole tuple: ANY concurrent content **or** metadata change (a bumped generation OR metageneration) → 412 PRECONDITION_FAILED. There is no last-writer-wins gap for metadata-only edits. Use `X-AgentDrive-Actor` to attach attribution to the emitted `artifact.metadata_updated` event.
      operationId: patch_artifact_route_v0_artifacts__art_id__patch
      parameters:
      - explode: false
        in: path
        name: art_id
        required: true
        schema:
          title: Art Id
          type: string
        style: simple
      - explode: false
        in: header
        name: x-agentdrive-actor
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: if-match
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ArtifactPatchIn"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactOut"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Edit artifact metadata (labels / metadata / source)
  /v0/artifacts/{art_id}/meta:
    get:
      operationId: get_artifact_by_id_meta_v0_artifacts__art_id__meta_get
      parameters:
      - explode: false
        in: path
        name: art_id
        required: true
        schema:
          title: Art Id
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactOut"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Artifact metadata by stable ID (same shape as path /meta)
  /v0/artifacts/{art_id}/move:
    post:
      description: |-
        Canonical artifact move/rename, keyed by the stable `art_…` ID (the artifact analogue of `POST /v0/folders/{fld_id}/move`). Moves the artifact to a new `path` on the same drive; ID, version history, source refs, labels, metadata, and the underlying CAS blob are all preserved — only `path` and `updated_at` change, and the move does NOT bump `version_number`.

        The row UPDATE and the emitted `artifact.renamed` event commit in a SINGLE transaction — a failure leaves the artifact fully unchanged.

        Returns 409 PATH_CONFLICT if the target `path` is already taken; 404 ARTIFACT_NOT_FOUND for an unknown id; 403 WIKI_RESERVED for a `_wiki/` / `_compiled/` target. Honors `If-Match` (→ 412 PRECONDITION_FAILED). Use `X-AgentDrive-Actor` to attach attribution to the emitted `artifact.renamed` event.
      operationId: move_artifact_route_v0_artifacts__art_id__move_post
      parameters:
      - explode: false
        in: path
        name: art_id
        required: true
        schema:
          title: Art Id
          type: string
        style: simple
      - explode: false
        in: header
        name: x-agentdrive-actor
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: if-match
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ArtifactMoveIn"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactOut"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Rename / move an artifact to a new path
  /v0/artifacts/{art_id}/copy:
    post:
      description: |-
        Create a new artifact at `path` whose bytes are identical to the source artifact's. The copy reuses the source's CAS object (zero new storage) but gets a fresh `art_…` ID, a fresh version 1, and — by default — `source.refs = [{type: 'artifact', id: '<source>'}]` so provenance is preserved.

        Quota: the copy's `size_bytes` is added to the drive's `storage_bytes` even though physical bytes are shared.

        Source-version pin: pass `from_generation` in the body to require the source's current content generation (`version_number`) to equal it (→ 412 SOURCE_VERSION_MISMATCH); a concurrent source *metadata* edit does NOT fail the copy. Destination create-only: `If-None-Match: *` returns 412 CREATE_CONFLICT (instead of 409 PATH_CONFLICT) when the target path is occupied.

        Returns 409 PATH_CONFLICT if the target path is already taken; 413 STORAGE_QUOTA_EXCEEDED if the copy would push the drive over its limit.
      operationId: copy_artifact_route_v0_artifacts__art_id__copy_post
      parameters:
      - explode: false
        in: path
        name: art_id
        required: true
        schema:
          title: Art Id
          type: string
        style: simple
      - explode: false
        in: header
        name: x-agentdrive-actor
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: if-none-match
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CopyIn"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactOut"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: "Duplicate an artifact to a new path (CAS-shared, new ID)"
  /v0/artifacts/{art_id}/download:
    get:
      operationId: download_artifact_by_id_v0_artifacts__art_id__download_get
      parameters:
      - explode: false
        in: path
        name: art_id
        required: true
        schema:
          title: Art Id
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Stream the artifact bytes by stable ID (never rendered HTML)
  /v0/artifacts/{art_id}/versions:
    get:
      description: Returns versions in descending `version_number` order. Cursor pagination
        via `?cursor=<token>`; `next_cursor` is non-null when the page is full and
        more older versions may exist.
      operationId: list_artifact_versions_v0_artifacts__art_id__versions_get
      parameters:
      - explode: false
        in: path
        name: art_id
        required: true
        schema:
          title: Art Id
          type: string
        style: simple
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          description: Restore at this path instead of the original. Soft-deletes
            the live occupant at the original path with audit `metadata.cause='restore_conflict_rename'`.
            Mutually exclusive with `overwrite`.
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          title: Limit
          type: integer
        style: form
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VersionPage"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: "List versions of an artifact, newest first"
  /v0/artifacts/{art_id}/versions/{version_number}:
    get:
      operationId: get_artifact_version_v0_artifacts__art_id__versions__version_number__get
      parameters:
      - explode: false
        in: path
        name: art_id
        required: true
        schema:
          title: Art Id
          type: string
        style: simple
      - explode: false
        in: path
        name: version_number
        required: true
        schema:
          title: Version Number
          type: integer
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VersionOut"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Metadata for a specific version of an artifact
  /v0/artifacts/{art_id}/versions/{version_number}/download:
    get:
      operationId: download_artifact_version_v0_artifacts__art_id__versions__version_number__download_get
      parameters:
      - explode: false
        in: path
        name: art_id
        required: true
        schema:
          title: Art Id
          type: string
        style: simple
      - explode: false
        in: path
        name: version_number
        required: true
        schema:
          title: Version Number
          type: integer
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Stream bytes for a specific version (machine surface)
  /v0/artifacts/{art_id}/versions/{version_number}/restore:
    post:
      description: |-
        Roll the artifact forward to the content of version `version_number` by creating a **new head version** with identical bytes. History is preserved — this never rewrites or deletes past versions. The prior version's content-addressed blob is reused, so no bytes are re-uploaded. A change summary of `Restored version N` is recorded on the new version; `X-AgentDrive-Actor` attributes it.

        Restoring a version whose content already matches the current head (including the head itself) is a **no-op**: it returns the current artifact unchanged, with no new version created.

        Honors `If-Match` on the current head (roll forward only if the head is unchanged → 412 PRECONDITION_FAILED).

        Errors: `404 ARTIFACT_NOT_FOUND`, `404 VERSION_NOT_FOUND`, and `410 VERSION_PRUNED` when the version existed but its bytes were retained out of existence.
      operationId: restore_artifact_version_v0_artifacts__art_id__versions__version_number__restore_post
      parameters:
      - explode: false
        in: path
        name: art_id
        required: true
        schema:
          title: Art Id
          type: string
        style: simple
      - explode: false
        in: path
        name: version_number
        required: true
        schema:
          title: Version Number
          type: integer
        style: simple
      - explode: false
        in: header
        name: x-agentdrive-actor
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: if-match
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactOut"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Restore a previous version as a new head version
  /v0/artifacts/{art_id}/download-url:
    get:
      description: "Returns a URL for the artifact's bytes. For large artifacts (>=\
        \ the signed-download threshold) when signing is available, it's a short-lived\
        \ **signed GCS URL** the client fetches directly (`direct:true`, `expires_at`\
        \ set); otherwise the **proxy** `/download` URL (`direct:false`). Treat the\
        \ URL as opaque. large-download-design.md §5.1."
      operationId: download_url_by_id_v0_artifacts__art_id__download_url_get
      parameters:
      - explode: false
        in: path
        name: art_id
        required: true
        schema:
          title: Art Id
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DownloadUrlOut"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Signed direct-from-GCS download URL by stable ID
  /v0/artifacts/{art_id}/versions/{version_number}/download-url:
    get:
      description: "Same as `/{art_id}/download-url` but for a specific version's\
        \ bytes (`direct:true` signed GCS URL when large + signing available, else\
        \ the proxy `/versions/{n}/download` URL). large-download-design.md §5.1."
      operationId: download_url_version_v0_artifacts__art_id__versions__version_number__download_url_get
      parameters:
      - explode: false
        in: path
        name: art_id
        required: true
        schema:
          title: Art Id
          type: string
        style: simple
      - explode: false
        in: path
        name: version_number
        required: true
        schema:
          title: Version Number
          type: integer
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DownloadUrlOut"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Signed direct-from-GCS download URL for a specific version
  /v0/artifacts/{path}/download-url:
    get:
      description: "Same as `/{art_id}/download-url` but resolves the artifact by\
        \ path. The returned proxy URL (when `direct:false`) still points at the by-id\
        \ `/download` endpoint. large-download-design.md §5.1."
      operationId: download_url_by_path_v0_artifacts__path__download_url_get
      parameters:
      - explode: false
        in: path
        name: path
        required: true
        schema:
          title: Path
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DownloadUrlOut"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Signed direct-from-GCS download URL by path
  /v0/artifacts/{path}/download:
    get:
      description: "Same bytes-only machine surface as `/{art_id}/download` but resolves\
        \ the artifact by path, so callers don't have to resolve path→id first. Applies\
        \ the identical CSP `sandbox` + `nosniff` posture (never serves HTML inline\
        \ as active content)."
      operationId: download_artifact_by_path_v0_artifacts__path__download_get
      parameters:
      - explode: false
        in: path
        name: path
        required: true
        schema:
          title: Path
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Stream the artifact bytes by path (never rendered HTML)
  /v0/artifacts/{path}/meta:
    get:
      operationId: get_artifact_meta_v0_artifacts__path__meta_get
      parameters:
      - explode: false
        in: path
        name: path
        required: true
        schema:
          title: Path
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactOut"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Get Artifact Meta
  /v0/artifacts/{art_id}/restore:
    post:
      description: Clear `deleted_at` + `purge_at` on a soft-deleted artifact. Available
        only while the artifact is in trash (i.e. before the GC cleanup cron purges
        it). Returns 404 if the artifact is live or already hard-deleted; 409 PATH_CONFLICT
        if its path is now occupied by another live artifact. The 409 payload includes
        a `restore_options` block with `rename_to` and `force_overwrite` URLs the
        caller can follow to resolve the conflict — see deletion-design.md §5.4.
      operationId: restore_artifact_v0_artifacts__art_id__restore_post
      parameters:
      - explode: false
        in: path
        name: art_id
        required: true
        schema:
          title: Art Id
          type: string
        style: simple
      - description: Restore at this path instead of the original. Soft-deletes the
          live occupant at the original path with audit `metadata.cause='restore_conflict_rename'`.
          Mutually exclusive with `overwrite`.
        explode: true
        in: query
        name: rename
        required: false
        schema:
          description: Restore at this path instead of the original. Soft-deletes
            the live occupant at the original path with audit `metadata.cause='restore_conflict_rename'`.
            Mutually exclusive with `overwrite`.
          nullable: true
          type: string
        style: form
      - description: Soft-delete the live occupant at the original path and restore
          there. Audit `metadata.cause='restore_conflict_overwrite'`. Mutually exclusive
          with `rename`.
        explode: true
        in: query
        name: overwrite
        required: false
        schema:
          default: false
          description: Soft-delete the live occupant at the original path and restore
            there. Audit `metadata.cause='restore_conflict_overwrite'`. Mutually exclusive
            with `rename`.
          title: Overwrite
          type: boolean
        style: form
      - explode: false
        in: header
        name: x-agentdrive-actor
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: if-match
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactOut"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Restore a soft-deleted artifact
  /v0/drives/{drive_id}:
    delete:
      description: |-
        Mark the drive for cleanup. All tenant data (artifacts, versions, wiki, embeddings, events) is hidden via the `live_*` views and CASCADE-removed by the GC cleanup cron at `purge_at`. Restore via `POST /v0/drives/{id}/restore` while the row is still in trash. The path-param `drive_id` MUST match the authenticated drive.

        Accepts either an `ad_live_` per-drive key (deletes that key's drive) or an `ad_user_` user token selecting an owned drive (workspaces-design §5.3); a `read`-scope user token is rejected with 403 `INSUFFICIENT_SCOPE`. **Guard (§8):** a workspace must retain at least one live drive — deleting the workspace's last live drive returns 409 `LAST_DRIVE`.

        **Explicit confirmation required:** pass `?confirm=DELETE` or the request is rejected with 400 `CONFIRM_REQUIRED`. Tenant-level deletion is the largest-blast-radius operation on the API; the static token forces a deliberate act (soft-delete still gives a restore window on top).

        **Optimistic concurrency:** send `If-Match` with the drive's composite ETag (`"<drv_id>.0.<metageneration>"`, from a drive read) to make the delete conditional — a stale token returns 412 PRECONDITION_FAILED. A delete WITHOUT an `If-Match` precondition is last-writer-wins and will silently trash a concurrently-modified drive.
      operationId: delete_drive_route_v0_drives__drive_id__delete
      parameters:
      - explode: false
        in: path
        name: drive_id
        required: true
        schema:
          title: Drive Id
          type: string
        style: simple
      - explode: true
        in: query
        name: confirm
        required: false
        schema:
          description: Restore at this path instead of the original. Soft-deletes
            the live occupant at the original path with audit `metadata.cause='restore_conflict_rename'`.
            Mutually exclusive with `overwrite`.
          nullable: true
          type: string
        style: form
      - explode: false
        in: header
        name: x-agentdrive-actor
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: if-match
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DriveDeleteOut"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Soft-delete a drive
    get:
      description: Identical to `GET /v0/drives/me` — the by-id singleton so `Location`-style
        URLs and scripted clients can address the drive canonically. The path-param
        `drive_id` MUST match the authenticated drive (mirrors the delete/trash routes'
        no-leak 404). Emits the drive's composite `ETag` header (`"<drv_id>.0.<metageneration>"`).
      operationId: get_drive_route_v0_drives__drive_id__get
      parameters:
      - explode: false
        in: path
        name: drive_id
        required: true
        schema:
          title: Drive Id
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Drive overview by id (same shape as /drives/me)
    patch:
      description: Rename a drive. **Owner only** — a drive id that isn't yours returns
        404 (no-leak). Requires a `full`-scope user token.
      operationId: rename_drive_route_v0_drives__drive_id__patch
      parameters:
      - explode: false
        in: path
        name: drive_id
        required: true
        schema:
          title: Drive Id
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DriveRenameIn"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DriveOut"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Rename a drive you own
      tags:
      - drives
  /v0/drives/{drive_id}/restore:
    post:
      description: |-
        Clear `deleted_at` + `purge_at` on a soft-deleted drive. Soft-deleted child artifacts get their retention window rebased to the drive-restore moment (see deletion-design.md §5.2). Available only while the drive is in trash. Returns 404 if the drive is live or already hard-deleted.

        **Optimistic concurrency:** send `If-Match` with the trashed drive's composite ETag (`"<drv_id>.0.<metageneration>"`, e.g. from the delete response's `ETag` header) to make the restore conditional — a stale token returns 412 PRECONDITION_FAILED. A restore WITHOUT an `If-Match` precondition is last-writer-wins.
      operationId: restore_drive_route_v0_drives__drive_id__restore_post
      parameters:
      - explode: false
        in: path
        name: drive_id
        required: true
        schema:
          title: Drive Id
          type: string
        style: simple
      - explode: false
        in: header
        name: x-agentdrive-actor
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: if-match
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Restore a soft-deleted drive
  /v0/drives/{drive_id}/trash:
    get:
      description: Returns soft-deleted artifacts on the drive plus the drive's own
        soft-delete state (if applicable). The path-param `drive_id` MUST match the
        authenticated drive.
      operationId: list_trash_route_v0_drives__drive_id__trash_get
      parameters:
      - explode: false
        in: path
        name: drive_id
        required: true
        schema:
          title: Drive Id
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: List the authenticated drive's trash
  /v0/artifacts:
    get:
      description: |-
        Returns artifacts sorted by path. Filter by `prefix`, `label` (repeatable + AND-combined), and `file_type`.

        **Cursor pagination:** when more results exist, the response carries `next_cursor`. Pass it back as `?cursor=<token>` to fetch the next page. `next_cursor` is `null` on the final page. Filters MUST stay consistent across pages — the cursor encodes only the keyset position, not the filter set, so the client is responsible for re-sending the same filter on each page.
      operationId: list_artifacts_v0_artifacts_get
      parameters:
      - explode: true
        in: query
        name: prefix
        required: false
        schema:
          default: ""
          title: Prefix
          type: string
        style: form
      - explode: true
        in: query
        name: label
        required: false
        schema:
          items:
            description: Restore at this path instead of the original. Soft-deletes
              the live occupant at the original path with audit `metadata.cause='restore_conflict_rename'`.
              Mutually exclusive with `overwrite`.
            nullable: true
            type: string
          title: Label
          type: array
          default: null
        style: form
      - explode: true
        in: query
        name: file_type
        required: false
        schema:
          description: Restore at this path instead of the original. Soft-deletes
            the live occupant at the original path with audit `metadata.cause='restore_conflict_rename'`.
            Mutually exclusive with `overwrite`.
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          title: Limit
          type: integer
        style: form
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Page"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: List artifacts in the drive
  /v0/search:
    get:
      description: |-
        Lexical (not semantic) full-text search powered by Postgres `websearch_to_tsquery`. Results are ranked by `ts_rank` over a weighted tsvector (path > content > metadata > labels).

        **Supported query syntax:**
        - Words: `kangaroo` (English stemming)
        - Phrases: `"exact phrase"`
        - Negation: `kangaroo -secret`
        - AND (implicit): `kangaroo secret`
        - OR: `kangaroo OR koala`
        - Paths & filenames: `reports/q3-summary.md` or `q3-summary.md` match by their path words (`/ . _ -` are word boundaries)

        **Not supported (v0):**
        - Semantic / embedding similarity
        - PDF and image content (only the path + metadata are searchable)
        - Non-English stemming
        - Fuzzy matching, regex
        - Boolean operator parentheses

        **Filters:** `label` (repeatable, AND), `file_type` (enum), `prefix` (path prefix), `updated_after` / `updated_before` (RFC 3339 timestamps, inclusive bounds on `updated_at`).
      operationId: search_v0_search_get
      parameters:
      - explode: true
        in: query
        name: q
        required: true
        schema:
          maxLength: 200
          minLength: 1
          title: Q
          type: string
        style: form
      - explode: true
        in: query
        name: label
        required: false
        schema:
          items:
            type: string
          title: Label
          type: array
          default: null
        style: form
      - explode: true
        in: query
        name: file_type
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: prefix
        required: false
        schema:
          description: Restore at this path instead of the original. Soft-deletes
            the live occupant at the original path with audit `metadata.cause='restore_conflict_rename'`.
            Mutually exclusive with `overwrite`.
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: updated_after
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: updated_before
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          title: Limit
          type: integer
        style: form
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchPage"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Full-text search over artifacts in the drive
  /v0/find:
    get:
      description: |-
        Passage-level chunk RAG over `embed_chunks`. Lexical (`chunk_tsv`, GIN) + semantic (HNSW over `embedding`) are run in parallel and fused via Reciprocal Rank Fusion (k=60). Unlike `/v0/search`, which only sees the first ~16 KB preview of each artifact, `/v0/find` reaches the full file body.

        **Modes:**
        - `hybrid` (default) — lexical + semantic, RRF-fused.
        - `lexical` — `chunk_tsv` only. Best for exact tokens, identifiers, code snippets.
        - `semantic` — embedding only. Best for conceptual queries where the surface terms differ from the query phrasing.

        **Granularity:** results are passages, not files. A long document with multiple matching regions returns multiple hits with distinct `ord` values; consecutive `ord`s overlap by ~400 tokens. Dedupe by `art_id` if you want one row per file.

        **Span citations:** `char_start`/`char_end` for text & code, `page_start`/`page_end` for PDFs, `time_start_ms`/`time_end_ms` for audio & video. Only the modality-relevant pair is populated.

        **Filters:** `label`, `file_type`, `prefix`, `modality` (repeatable), `updated_after` / `updated_before` (RFC 3339 timestamps, inclusive bounds on `updated_at`, applied to both legs).

        **Wiki coverage:** `/v0/find` excludes `_wiki/` paths by default and — importantly — does NOT cover them even when the caller passes `prefix=_wiki/...`. Wiki pages are not embedded by the pipeline (they're system-generated output, not user input), so `embed_chunks` has no rows for them and the join returns empty. Use `wiki_search` (or `list`/`grep` with a `_wiki/` prefix) for the wiki layer.

        **Embedding availability:** when `GEMINI_API_KEY` is not configured, `mode=semantic` returns 500; `mode=hybrid` logs a warning and falls back to lexical-only; `mode=lexical` is unaffected.
      operationId: find_v0_find_get
      parameters:
      - explode: true
        in: query
        name: q
        required: true
        schema:
          maxLength: 500
          minLength: 1
          title: Q
          type: string
        style: form
      - explode: true
        in: query
        name: mode
        required: false
        schema:
          default: hybrid
          enum:
          - hybrid
          - lexical
          - semantic
          title: Mode
          type: string
        style: form
      - explode: true
        in: query
        name: label
        required: false
        schema:
          items:
            type: string
          title: Label
          type: array
          default: null
        style: form
      - explode: true
        in: query
        name: file_type
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: prefix
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: modality
        required: false
        schema:
          items:
            description: Restore at this path instead of the original. Soft-deletes
              the live occupant at the original path with audit `metadata.cause='restore_conflict_rename'`.
              Mutually exclusive with `overwrite`.
            nullable: true
            type: string
          title: Modality
          type: array
          default: null
        style: form
      - explode: true
        in: query
        name: updated_after
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: updated_before
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          title: Limit
          type: integer
        style: form
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FindPage"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Hybrid passage retrieval over the full file body
  /v0/folders/{fld_id}:
    delete:
      operationId: delete_folder_by_id_v0_folders__fld_id__delete
      parameters:
      - explode: false
        in: path
        name: fld_id
        required: true
        schema:
          title: Fld Id
          type: string
        style: simple
      - explode: true
        in: query
        name: recursive
        required: false
        schema:
          default: false
          title: Recursive
          type: boolean
        style: form
      - explode: false
        in: header
        name: x-agentdrive-actor
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: if-match
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FolderDeleteOut"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Soft-delete a folder by stable ID (cascade with ?recursive=true)
    get:
      operationId: get_folder_by_id_v0_folders__fld_id__get
      parameters:
      - explode: false
        in: path
        name: fld_id
        required: true
        schema:
          title: Fld Id
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FolderOut"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Canonical lookup of a folder by its stable ID
    patch:
      operationId: patch_folder_by_id_v0_folders__fld_id__patch
      parameters:
      - explode: false
        in: path
        name: fld_id
        required: true
        schema:
          title: Fld Id
          type: string
        style: simple
      - explode: false
        in: header
        name: x-agentdrive-actor
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: if-match
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FolderPatchIn"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FolderOut"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Update folder metadata by stable ID
  /v0/folders/{fld_id}/meta:
    get:
      operationId: get_folder_by_id_meta_v0_folders__fld_id__meta_get
      parameters:
      - explode: false
        in: path
        name: fld_id
        required: true
        schema:
          title: Fld Id
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FolderOut"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Folder metadata by stable ID (same shape as the bare id route)
  /v0/folders/{fld_id}/move:
    post:
      operationId: move_folder_by_id_v0_folders__fld_id__move_post
      parameters:
      - explode: false
        in: path
        name: fld_id
        required: true
        schema:
          title: Fld Id
          type: string
        style: simple
      - explode: false
        in: header
        name: x-agentdrive-actor
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: if-match
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FolderMoveIn"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FolderOut"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Rename / move a folder by stable ID (cascade descendants)
  /v0/folders/{fld_id}/copy:
    post:
      description: |-
        Clone the folder identified by URL id — and every descendant folder + artifact — under the body's `path` (canonical, trailing slash). Each copied artifact reuses the source's CAS object (zero new storage) but gets a fresh `art_…` ID, a fresh version 1, and `source.refs = [{type: 'artifact', id: '<source>'}]` provenance. The new folder gets a fresh `fld_…` ID and the source's description.

        The entire subtree is copied in a SINGLE transaction — either every row lands or none does.

        Quota: each copy's `size_bytes` counts against the drive's `storage_bytes` even though physical bytes are shared.

        Source-version pin: pass `from_metageneration` in the body to require the source folder's current `metageneration` to equal it (→ 412 SOURCE_VERSION_MISMATCH). Destination create-only: `If-None-Match: *` returns 412 CREATE_CONFLICT (instead of 409 FOLDER_PATH_CONFLICT) when the destination folder is occupied.

        Returns 409 `FOLDER_PATH_CONFLICT` if the destination collides with a live folder or artifact; 400 `FOLDER_PATH_INVALID` if `path` is non-canonical; 413 `SUBTREE_TOO_LARGE` if the source holds more than 5000 artifacts; 413 `STORAGE_QUOTA_EXCEEDED` if the copy would push the drive over its limit.
      operationId: copy_folder_by_id_v0_folders__fld_id__copy_post
      parameters:
      - explode: false
        in: path
        name: fld_id
        required: true
        schema:
          title: Fld Id
          type: string
        style: simple
      - explode: false
        in: header
        name: x-agentdrive-actor
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: if-none-match
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FolderCopyIn"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FolderCopyOut"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: "Duplicate a folder subtree to a new path (CAS-shared, new IDs)"
  /v0/folders/{fld_id}/restore:
    post:
      description: |-
        Mirrors `POST /v0/artifacts/{art_id}/restore` for folders: clear `deleted_at` + `purge_at` on a soft-deleted folder AND exactly the descendants soft-deleted in the same cascade (descendants trashed separately keep their trash state; restore those individually — the per-artifact restore remains for cherry-picking). Available only while the folder is in trash; returns 404 if it is live or already hard-purged.

        Returns 409 `PATH_CONFLICT` when a live folder/artifact now occupies a path this restore would reinstate (`colliding_path` + `kind` identify it). Unlike artifact restore there are NO `rename`/`overwrite` escape hatches — the whole cascade aborts; free the colliding path (or cherry-pick artifacts) and retry.

        `If-Match` (the trashed folder's composite ETag) makes the restore conditional → 412 PRECONDITION_FAILED on a stale token; omitted, the restore is last-writer-wins.
      operationId: restore_folder_by_id_v0_folders__fld_id__restore_post
      parameters:
      - explode: false
        in: path
        name: fld_id
        required: true
        schema:
          title: Fld Id
          type: string
        style: simple
      - explode: false
        in: header
        name: x-agentdrive-actor
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: if-match
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FolderRestoreOut"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Restore a soft-deleted folder (cascade)
  /v0/folders/{path}/move:
    post:
      description: |-
        Move the folder identified by URL path to the body's `path`. All descendant folders + artifacts are path-prefix-updated in the same transaction. The folder's `fld_*` ID stays stable.

        Returns 409 `FOLDER_PATH_CONFLICT` if the destination prefix collides with a live folder or artifact path.
      operationId: move_folder_by_path_v0_folders__path__move_post
      parameters:
      - explode: false
        in: path
        name: path
        required: true
        schema:
          title: Path
          type: string
        style: simple
      - explode: false
        in: header
        name: x-agentdrive-actor
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: if-match
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FolderMoveIn"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FolderOut"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Rename / move a folder (cascade-update descendants)
  /v0/folders/{path}:
    delete:
      description: |-
        Soft-delete the folder. Refuses if the folder has live descendants unless `?recursive=true` is set, in which case ALL descendant folders + artifacts are soft-deleted in the same transaction.

        Returns 409 `FOLDER_RECURSIVE_REQUIRED` (with descendant counts in `colliding_path`) when recursion is needed but the flag isn't set. Retention window is frozen on `purge_at` per deletion-design.md §5.1; mid-retention tier changes don't shift it.
      operationId: delete_folder_by_path_v0_folders__path__delete
      parameters:
      - explode: false
        in: path
        name: path
        required: true
        schema:
          title: Path
          type: string
        style: simple
      - explode: true
        in: query
        name: recursive
        required: false
        schema:
          default: false
          title: Recursive
          type: boolean
        style: form
      - explode: false
        in: header
        name: x-agentdrive-actor
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: if-match
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FolderDeleteOut"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Soft-delete a folder (cascade with ?recursive=true)
    get:
      operationId: get_folder_by_path_v0_folders__path__get
      parameters:
      - explode: false
        in: path
        name: path
        required: true
        schema:
          title: Path
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FolderOut"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Read folder metadata by path
    patch:
      description: Partial update — field absence leaves the value unchanged; explicit
        `null` clears the field. Use the by-id endpoint (slice 2) when you need stable
        addressing across renames.
      operationId: patch_folder_by_path_v0_folders__path__patch
      parameters:
      - explode: false
        in: path
        name: path
        required: true
        schema:
          title: Path
          type: string
        style: simple
      - explode: false
        in: header
        name: x-agentdrive-actor
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: if-match
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FolderPatchIn"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FolderOut"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Update folder metadata by path
    put:
      description: |-
        Create a folder at the URL path. Idempotent create-at-known-URI (mirrors `PUT /v0/artifacts/{path}`) — a second call for the same live path returns the existing row unchanged (metadata updates require PATCH). Returns 201 on create, 200 when the folder already exists.

        Send `If-None-Match: *` to make it strictly create-only: an existing folder then returns 412 CREATE_CONFLICT instead of the idempotent 200.

        Returns 409 `FOLDER_PATH_CONFLICT` if a live artifact occupies the file form of the path (e.g. mkdir `/foo/` when an artifact lives at `/foo`).
      operationId: create_folder_by_path_v0_folders__path__put
      parameters:
      - explode: false
        in: path
        name: path
        required: true
        schema:
          title: Path
          type: string
        style: simple
      - explode: false
        in: header
        name: x-agentdrive-actor
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: if-none-match
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: "#/components/schemas/FolderCreateIn"
              nullable: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FolderOut"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Create a folder (idempotent)
  /v0/folders/{path}/meta:
    get:
      operationId: get_folder_by_path_meta_v0_folders__path__meta_get
      parameters:
      - explode: false
        in: path
        name: path
        required: true
        schema:
          title: Path
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FolderOut"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Folder metadata by path (same shape as the bare path route)
  /v0/events:
    get:
      description: |-
        Returns events newest-first. Filters compose with AND.

        **Cursor pagination:** pass the oldest event's `created_at` from the previous page as `before` to fetch the next page back in time. Combine `since` + `before` to bound a window.
      operationId: list_events_route_v0_events_get
      parameters:
      - explode: true
        in: query
        name: art_id
        required: false
        schema:
          description: Restore at this path instead of the original. Soft-deletes
            the live occupant at the original path with audit `metadata.cause='restore_conflict_rename'`.
            Mutually exclusive with `overwrite`.
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: action
        required: false
        schema:
          description: Restore at this path instead of the original. Soft-deletes
            the live occupant at the original path with audit `metadata.cause='restore_conflict_rename'`.
            Mutually exclusive with `overwrite`.
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: since
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: before
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 200
          minimum: 1
          title: Limit
          type: integer
        style: form
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventPage"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Read the append-only event log for the authenticated drive
  /v0/drives/me:
    get:
      description: |-
        Drive overview for the authenticated bearer token.

        Wire-protocol preservation (WorkOS integration §6): the `email` field
        is preserved in the response shape; its meaning is now "the drive's
        owner's email" (via `drives.owner_user_id` → `users.email`, joined
        in `auth.resolve_drive`). For solo signups this equals v0 behavior —
        the email the user signed up with. Returns null if the owner has
        been hard-purged. `organization_id` is a new additive field, as are
        `metageneration` / `etag` (also emitted as the `ETag` header).
      operationId: me_v0_drives_me_get
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Me
  /v0/drives/me/usage:
    get:
      description: "Unified view of every metered dimension: storage (snapshot), writes\
        \ (current hour), indexing ops + retrieval queries (current calendar month\
        \ UTC). Each row carries `used` and `limit`; `limit: 0` means unlimited (the\
        \ v0 free-tier default for the two monthly counters). Reads are de-throttled\
        \ — there is no hourly read budget; the monthly read count appears under `ops_this_month.reads`."
      operationId: me_usage_v0_drives_me_usage_get
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Current-period usage + caps for the authenticated drive
  /v0/feedback:
    post:
      description: |-
        File feedback. Body: `{kind, title, body, contact?,
        attachments?: [art_id, ...]}` — attachments are snapshotted from
        this drive's artifacts at submit time.
      operationId: post_feedback_v0_feedback_post
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "201":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Post Feedback
  /v0/feedback/{fbk_id}:
    get:
      description: |-
        Lifecycle status of feedback THIS drive filed. Foreign tickets
        read as 404 — indistinguishable from absent.
      operationId: get_feedback_status_v0_feedback__fbk_id__get
      parameters:
      - explode: false
        in: path
        name: fbk_id
        required: true
        schema:
          title: Fbk Id
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FeedbackStatusOut"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Get Feedback Status
  /v0/grants:
    get:
      description: "**Cursor pagination:** when more results exist, the response carries\
        \ `next_cursor`. Pass it back as `?cursor=<token>` to fetch the next page;\
        \ `null` means the listing is complete. `limit` is clamped to [1, 100] (default\
        \ 50), never rejected. The `resource` filter must be re-sent on every page\
        \ — the cursor encodes only the keyset position."
      operationId: list_grants_route_v0_grants_get
      parameters:
      - description: art_*/fld_* id or a path
        explode: true
        in: query
        name: resource
        required: true
        schema:
          description: art_*/fld_* id or a path
          title: Resource
          type: string
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          nullable: true
          type: integer
        style: form
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GrantList"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: List live grants on a resource (requires can_manage)
    post:
      operationId: create_grant_route_v0_grants_post
      parameters:
      - explode: false
        in: header
        name: x-agentdrive-actor
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GrantCreateIn"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GrantOut"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Create (or fetch) a per-principal grant on a resource
  /v0/grants/{grn_id}:
    delete:
      operationId: delete_grant_route_v0_grants__grn_id__delete
      parameters:
      - explode: false
        in: path
        name: grn_id
        required: true
        schema:
          title: Grn Id
          type: string
        style: simple
      - explode: false
        in: header
        name: x-agentdrive-actor
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RevokeOut"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: "Revoke a grant (can_manage, or self-revoke own grant)"
    get:
      description: |-
        The `Location` target of `POST /v0/grants`. Authorization mirrors
        DELETE: `can_manage` on the granted resource, or the caller IS the
        grant's own principal (a grantee may read — like revoke — their own
        grant). A revoked grant reads as 404 (same no-leak shape as a
        foreign/absent id); DELETE stays idempotent on it.
      operationId: get_grant_route_v0_grants__grn_id__get
      parameters:
      - explode: false
        in: path
        name: grn_id
        required: true
        schema:
          title: Grn Id
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GrantOut"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: "Read a single grant (can_manage, or the grant's own principal)"
    patch:
      operationId: patch_grant_route_v0_grants__grn_id__patch
      parameters:
      - explode: false
        in: path
        name: grn_id
        required: true
        schema:
          title: Grn Id
          type: string
        style: simple
      - explode: false
        in: header
        name: x-agentdrive-actor
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GrantPatchIn"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GrantOut"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Update a grant's role and/or expiry (requires can_manage)
  /v0/shares:
    get:
      description: "**Cursor pagination:** when more results exist, the response carries\
        \ `next_cursor`. Pass it back as `?cursor=<token>` to fetch the next page;\
        \ `null` means the listing is complete. `limit` is clamped to [1, 100] (default\
        \ 50), never rejected. The `resource` filter must be re-sent on every page\
        \ — the cursor encodes only the keyset position."
      operationId: list_shares_route_v0_shares_get
      parameters:
      - description: art_*/fld_* id or a path
        explode: true
        in: query
        name: resource
        required: true
        schema:
          description: art_*/fld_* id or a path
          title: Resource
          type: string
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          nullable: true
          type: integer
        style: form
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShareList"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: List live share links on a resource (requires can_manage)
    post:
      operationId: create_share_route_v0_shares_post
      parameters:
      - explode: false
        in: header
        name: x-agentdrive-actor
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ShareCreateIn"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShareMintOut"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Mint a share link (returns the share_key once)
  /v0/shares/{shr_id}:
    delete:
      operationId: delete_share_route_v0_shares__shr_id__delete
      parameters:
      - explode: false
        in: path
        name: shr_id
        required: true
        schema:
          title: Shr Id
          type: string
        style: simple
      - explode: false
        in: header
        name: x-agentdrive-actor
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RevokeOut"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Revoke a share link (requires can_manage)
    get:
      description: |-
        The `Location` target of `POST /v0/shares`. Metadata ONLY —
        `ShareOut` never carries the raw `share_key`/URL (returned exactly
        once at mint/rotate, §4.5). Authorization mirrors DELETE:
        `can_manage` on the shared resource. A revoked share reads as 404
        (same no-leak shape as a foreign/absent id).
      operationId: get_share_route_v0_shares__shr_id__get
      parameters:
      - explode: false
        in: path
        name: shr_id
        required: true
        schema:
          title: Shr Id
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShareOut"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Read a single share link's metadata (requires can_manage)
  /v0/shares/{shr_id}/rotate:
    post:
      operationId: rotate_share_route_v0_shares__shr_id__rotate_post
      parameters:
      - explode: false
        in: path
        name: shr_id
        required: true
        schema:
          title: Shr Id
          type: string
        style: simple
      - explode: false
        in: header
        name: x-agentdrive-actor
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShareMintOut"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Revoke + reissue a share link's key (requires can_share)
  /v0/tokens:
    get:
      description: |-
        List the `ad_user_` tokens belonging to the authenticated user. Metadata only — the raw token is shown once at mint (web only) and is never returned here. Includes recently-revoked tokens (with `revoked_at` set) so the caller can audit them; newest first.

        **Cursor pagination:** when more results exist, the response carries `next_cursor`. Pass it back as `?cursor=<token>` to fetch the next page; `null` means the listing is complete. `limit` is clamped to [1, 100] (default 50), never rejected.
      operationId: list_tokens_v0_tokens_get
      parameters:
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          nullable: true
          type: integer
        style: form
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserTokenList"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: List your user-identity tokens
      tags:
      - tokens
  /v0/tokens/{token_id}/revoke:
    post:
      description: "Revoke a single `ad_user_` token by id. Scoped to the authenticated\
        \ user: a token id that isn't yours returns 404 (no-leak). Idempotent — revoking\
        \ an already-revoked token also returns 404 (it is no longer a live token\
        \ of yours to revoke). On success the revoked token's metadata is returned\
        \ with `revoked_at` set."
      operationId: revoke_token_v0_tokens__token_id__revoke_post
      parameters:
      - explode: false
        in: path
        name: token_id
        required: true
        schema:
          title: Token Id
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserTokenOut"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Revoke one of your user-identity tokens
      tags:
      - tokens
  /v0/drives:
    get:
      description: |-
        Returns drive **metadata** (workspaces-design §4.2): an **admin** sees the whole active workspace's drive inventory (every owner); a **member** sees only the drives they own. Metadata only — owner, size, timestamps — never a raw API key, and never an authorization to read a drive's contents. A `read`-scope token may call this; mutations require `full`.

        **Cursor pagination:** when more results exist, the response carries `next_cursor`. Pass it back as `?cursor=<token>` to fetch the next page; `null` means the listing is complete. `limit` is clamped to [1, 100] (default 50), never rejected.
      operationId: list_drives_route_v0_drives_get
      parameters:
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          nullable: true
          type: integer
        style: form
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DriveList"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: List the drives you can see
      tags:
      - drives
    post:
      description: |-
        Create a named drive. Any **member** of the space may create one; the creator becomes its **owner**. Requires a `full`-scope user token. The response carries the drive's `ad_live_` API key **once** (`api_key`) — store it now, it is never returned again (mint more keys via `POST /v0/drives/{id}/keys`).

        The target workspace is the user's active organization (`users.default_org`); cross-workspace creation names no other workspace in v0.

        A space may hold up to its plan's drive limit (workspaces-v2 §4.6; seat-aware for shared drives). A caller at the limit is blocked with `403 DRIVE_LIMIT_REACHED`; the limit is tier-governed, not a hard cap.
      operationId: create_drive_route_v0_drives_post
      parameters:
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DriveCreateIn"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DriveCreateOut"
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
          description: Validation Error
      summary: Create a drive in your active space
      tags:
      - drives
  /v0/drives/{drive_id}/keys:
    get:
      description: |-
[...]
