openapi: 3.1.0
info:
  description: "AgentDrive is an agent-focused artifact store: drive-scoped folders,\
    \ artifacts, and immutable versions, with local grants, possession-based share\
    \ links, drive-scoped search, and a cursor-resumable change feed. Bearer-authenticated\
    \ with Hub-issued product tokens (see /.well-known/oauth-protected-resource);\
    \ every mutation takes an Idempotency-Key, and existing-state mutations take If-Match."
  title: AgentDrive
  version: <PINNED>
servers:
- description: AgentDrive public API
  url: https://api.agentdrive.run
paths:
  /.well-known/oauth-protected-resource:
    get:
      description: Names the reset v0 surface as a protected resource and points clients
        at Hub — the only authorization server whose product tokens this deployment
        accepts.
      operationId: oauth_protected_resource
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  nullable: true
                title: Response Oauth Protected Resource
          description: Successful Response
      summary: Protected-resource metadata (RFC 9728)
      tags:
      - discovery
  /health:
    get:
      description: |-
        Liveness + DB-reachability probe. Used by Cloud Run / k8s healthchecks
        and any uptime monitor. Returns 200 only if the DB pool can serve a
        trivial query; 503 otherwise so the orchestrator can pull the instance
        out of rotation.

        NOTE: route is `/health`, NOT `/healthz`. Google's edge infrastructure
        intercepts `/healthz` (legacy kubernetes-reserved path) and returns a
        generic 404 before traffic reaches Cloud Run — discovered the hard way
        during the first prod deploy. Don't rename back.
      operationId: health
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthOut"
          description: Successful Response
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthDegradedResponse"
          description: The database reachability probe failed.
      summary: Health
  /s/{share_key}:
    get:
      description: |-
        The un-slashed form. Browsers are canonicalized onto `/s/{key}/`.

        This inherits the published `shares_redeem` operation id from the route it
        replaced, because for an API client it *is* that operation, unchanged:
        same URL, same JSON `Accept`, same bytes, same uniform 404. Only the
        browser arm is new. Dropping it from the spec would have described the
        route as gone while it kept answering.

        The page links its own sub-resources relatively (`content`), and relative
        resolution replaces the last path segment: from `/s/KEY` that reaches
        `/s/content`, from `/s/KEY/` it reaches `/s/KEY/content`. The trailing
        slash is what makes an image on a share page load at all. Links already in
        the wild have no slash, so this redirect is how they keep working.

        It is unconditional and runs before any lookup — redirecting only for keys
        that resolve would turn the status code into an existence oracle and undo
        the anti-enumeration property the rest of this module maintains.

        Only browsers are moved. JSON and byte clients are answered in place, so
        the shipped v0 contract for this URL is unchanged, redirect included.
      operationId: shares_redeem
      parameters:
      - explode: false
        in: path
        name: share_key
        required: true
        schema:
          title: Share Key
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Request validation failed.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                nullable: true
                type: string
              style: simple
      summary: Redeem Share
      tags:
      - shares-redemption
  /v0/drives:
    get:
      description: |-
        List the actor's workspace drives, newest-first (keyset paginated).

        ``lifecycle`` (active|deleted|all) exposes soft-deleted drives so a
        manager can read the post-delete revision as the If-Match source for a
        restore. Unknown query parameters are rejected (§6.3).
      operationId: drives_list
      parameters:
      - explode: true
        in: query
        name: lifecycle
        required: false
        schema:
          default: active
          title: Lifecycle
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          nullable: true
          type: integer
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DriveListOut"
          description: Successful Response
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_list_400_response"
          description: "Malformed request (invalid query parameter, cursor, or argument)."
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_list_400_response"
          description: Missing or invalid bearer token.
          headers:
            WWW-Authenticate:
              description: RFC 6750 bearer authentication challenge.
              explode: false
              schema:
                nullable: true
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_list_400_response"
          description: Token lacks a required scope.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_list_400_response"
          description: The resource was not found or is not visible to the caller.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Request validation failed.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_list_400_response"
          description: Rate limited.
          headers:
            Retry-After:
              description: Seconds until the caller should retry.
              explode: false
              schema:
                minimum: 0
                type: integer
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_list_400_response"
          description: "Token verification is temporarily unavailable (the Hub JWKS\
            \ could not be fetched). This is the API's unavailability, not a problem\
            \ with the presented credential."
          headers:
            Retry-After:
              description: Seconds until the caller should retry.
              explode: false
              schema:
                minimum: 0
                type: integer
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
      security:
      - bearerAuth: []
      summary: List Drives
      tags:
      - drives
    post:
      description: |-
        Create a drive with its structural root folder and creator-manager
        grant(s) in one transaction; idempotent under the ``Idempotency-Key``.
      operationId: drives_create
      parameters:
      - explode: false
        in: header
        name: Idempotency-Key
        required: true
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DriveCreateIn"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DriveOut"
          description: Successful Response
          headers:
            ETag:
              description: Current strong entity tag.
              explode: false
              schema:
                nullable: true
                type: string
              style: simple
            Location:
              description: Canonical URL of the created resource.
              explode: false
              schema:
                format: uri-reference
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: "Malformed request (invalid query parameter, cursor, or argument)."
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: Missing or invalid bearer token.
          headers:
            WWW-Authenticate:
              description: RFC 6750 bearer authentication challenge.
              explode: false
              schema:
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: Token lacks a required scope.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_list_400_response"
          description: The parent or target resource was not found or is not visible.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_list_400_response"
          description: "A sibling already occupies the name/path, or the idempotency\
            \ key was reused for a different request."
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "412":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_list_400_response"
          description: If-Match did not match (copy/restore preconditions).
          headers:
            ETag:
              description: Current strong entity tag.
              explode: false
              schema:
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Request validation failed.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "428":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_list_400_response"
          description: If-Match is required for this mutation.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: Rate limited.
          headers:
            Retry-After:
              description: Seconds until the caller should retry.
              explode: false
              schema:
                minimum: 0
                type: integer
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: "Token verification is temporarily unavailable (the Hub JWKS\
            \ could not be fetched). This is the API's unavailability, not a problem\
            \ with the presented credential."
          headers:
            Retry-After:
              description: Seconds until the caller should retry.
              explode: false
              schema:
                minimum: 0
                type: integer
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
      security:
      - bearerAuth: []
      summary: Create Drive
      tags:
      - drives
  /v0/drives/{drive_id}:
    delete:
      description: |-
        Soft-delete a drive. Returns 200 with the deleted representation so the
        client has the post-delete revision/ETag for a restore.
      operationId: drives_delete
      parameters:
      - explode: false
        in: path
        name: drive_id
        required: true
        schema:
          title: Drive Id
          type: string
        style: simple
      - explode: false
        in: header
        name: Idempotency-Key
        required: true
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: If-Match
        required: true
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DriveOut"
          description: Successful Response
          headers:
            ETag:
              description: Current strong entity tag.
              explode: false
              schema:
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: "Malformed request (invalid query parameter, cursor, or argument)."
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: Missing or invalid bearer token.
          headers:
            WWW-Authenticate:
              description: RFC 6750 bearer authentication challenge.
              explode: false
              schema:
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: Token lacks a required scope.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: The resource was not found or is not visible to the caller.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_list_400_response"
          description: "The mutation conflicts with current state (name/path, lifecycle)."
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "412":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_list_400_response"
          description: If-Match did not match the resource's current revision.
          headers:
            ETag:
              description: Current strong entity tag.
              explode: false
              schema:
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Request validation failed.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "428":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: If-Match is required for this mutation.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: Rate limited.
          headers:
            Retry-After:
              description: Seconds until the caller should retry.
              explode: false
              schema:
                minimum: 0
                type: integer
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: "Token verification is temporarily unavailable (the Hub JWKS\
            \ could not be fetched). This is the API's unavailability, not a problem\
            \ with the presented credential."
          headers:
            Retry-After:
              description: Seconds until the caller should retry.
              explode: false
              schema:
                minimum: 0
                type: integer
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
      security:
      - bearerAuth: []
      summary: Delete Drive
      tags:
      - drives
    get:
      description: |-
        Read one active drive. ETag = quoted revision; matching
        ``If-None-Match`` → 304. Deleted and cross-workspace drives are 404.
      operationId: drives_read
      parameters:
      - explode: false
        in: path
        name: drive_id
        required: true
        schema:
          title: Drive Id
          type: string
        style: simple
      - explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DriveOut"
          description: Successful Response
          headers:
            ETag:
              description: Current strong entity tag.
              explode: false
              schema:
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          description: If-None-Match matched the current ETag.
          headers:
            ETag:
              description: Current strong entity tag.
              explode: false
              schema:
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: "Malformed request (invalid query parameter, cursor, or argument)."
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: Missing or invalid bearer token.
          headers:
            WWW-Authenticate:
              description: RFC 6750 bearer authentication challenge.
              explode: false
              schema:
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: Token lacks a required scope.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: The resource was not found or is not visible to the caller.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Request validation failed.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: Rate limited.
          headers:
            Retry-After:
              description: Seconds until the caller should retry.
              explode: false
              schema:
                minimum: 0
                type: integer
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: "Token verification is temporarily unavailable (the Hub JWKS\
            \ could not be fetched). This is the API's unavailability, not a problem\
            \ with the presented credential."
          headers:
            Retry-After:
              description: Seconds until the caller should retry.
              explode: false
              schema:
                minimum: 0
                type: integer
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
      security:
      - bearerAuth: []
      summary: Read Drive
      tags:
      - drives
    patch:
      description: |-
        Rename / update a drive's metadata. Requires ``Idempotency-Key`` and
        ``If-Match`` (428 absent, 412 stale); bumps the revision.
      operationId: drives_update
      parameters:
      - explode: false
        in: path
        name: drive_id
        required: true
        schema:
          title: Drive Id
          type: string
        style: simple
      - explode: false
        in: header
        name: Idempotency-Key
        required: true
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: If-Match
        required: true
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DriveUpdateIn"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DriveOut"
          description: Successful Response
          headers:
            ETag:
              description: Current strong entity tag.
              explode: false
              schema:
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: "Malformed request (invalid query parameter, cursor, or argument)."
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: Missing or invalid bearer token.
          headers:
            WWW-Authenticate:
              description: RFC 6750 bearer authentication challenge.
              explode: false
              schema:
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: Token lacks a required scope.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: The resource was not found or is not visible to the caller.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: "The mutation conflicts with current state (name/path, lifecycle)."
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "412":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: If-Match did not match the resource's current revision.
          headers:
            ETag:
              description: Current strong entity tag.
              explode: false
              schema:
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Request validation failed.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "428":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: If-Match is required for this mutation.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: Rate limited.
          headers:
            Retry-After:
              description: Seconds until the caller should retry.
              explode: false
              schema:
                minimum: 0
                type: integer
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: "Token verification is temporarily unavailable (the Hub JWKS\
            \ could not be fetched). This is the API's unavailability, not a problem\
            \ with the presented credential."
          headers:
            Retry-After:
              description: Seconds until the caller should retry.
              explode: false
              schema:
                minimum: 0
                type: integer
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
      security:
      - bearerAuth: []
      summary: Update Drive
      tags:
      - drives
  /v0/drives/{drive_id}/artifacts:
    get:
      description: |-
        List the drive's artifacts, newest-first (keyset paginated).

        ``lifecycle`` (active|deleted|all) exposes soft-deleted artifacts.
        ``parent_id`` / ``name`` / ``content_type`` / ``label`` are exact-match
        filters; ``updated_after`` / ``updated_before`` are inclusive bounds.
        Unknown query parameters are rejected.
      operationId: artifacts_list
      parameters:
      - explode: false
        in: path
        name: drive_id
        required: true
        schema:
          title: Drive Id
          type: string
        style: simple
      - explode: true
        in: query
        name: lifecycle
        required: false
        schema:
          default: active
          title: Lifecycle
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          nullable: true
          type: integer
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: parent_id
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: name
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: content_type
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: label
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: updated_after
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: updated_before
        required: false
        schema:
          format: date-time
          nullable: true
          type: string
        style: form
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactListOut"
          description: Successful Response
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: "Malformed request (invalid query parameter, cursor, or argument)."
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: Missing or invalid bearer token.
          headers:
            WWW-Authenticate:
              description: RFC 6750 bearer authentication challenge.
              explode: false
              schema:
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: Token lacks a required scope.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: The resource was not found or is not visible to the caller.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Request validation failed.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: Rate limited.
          headers:
            Retry-After:
              description: Seconds until the caller should retry.
              explode: false
              schema:
                minimum: 0
                type: integer
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: "Token verification is temporarily unavailable (the Hub JWKS\
            \ could not be fetched). This is the API's unavailability, not a problem\
            \ with the presented credential."
          headers:
            Retry-After:
              description: Seconds until the caller should retry.
              explode: false
              schema:
                minimum: 0
                type: integer
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
      security:
      - bearerAuth: []
      summary: List Artifacts
      tags:
      - artifacts
    post:
      description: |-
        Create one artifact with inline content — multipart only.

        Multipart only (415 for a JSON body). Parts: parent_id, name, metadata, content (bytes), content_type, sha256. parent_id, name, and content are required.
      operationId: artifacts_create
      parameters:
      - explode: false
        in: path
        name: drive_id
        required: true
        schema:
          title: Drive Id
          type: string
        style: simple
      - explode: false
        in: header
        name: Idempotency-Key
        required: true
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/artifacts_create_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactOut"
          description: Successful Response
          headers:
            ETag:
              description: Current strong entity tag.
              explode: false
              schema:
                type: string
              style: simple
            Location:
              description: Canonical URL of the created resource.
              explode: false
              schema:
                format: uri-reference
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: "Malformed request (invalid query parameter, cursor, or argument)."
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: Missing or invalid bearer token.
          headers:
            WWW-Authenticate:
              description: RFC 6750 bearer authentication challenge.
              explode: false
              schema:
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: Token lacks a required scope.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: The parent or target resource was not found or is not visible.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: "A sibling already occupies the name/path, or the idempotency\
            \ key was reused for a different request."
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "412":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: If-Match did not match (copy/restore preconditions).
          headers:
            ETag:
              description: Current strong entity tag.
              explode: false
              schema:
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Request validation failed.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "428":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: If-Match is required for this mutation.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: Rate limited.
          headers:
            Retry-After:
              description: Seconds until the caller should retry.
              explode: false
              schema:
                minimum: 0
                type: integer
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: "Token verification is temporarily unavailable (the Hub JWKS\
            \ could not be fetched). This is the API's unavailability, not a problem\
            \ with the presented credential."
          headers:
            Retry-After:
              description: Seconds until the caller should retry.
              explode: false
              schema:
                minimum: 0
                type: integer
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
      security:
      - bearerAuth: []
      summary: Create Artifact
      tags:
      - artifacts
  /v0/drives/{drive_id}/artifacts/{artifact_id}:
    delete:
      description: Soft-delete one artifact (its versions stay).
      operationId: artifacts_delete
      parameters:
      - explode: false
        in: path
        name: drive_id
        required: true
        schema:
          title: Drive Id
          type: string
        style: simple
      - explode: false
        in: path
        name: artifact_id
        required: true
        schema:
          title: Artifact Id
          type: string
        style: simple
      - explode: false
        in: header
        name: Idempotency-Key
        required: true
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: If-Match
        required: true
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactOut"
          description: Successful Response
          headers:
            ETag:
              description: Current strong entity tag.
              explode: false
              schema:
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: "Malformed request (invalid query parameter, cursor, or argument)."
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: Missing or invalid bearer token.
          headers:
            WWW-Authenticate:
              description: RFC 6750 bearer authentication challenge.
              explode: false
              schema:
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: Token lacks a required scope.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: The resource was not found or is not visible to the caller.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: "The mutation conflicts with current state (name/path, lifecycle)."
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "412":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: If-Match did not match the resource's current revision.
          headers:
            ETag:
              description: Current strong entity tag.
              explode: false
              schema:
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Request validation failed.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "428":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: If-Match is required for this mutation.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: Rate limited.
          headers:
            Retry-After:
              description: Seconds until the caller should retry.
              explode: false
              schema:
                minimum: 0
                type: integer
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: "Token verification is temporarily unavailable (the Hub JWKS\
            \ could not be fetched). This is the API's unavailability, not a problem\
            \ with the presented credential."
          headers:
            Retry-After:
              description: Seconds until the caller should retry.
              explode: false
              schema:
                minimum: 0
                type: integer
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
      security:
      - bearerAuth: []
      summary: Delete Artifact
      tags:
      - artifacts
    get:
      description: Read one active artifact. ``If-None-Match`` short-circuits to 304.
      operationId: artifacts_read
      parameters:
      - explode: false
        in: path
        name: drive_id
        required: true
        schema:
          title: Drive Id
          type: string
        style: simple
      - explode: false
        in: path
        name: artifact_id
        required: true
        schema:
          title: Artifact Id
          type: string
        style: simple
      - explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactOut"
          description: Successful Response
          headers:
            ETag:
              description: Current strong entity tag.
              explode: false
              schema:
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          description: If-None-Match matched the current ETag.
          headers:
            ETag:
              description: Current strong entity tag.
              explode: false
              schema:
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: "Malformed request (invalid query parameter, cursor, or argument)."
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: Missing or invalid bearer token.
          headers:
            WWW-Authenticate:
              description: RFC 6750 bearer authentication challenge.
              explode: false
              schema:
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: Token lacks a required scope.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: The resource was not found or is not visible to the caller.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Request validation failed.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: Rate limited.
          headers:
            Retry-After:
              description: Seconds until the caller should retry.
              explode: false
              schema:
                minimum: 0
                type: integer
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: "Token verification is temporarily unavailable (the Hub JWKS\
            \ could not be fetched). This is the API's unavailability, not a problem\
            \ with the presented credential."
          headers:
            Retry-After:
              description: Seconds until the caller should retry.
              explode: false
              schema:
                minimum: 0
                type: integer
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
      security:
      - bearerAuth: []
      summary: Read Artifact
      tags:
      - artifacts
    patch:
      description: Rename / move / set metadata or labels. At least one field required.
      operationId: artifacts_update
      parameters:
      - explode: false
        in: path
        name: drive_id
        required: true
        schema:
          title: Drive Id
          type: string
        style: simple
      - explode: false
        in: path
        name: artifact_id
        required: true
        schema:
          title: Artifact Id
          type: string
        style: simple
      - explode: false
        in: header
        name: Idempotency-Key
        required: true
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: If-Match
        required: true
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ArtifactUpdateIn"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactOut"
          description: Successful Response
          headers:
            ETag:
              description: Current strong entity tag.
              explode: false
              schema:
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: "Malformed request (invalid query parameter, cursor, or argument)."
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: Missing or invalid bearer token.
          headers:
            WWW-Authenticate:
              description: RFC 6750 bearer authentication challenge.
              explode: false
              schema:
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: Token lacks a required scope.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: The resource was not found or is not visible to the caller.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: "The mutation conflicts with current state (name/path, lifecycle)."
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "412":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: If-Match did not match the resource's current revision.
          headers:
            ETag:
              description: Current strong entity tag.
              explode: false
              schema:
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Request validation failed.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "428":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: If-Match is required for this mutation.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: Rate limited.
          headers:
            Retry-After:
              description: Seconds until the caller should retry.
              explode: false
              schema:
                minimum: 0
                type: integer
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: "Token verification is temporarily unavailable (the Hub JWKS\
            \ could not be fetched). This is the API's unavailability, not a problem\
            \ with the presented credential."
          headers:
            Retry-After:
              description: Seconds until the caller should retry.
              explode: false
              schema:
                minimum: 0
                type: integer
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
      security:
      - bearerAuth: []
      summary: Update Artifact
      tags:
      - artifacts
  /v0/drives/{drive_id}/artifacts/{artifact_id}/content:
    get:
      description: Download the head version's bytes — stream or 307 signed URL.
      operationId: artifacts_content
      parameters:
      - explode: false
        in: path
        name: drive_id
        required: true
        schema:
          title: Drive Id
          type: string
        style: simple
      - explode: false
        in: path
        name: artifact_id
        required: true
        schema:
          title: Artifact Id
          type: string
        style: simple
      - explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: Raw artifact bytes (streamed).
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          description: If-None-Match matched the current ETag.
          headers:
            ETag:
              description: Current strong entity tag.
              explode: false
              schema:
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "307":
          description: Redirect to a short-lived signed URL.
          headers:
            Location:
              description: Redirect target.
              explode: false
              schema:
                format: uri-reference
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: "Malformed request (invalid query parameter, cursor, or argument)."
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: Missing or invalid bearer token.
          headers:
            WWW-Authenticate:
              description: RFC 6750 bearer authentication challenge.
              explode: false
              schema:
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: Token lacks a required scope.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: The resource was not found or is not visible to the caller.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Request validation failed.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: Rate limited.
          headers:
            Retry-After:
              description: Seconds until the caller should retry.
              explode: false
              schema:
                minimum: 0
                type: integer
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: "Token verification is temporarily unavailable (the Hub JWKS\
            \ could not be fetched). This is the API's unavailability, not a problem\
            \ with the presented credential."
          headers:
            Retry-After:
              description: Seconds until the caller should retry.
              explode: false
              schema:
                minimum: 0
                type: integer
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
      security:
      - bearerAuth: []
      summary: Read Artifact Content
      tags:
      - artifacts
  /v0/drives/{drive_id}/artifacts/{artifact_id}/copy:
    post:
      description: |-
        Copy one artifact within the same drive.

        Cross-drive copy is out of v0 scope and rejected (400 INVALID_ARGUMENT).
        ``destination_drive_id`` must equal the source drive when present.
        Materializes the artifact + its selected version synchronously → 201.
        ``If-Match`` is optional; when present it is validated against the source
        revision (412 stale).
      operationId: artifacts_copy
      parameters:
      - explode: false
        in: path
        name: drive_id
        required: true
        schema:
          title: Drive Id
          type: string
        style: simple
      - explode: false
        in: path
        name: artifact_id
        required: true
        schema:
          title: Artifact Id
          type: string
        style: simple
      - explode: false
        in: header
        name: Idempotency-Key
        required: true
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: If-Match
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ArtifactCopyIn"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactOut"
          description: Successful Response
          headers:
            ETag:
              description: Current strong entity tag.
              explode: false
              schema:
                type: string
              style: simple
            Location:
              description: Canonical URL of the created resource.
              explode: false
              schema:
                format: uri-reference
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: "Malformed request (invalid query parameter, cursor, or argument)."
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: Missing or invalid bearer token.
          headers:
            WWW-Authenticate:
              description: RFC 6750 bearer authentication challenge.
              explode: false
              schema:
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: Token lacks a required scope.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: The parent or target resource was not found or is not visible.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: "A sibling already occupies the name/path, or the idempotency\
            \ key was reused for a different request."
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "412":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: If-Match did not match (copy/restore preconditions).
          headers:
            ETag:
              description: Current strong entity tag.
              explode: false
              schema:
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Request validation failed.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "428":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: If-Match is required for this mutation.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: Rate limited.
          headers:
            Retry-After:
              description: Seconds until the caller should retry.
              explode: false
              schema:
                minimum: 0
                type: integer
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: "Token verification is temporarily unavailable (the Hub JWKS\
            \ could not be fetched). This is the API's unavailability, not a problem\
            \ with the presented credential."
          headers:
            Retry-After:
              description: Seconds until the caller should retry.
              explode: false
              schema:
                minimum: 0
                type: integer
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
      security:
      - bearerAuth: []
      summary: Copy Artifact
      tags:
      - artifacts
  /v0/drives/{drive_id}/artifacts/{artifact_id}/restore:
    post:
      description: Restore a soft-deleted artifact atomically.
      operationId: artifacts_restore
      parameters:
      - explode: false
        in: path
        name: drive_id
        required: true
        schema:
          title: Drive Id
          type: string
        style: simple
      - explode: false
        in: path
        name: artifact_id
        required: true
        schema:
          title: Artifact Id
          type: string
        style: simple
      - explode: false
        in: header
        name: Idempotency-Key
        required: true
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: If-Match
        required: true
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactOut"
          description: Successful Response
          headers:
            ETag:
              description: Current strong entity tag.
              explode: false
              schema:
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: "Malformed request (invalid query parameter, cursor, or argument)."
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: Missing or invalid bearer token.
          headers:
            WWW-Authenticate:
              description: RFC 6750 bearer authentication challenge.
              explode: false
              schema:
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: Token lacks a required scope.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: The resource was not found or is not visible to the caller.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: "The mutation conflicts with current state (name/path, lifecycle)."
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "412":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: If-Match did not match the resource's current revision.
          headers:
            ETag:
              description: Current strong entity tag.
              explode: false
              schema:
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Request validation failed.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "428":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: If-Match is required for this mutation.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: Rate limited.
          headers:
            Retry-After:
              description: Seconds until the caller should retry.
              explode: false
              schema:
                minimum: 0
                type: integer
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: "Token verification is temporarily unavailable (the Hub JWKS\
            \ could not be fetched). This is the API's unavailability, not a problem\
            \ with the presented credential."
          headers:
            Retry-After:
              description: Seconds until the caller should retry.
              explode: false
              schema:
                minimum: 0
                type: integer
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
      security:
      - bearerAuth: []
      summary: Restore Artifact
      tags:
      - artifacts
  /v0/drives/{drive_id}/artifacts/{artifact_id}/versions:
    get:
      description: "List the artifact's version trail, newest first (ordinal DESC)."
      operationId: versions_list
      parameters:
      - explode: false
        in: path
        name: drive_id
        required: true
        schema:
          title: Drive Id
          type: string
        style: simple
      - explode: false
        in: path
        name: artifact_id
        required: true
        schema:
          title: Artifact Id
          type: string
        style: simple
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          nullable: true
          type: integer
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          nullable: true
          type: string
        style: form
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VersionListOut"
          description: Successful Response
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: "Malformed request (invalid query parameter, cursor, or argument)."
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: Missing or invalid bearer token.
          headers:
            WWW-Authenticate:
              description: RFC 6750 bearer authentication challenge.
              explode: false
              schema:
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: Token lacks a required scope.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: The resource was not found or is not visible to the caller.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Request validation failed.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: Rate limited.
          headers:
            Retry-After:
              description: Seconds until the caller should retry.
              explode: false
              schema:
                minimum: 0
                type: integer
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/drives_create_400_response"
          description: "Token verification is temporarily unavailable (the Hub JWKS\
            \ could not be fetched). This is the API's unavailability, not a problem\
            \ with the presented credential."
          headers:
            Retry-After:
              description: Seconds until the caller should retry.
              explode: false
              schema:
                minimum: 0
                type: integer
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
      security:
      - bearerAuth: []
      summary: List Versions
      tags:
      - versions
    post:
      description: |-
        Append one immutable version and rotate the artifact head.

        Multipart only (415 for a JSON body). Parts: content (bytes), content_type, sha256. content is required; name, parent_id, and metadata are not accepted here.
      operationId: versions_append
      parameters:
      - explode: false
        in: path
        name: drive_id
        required: true
        schema:
          title: Drive Id
          type: string
        style: simple
      - explode: false
        in: path
        name: artifact_id
        required: true
        schema:
          title: Artifact Id
          type: string
        style: simple
      - explode: false
        in: header
        name: Idempotency-Key
        required: true
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: If-Match
        required: true
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: authorization
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/versions_append_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VersionCreatedOut"
          description: Successful Response
          headers:
            ETag:
              description: Current strong entity tag.
              explode: false
              schema:
                type: string
              style: simple
            Location:
              description: Canonical URL of the created resource.
              explode: false
[...]
