openapi: 3.1.0
info:
  description: "AgentDrive is an agent-focused artifact store: upload by path, share\
    \ by rendered URL, address by stable permalink. The REST surface is documented\
    \ here; the rendered viewer + agent claim flow live under `agentdrive.run`."
  title: AgentDrive
  version: <PINNED>
servers:
- description: AgentDrive public API
  url: https://api.agentdrive.run
paths:
  /.well-known/jwks.json:
    get:
      description: Public half of the RSA signing key for identity_assertion + access_token
        JWTs issued by AgentDrive. RFC 7517 shape. Cache-friendly; key rotation publishes
        both kids during the overlap window.
      operationId: jwks__well_known_jwks_json_get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JwksOut"
          description: Successful Response
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
      summary: JSON Web Key Set — public keys for verifying AgentDrive JWTs
      tags:
      - agent-auth
  /.well-known/oauth-authorization-server:
    get:
      description: Discovery document for the auth.md protocol. Carries the standard
        RFC 8414 fields plus an `agent_auth` block per the auth.md spec — the latter
        is what an agent runtime keys off to find the identity + claim endpoints.
      operationId: oauth_authorization_server__well_known_oauth_authorization_server_get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthorizationServerMetadataOut"
          description: Successful Response
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
      summary: Authorization-server metadata (RFC 8414 + auth.md agent_auth block)
      tags:
      - agent-auth
  /.well-known/oauth-protected-resource:
    get:
      description: Names this server as a protected resource and points clients at
        the authorization server they should obtain tokens from. In this design the
        resource server and authorization server are the same host.
      operationId: oauth_protected_resource__well_known_oauth_protected_resource_get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProtectedResourceMetadataOut"
          description: Successful Response
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
      summary: Protected-resource metadata (auth.md / RFC 9728-like discovery)
      tags:
      - agent-auth
  /.well-known/oauth-protected-resource/mcp:
    get:
      description: "Path-inserted variant of the protected-resource document. MCP\
        \ clients derive this URL from the resource URL `{origin}/mcp` (RFC 9728 §\
        3.1: insert the well-known segment between host and path) after reading the\
        \ WWW-Authenticate challenge on a 401 — it is the first hop of the client-side\
        \ OAuth flow."
      operationId: oauth_protected_resource_mcp__well_known_oauth_protected_resource_mcp_get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProtectedResourceMetadataOut"
          description: Successful Response
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
      summary: Protected-resource metadata for the MCP endpoint (RFC 9728 §3.1)
      tags:
      - agent-auth
  /a/{art_id}:
    get:
      description: |-
        Resolve a stable artifact ID to its path-URL and 302 there.

        Auth model matches the path URL: public artifacts redirect for
        anyone; private artifacts redirect only for the owner. Non-owners
        on private artifacts get 404 — same response as "doesn't exist",
        so the ID's existence isn't leaked. The forwarded query-param
        allowlist is `raw`, `download` (see _PERMALINK_FORWARDED_PARAMS).
      operationId: view_permalink_artifact_a__art_id__get
      parameters:
      - explode: false
        in: path
        name: art_id
        required: true
        schema:
          title: Art Id
          type: string
        style: simple
      responses:
        "302":
          description: Redirect to the canonical or authentication URL.
          headers:
            Location:
              description: Redirect target.
              explode: false
              schema:
                format: uri-reference
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: The artifact does not exist or is not readable.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Request validation failed.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
      summary: View Permalink Artifact
  /a/{art_id}/head:
    get:
      description: |-
        Return `{"version": <head version_number>}` for a readable artifact.

        Auth mirrors the permalink/viewer: the owner, or an `anyone:viewer`
        grant (a published artifact), reads. Two deliberate differences from
        the HTML viewer:

          * Never redirect to login. A poll is a background `fetch`, not a
            navigation — an HTML login page would be a useless body and a
            same-origin redirect the client can't act on. Anonymous callers
            on a private/absent artifact get a flat 404.
          * "Doesn't exist" and "exists but not readable" collapse to the
            same 404, so an anonymous poller can't use this as an existence
            oracle (matches the permalink/viewer leak guard).
      operationId: view_artifact_head_a__art_id__head_get
      parameters:
      - explode: false
        in: path
        name: art_id
        required: true
        schema:
          title: Art Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactHeadOut"
          description: Successful Response
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Request validation failed.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
      summary: View Artifact Head
  /agent/identity:
    post:
      description: |-
        Two registration modes:

        **`type=anonymous`** — Provisions a brand-new agent identity bound to a fresh shadow-org drive. No human involved; returned `identity_assertion` carries `scope=pre_claim`. A human completes the claim ceremony later via /claim.

        **`type=identity_assertion`** — Agent provider (e.g. WorkOS) has already minted an ID-JAG asserting a user identity binding. We verify it against the provider's JWKS and provision a **claimed** identity immediately: scope=full, drive bound to the user, no claim ceremony needed.
      operationId: register_agent_identity_agent_identity_post
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties:
                nullable: true
              title: Body
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnonymousIdentityResponse"
          description: Successful Response
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/register_agent_identity_agent_identity_post_422_response"
          description: Request validation failed.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Agent identity signing is not configured.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
      summary: Register an agent identity (anonymous or ID-JAG)
      tags:
      - agent-auth
  /agent/identity/claim:
    post:
      description: "Returns a `user_code` and `verification_uri` (RFC 8628 device-code\
        \ idiom). The agent surfaces these to the human, who visits the URI, signs\
        \ in, and approves the claim. The agent then polls POST /oauth2/token (grant_type=claim)\
        \ with the same `claim_token` to learn when the claim completes."
      operationId: initiate_claim_agent_identity_claim_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ClaimInitRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClaimInitResponse"
          description: Successful Response
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Request validation failed.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
      summary: Initiate the human-claim ceremony for an agent identity
      tags:
      - agent-auth
  /auth/callback:
    get:
      description: |-
        Complete a sign-in.

        Handles the auth provider's OAuth callback and shapes failures into
        user-readable errors:
          * an invalid or expired login flow — LOGIN_FLOW_INVALID (400);
          * an invalid or already-used authorization code — AUTH_CODE_INVALID (400);
          * the upstream auth provider being unavailable — WORKOS_UNAVAILABLE (502),
            returned with Retry-After.
      operationId: callback_auth_callback_get
      parameters:
      - explode: true
        in: query
        name: code
        required: false
        schema:
          description: Restore at this path instead of the original. Soft-deletes
            the live occupant at the original path with audit `metadata.cause='restore_conflict_rename'`.
            Mutually exclusive with `overwrite`.
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: state
        required: false
        schema:
          description: Restore at this path instead of the original. Soft-deletes
            the live occupant at the original path with audit `metadata.cause='restore_conflict_rename'`.
            Mutually exclusive with `overwrite`.
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: error
        required: false
        schema:
          description: Restore at this path instead of the original. Soft-deletes
            the live occupant at the original path with audit `metadata.cause='restore_conflict_rename'`.
            Mutually exclusive with `overwrite`.
          nullable: true
          type: string
        style: form
      responses:
        "200":
          content:
            text/html:
              schema:
                description: Restore at this path instead of the original. Soft-deletes
                  the live occupant at the original path with audit `metadata.cause='restore_conflict_rename'`.
                  Mutually exclusive with `overwrite`.
                nullable: true
                type: string
          description: Extension authentication handoff page.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "302":
          description: Redirect to the canonical or authentication URL.
          headers:
            Location:
              description: Redirect target.
              explode: false
              schema:
                format: uri-reference
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: The login flow or authorization code is invalid.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
            text/html:
              schema:
                description: Restore at this path instead of the original. Soft-deletes
                  the live occupant at the original path with audit `metadata.cause='restore_conflict_rename'`.
                  Mutually exclusive with `overwrite`.
                nullable: true
                type: string
          description: Account recovery is required or the Hub principal conflicts
            with the existing account link.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Request validation failed.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "502":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: The upstream identity provider is temporarily unavailable.
          headers:
            Retry-After:
              description: Seconds until the caller should retry.
              explode: false
              schema:
                minimum: 0
                type: integer
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Extension authentication is temporarily disabled.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
      summary: Callback
  /auth/extension/start:
    get:
      description: |-
        Begin a sign-in flow on behalf of a Chrome extension.

        Provider follows AUTH_MODE (WorkOS AuthKit or the TokenCanopy hub),
        exactly like /auth/login. Stamps `for=ext` + `ext_id` into the
        signed OAuth state so the callback handler knows to render the
        extension handoff page instead of setting a session cookie.

        Three short-circuits, all surface as actionable errors:
          * EXTENSION_AUTH_DISABLED (503): kill switch flipped off.
          * UNKNOWN_EXTENSION (400): `ext_id` not on the allow-list.
          * Missing `ext_id` query string (400 INVALID_REQUEST).
      operationId: extension_start_auth_extension_start_get
      parameters:
      - explode: true
        in: query
        name: ext_id
        required: false
        schema:
          description: Restore at this path instead of the original. Soft-deletes
            the live occupant at the original path with audit `metadata.cause='restore_conflict_rename'`.
            Mutually exclusive with `overwrite`.
          nullable: true
          type: string
        style: form
      responses:
        "302":
          description: Redirect to the canonical or authentication URL.
          headers:
            Location:
              description: Redirect target.
              explode: false
              schema:
                format: uri-reference
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: The extension ID is missing or not allowed.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Request validation failed.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Extension authentication is temporarily disabled.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
      summary: Extension Start
  /auth/login:
    get:
      description: |-
        Begin a WorkOS sign-in flow.

        Mints a pre-login state cookie (binds the OAuth flow to this
        browser — defense-in-depth against login-CSRF), signs a state
        payload, and redirects to AuthKit. The hosted AuthKit page lets
        the user pick Google OAuth, Microsoft OAuth, magic-link,
        password, or passkey; we don't care which — they all funnel
        back to /auth/callback with a `code` we exchange in D2.
      operationId: login_auth_login_get
      parameters:
      - explode: true
        in: query
        name: return_to
        required: false
        schema:
          description: Restore at this path instead of the original. Soft-deletes
            the live occupant at the original path with audit `metadata.cause='restore_conflict_rename'`.
            Mutually exclusive with `overwrite`.
          nullable: true
          type: string
        style: form
      responses:
        "302":
          description: Redirect to the canonical or authentication URL.
          headers:
            Location:
              description: Redirect target.
              explode: false
              schema:
                format: uri-reference
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Request validation failed.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
      summary: Login
  /auth/logout:
    post:
      description: |-
        Terminate both the local session AND the upstream WorkOS session.

        Without the WorkOS-side termination, the next `/auth/login` flow
        silently re-authenticates the user through AuthKit's still-valid
        session cookie on `api.workos.com` — "Sign out" feels broken and
        a shared-browser user can't switch accounts. The recommended
        pattern (per https://workos.com/docs/authkit/sessions) is to
        redirect to the WorkOS logout endpoint with the `sid` we stashed
        during the callback; WorkOS clears its own session and returns
        the browser to our `return_to`.

        Failure modes handled:
          * No `workos_session_id` in the session (legacy v2 cookie issued
            before this slice landed): fall back to local-only logout. The
            upstream session lingers but the user's local state is cleared
            — same UX as before this slice; cookie rotation on next sign-in
            eventually overwrites it.
          * SDK raises during `get_logout_url`: pure string formatting at
            WorkOS's end, so the only realistic failure is a misconfigured
            WorkOS dashboard (no Sign-out redirect registered). We catch
            and fall back to local-only logout rather than 500ing — the
            user clicked "Sign out", they should land somewhere, not on an
            error page.
      operationId: logout_auth_logout_post
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/Body_logout_auth_logout_post"
        required: true
      responses:
        "302":
          description: Redirect to the canonical or authentication URL.
          headers:
            Location:
              description: Redirect target.
              explode: false
              schema:
                format: uri-reference
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: The browser CSRF check failed.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Request validation failed.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
      summary: Logout
  /f/{fld_id}:
    get:
      description: |-
        Resolve a stable folder ID to its current path-URL and 302.

        Auth model mirrors the artifact permalink: public folder = anon
        OK; private folder = owner only, otherwise 404 (no existence
        leak). "Public" is an `anyone:viewer` grant on the `fld_*` id
        resolved through `can_read` (§4.4); folders carry no visibility
        flag of their own.
      operationId: view_permalink_folder_f__fld_id__get
      parameters:
      - explode: false
        in: path
        name: fld_id
        required: true
        schema:
          title: Fld Id
          type: string
        style: simple
      responses:
        "302":
          description: Redirect to the canonical or authentication URL.
          headers:
            Location:
              description: Redirect target.
              explode: false
              schema:
                format: uri-reference
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: The folder does not exist or is not readable.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Request validation failed.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
      summary: View Permalink Folder
  /health:
    get:
      description: |-
        Liveness + DB-reachability probe. Used by Cloud Run / k8s healthchecks
        and any uptime monitor. Returns 200 only if the DB pool can serve a
        trivial query; 503 otherwise so the orchestrator can pull the instance
        out of rotation.

        NOTE: route is `/health`, NOT `/healthz`. Google's edge infrastructure
        intercepts `/healthz` (legacy kubernetes-reserved path) and returns a
        generic 404 before traffic reaches Cloud Run — discovered the hard way
        during the first prod deploy. Don't rename back.
      operationId: health_health_get
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthOut"
          description: Successful Response
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthDegradedResponse"
          description: The database reachability probe failed.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
      summary: Health
  /oauth2/authorize:
    get:
      operationId: authorize_page_oauth2_authorize_get
      responses:
        "200":
          content:
            text/html:
              schema:
                description: Restore at this path instead of the original. Soft-deletes
                  the live occupant at the original path with audit `metadata.cause='restore_conflict_rename'`.
                  Mutually exclusive with `overwrite`.
                nullable: true
                type: string
          description: Successful Response
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "302":
          description: Redirect to the canonical or authentication URL.
          headers:
            Location:
              description: Redirect target.
              explode: false
              schema:
                format: uri-reference
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthProtocolErrorOut"
          description: The authorization request is invalid.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Authorization rate limit exceeded.
          headers:
            Retry-After:
              description: Seconds until the caller should retry.
              explode: false
              schema:
                minimum: 0.0
                type: integer
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
      summary: Authorize Page
      tags:
      - mcp-oauth-ui
    post:
      operationId: authorize_decision_oauth2_authorize_post
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/Body_authorize_decision_oauth2_authorize_post"
        required: true
      responses:
        "302":
          description: Redirect to the canonical or authentication URL.
          headers:
            Location:
              description: Redirect target.
              explode: false
              schema:
                format: uri-reference
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "303":
          description: Continue after the form submission at the redirect target.
          headers:
            Location:
              description: Redirect target.
              explode: false
              schema:
                format: uri-reference
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthProtocolErrorOut"
          description: The authorization decision or request is invalid.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/authorize_decision_oauth2_authorize_post_403_response"
          description: The selected drive is unavailable or the browser CSRF check
            failed.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Request validation failed.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Authorization rate limit exceeded.
          headers:
            Retry-After:
              description: Seconds until the caller should retry.
              explode: false
              schema:
                minimum: 0.0
                type: integer
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
      summary: Authorize Decision
      tags:
      - mcp-oauth-ui
  /oauth2/register:
    post:
      description: "Anonymous registration endpoint for MCP clients. Public clients\
        \ only (PKCE, no client_secret). Returns the registered metadata plus the\
        \ assigned `client_id`. Registration grants nothing by itself — every token\
        \ still requires a user consent ceremony at /oauth2/authorize."
      operationId: oauth2_register_oauth2_register_post
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientRegistrationOut"
          description: Successful Response
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthProtocolErrorOut"
          description: Invalid client metadata.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Registration rate limit exceeded.
          headers:
            Retry-After:
              description: Seconds until the caller should retry.
              explode: false
              schema:
                minimum: 0.0
                type: integer
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
      summary: Dynamic Client Registration (RFC 7591)
      tags:
      - mcp-oauth
  /oauth2/revoke:
    post:
      description: "Revokes an `adat_` access token (that token only) or an `adrt_`\
        \ refresh token (the whole rotation chain). Unknown tokens return 200 per\
        \ RFC 7009 §2.2 — existence is not revealed. Public-client endpoint auth (`client_id`\
        \ form param, no secret)."
      operationId: oauth2_revoke_oauth2_revoke_post
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthRevocationOut"
          description: Successful Response
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthProtocolErrorOut"
          description: Invalid revocation request.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthProtocolErrorOut"
          description: Client authentication failed.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthProtocolErrorOut"
          description: Token type is unsupported.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Revocation rate limit exceeded.
          headers:
            Retry-After:
              description: Seconds until the caller should retry.
              explode: false
              schema:
                minimum: 0.0
                type: integer
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
      summary: Token revocation (RFC 7009)
      tags:
      - mcp-oauth
  /oauth2/token:
    post:
      description: |-
        Two grant types:

        **`urn:ietf:params:oauth:grant-type:jwt-bearer`** (RFC 7523) — body `assertion=<identity_assertion JWT>`. Returns a fresh 15-minute access_token with the same scope as the assertion.

        **`claim`** (custom) — body `claim_token=<from POST /agent/identity>`. Polling endpoint for the claim ceremony. Returns one of: `authorization_pending` (400), `expired_token` (400), `access_denied` (400), or access_token + new identity_assertion + scope=full (200).
      operationId: oauth2_token_oauth2_token_post
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/Body_oauth2_token_oauth2_token_post"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenResponse"
          description: Successful Response
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Request validation failed.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
      summary: Exchange a credential for an access_token
      tags:
      - agent-auth
  /s/{share_key}:
    get:
      operationId: redeem_share_s__share_key__get
      parameters:
      - explode: false
        in: path
        name: share_key
        required: true
        schema:
          title: Share Key
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShareRedeemOut"
            text/html:
              schema:
                description: Restore at this path instead of the original. Soft-deletes
                  the live occupant at the original path with audit `metadata.cause='restore_conflict_rename'`.
                  Mutually exclusive with `overwrite`.
                nullable: true
                type: string
          description: JSON capability response or browser password form.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "302":
          description: Browser redemption succeeded; continue to the canonical URL.
          headers:
            Location:
              description: Redirect target.
              explode: false
              schema:
                format: uri-reference
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShareErrorOut"
            text/html:
              schema:
                description: Restore at this path instead of the original. Soft-deletes
                  the live occupant at the original path with audit `metadata.cause='restore_conflict_rename'`.
                  Mutually exclusive with `overwrite`.
                nullable: true
                type: string
          description: A password is required or the supplied password is invalid.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShareErrorOut"
            text/html:
              schema:
                description: Restore at this path instead of the original. Soft-deletes
                  the live occupant at the original path with audit `metadata.cause='restore_conflict_rename'`.
                  Mutually exclusive with `overwrite`.
                nullable: true
                type: string
          description: "The share is invalid, expired, or no longer authorized."
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Request validation failed.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
      summary: Redeem Share
    post:
      operationId: redeem_share_with_password_s__share_key__post
      parameters:
      - explode: false
        in: path
        name: share_key
        required: true
        schema:
          title: Share Key
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/Body_redeem_share_with_password_s__share_key__post"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShareRedeemOut"
            text/html:
              schema:
                description: Restore at this path instead of the original. Soft-deletes
                  the live occupant at the original path with audit `metadata.cause='restore_conflict_rename'`.
                  Mutually exclusive with `overwrite`.
                nullable: true
                type: string
          description: JSON capability response or browser password form.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "302":
          description: Browser redemption succeeded; continue to the canonical URL.
          headers:
            Location:
              description: Redirect target.
              explode: false
              schema:
                format: uri-reference
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShareErrorOut"
            text/html:
              schema:
                description: Restore at this path instead of the original. Soft-deletes
                  the live occupant at the original path with audit `metadata.cause='restore_conflict_rename'`.
                  Mutually exclusive with `overwrite`.
                nullable: true
                type: string
          description: A password is required or the supplied password is invalid.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShareErrorOut"
            text/html:
              schema:
                description: Restore at this path instead of the original. Soft-deletes
                  the live occupant at the original path with audit `metadata.cause='restore_conflict_rename'`.
                  Mutually exclusive with `overwrite`.
                nullable: true
                type: string
          description: "The share is invalid, expired, or no longer authorized."
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Request validation failed.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
      summary: Redeem Share With Password
  /v/{art_id}/{version}:
    get:
      description: |-
        Render version `version` of an artifact, read-only.

        Version history is owner-only. The drive-blind `can_read` gate still
        provides the same sign-in-or-404 masking as `/a/{art_id}`, but readable
        non-owners cannot browse snapshots. A pruned or never-existed version
        renders a friendly unavailable state, never a 500.
        `?raw=1` / `?download=1` stream the version's bytes (powering the bar's
        Raw / Download buttons) with the same sandbox+nosniff headers as the
        head raw path.
      operationId: view_artifact_version_v__art_id___version__get
      parameters:
      - explode: false
        in: path
        name: art_id
        required: true
        schema:
          title: Art Id
          type: string
        style: simple
      - explode: false
        in: path
        name: version
        required: true
        schema:
          title: Version
          type: integer
        style: simple
      - explode: true
        in: query
        name: raw
        required: false
        schema:
          default: 0
          title: Raw
          type: integer
        style: form
      - explode: true
        in: query
        name: download
        required: false
        schema:
          default: 0
          title: Download
          type: integer
        style: form
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
            text/html:
              schema:
                description: Restore at this path instead of the original. Soft-deletes
                  the live occupant at the original path with audit `metadata.cause='restore_conflict_rename'`.
                  Mutually exclusive with `overwrite`.
                nullable: true
                type: string
          description: Rendered HTML or raw artifact bytes.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Request validation failed.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
      summary: View Artifact Version
  /v0/artifacts:
    get:
      description: |-
        Returns artifacts sorted by path. Filter by `prefix`, `label` (repeatable + AND-combined), and `file_type`.

        **Cursor pagination:** when more results exist, the response carries `next_cursor`. Pass it back as `?cursor=<token>` to fetch the next page. `next_cursor` is `null` on the final page. Filters MUST stay consistent across pages — the cursor encodes only the keyset position, not the filter set, so the client is responsible for re-sending the same filter on each page.
      operationId: list_artifacts_v0_artifacts_get
      parameters:
      - explode: true
        in: query
        name: prefix
        required: false
        schema:
          default: ""
          title: Prefix
          type: string
        style: form
      - explode: true
        in: query
        name: label
        required: false
        schema:
          items:
            description: Restore at this path instead of the original. Soft-deletes
              the live occupant at the original path with audit `metadata.cause='restore_conflict_rename'`.
              Mutually exclusive with `overwrite`.
            nullable: true
            type: string
          title: Label
          type: array
          default: null
        style: form
      - explode: true
        in: query
        name: file_type
        required: false
        schema:
          description: Restore at this path instead of the original. Soft-deletes
            the live occupant at the original path with audit `metadata.cause='restore_conflict_rename'`.
            Mutually exclusive with `overwrite`.
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          description: Restore at this path instead of the original. Soft-deletes
            the live occupant at the original path with audit `metadata.cause='restore_conflict_rename'`.
            Mutually exclusive with `overwrite`.
          nullable: true
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          title: Limit
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Page"
          description: Successful Response
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: The pagination cursor is invalid.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bearer credential is missing or invalid.
          headers:
            WWW-Authenticate:
              description: RFC 6750 bearer authentication challenge.
              explode: false
              schema:
                description: Restore at this path instead of the original. Soft-deletes
                  the live occupant at the original path with audit `metadata.cause='restore_conflict_rename'`.
                  Mutually exclusive with `overwrite`.
                nullable: true
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: The authenticated principal is not allowed to perform this
            operation.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Request validation failed.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "A request, operation, or quota rate limit was exceeded."
          headers:
            Retry-After:
              description: Seconds until the caller should retry.
              explode: false
              schema:
                minimum: 0
                type: integer
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
      security:
      - BearerAuth: []
      summary: List artifacts in the drive
  /v0/artifacts/{art_id}:
    delete:
      description: |-
        Soft-delete the artifact with this `art_…` ID. Same semantics + response shape as the path-based `DELETE /v0/artifacts/{path}` (reversible until the GC cron hard-deletes at `purge_at`; `restore_url` points at the by-id restore), but keys on the immutable id so a concurrent rename can't change the target.

        Returns 404 ARTIFACT_NOT_FOUND if no live artifact has this id; 403 WIKI_RESERVED for `_wiki/` artifacts (system-managed); 412 if `If-Match` doesn't match the current version. Declared before the `{path:path}` family so the id convertor wins for DELETEs.
      operationId: delete_artifact_by_id_route_v0_artifacts__art_id__delete
      parameters:
      - explode: false
        in: path
        name: art_id
        required: true
        schema:
          title: Art Id
          type: string
        style: simple
      - explode: false
        in: header
        name: if-match
        required: false
        schema:
          description: Restore at this path instead of the original. Soft-deletes
            the live occupant at the original path with audit `metadata.cause='restore_conflict_rename'`.
            Mutually exclusive with `overwrite`.
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: x-agentdrive-actor
        required: false
        schema:
          description: Restore at this path instead of the original. Soft-deletes
            the live occupant at the original path with audit `metadata.cause='restore_conflict_rename'`.
            Mutually exclusive with `overwrite`.
          nullable: true
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactDeleteOut"
          description: Successful Response
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bearer credential is missing or invalid.
          headers:
            WWW-Authenticate:
              description: RFC 6750 bearer authentication challenge.
              explode: false
              schema:
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: The authenticated principal is not allowed to perform this
            operation.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: No live artifact with this ID exists.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "412":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: If-Match does not match the current artifact.
          headers:
            ETag:
              description: Current strong entity tag.
              explode: false
              schema:
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Request validation failed.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "A request, operation, or quota rate limit was exceeded."
          headers:
            Retry-After:
              description: Seconds until the caller should retry.
              explode: false
              schema:
                minimum: 0
                type: integer
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
      security:
      - BearerAuth: []
      summary: Soft-delete an artifact by its stable ID
    get:
      operationId: get_artifact_by_id_v0_artifacts__art_id__get
      parameters:
      - explode: false
        in: path
        name: art_id
        required: true
        schema:
          title: Art Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactOut"
          description: Successful Response
          headers:
            ETag:
              description: Current strong entity tag.
              explode: false
              schema:
                description: Restore at this path instead of the original. Soft-deletes
                  the live occupant at the original path with audit `metadata.cause='restore_conflict_rename'`.
                  Mutually exclusive with `overwrite`.
                nullable: true
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          description: The current entity tag or modification date matched.
          headers:
            ETag:
              description: Current strong entity tag.
              explode: false
              schema:
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bearer credential is missing or invalid.
          headers:
            WWW-Authenticate:
              description: RFC 6750 bearer authentication challenge.
              explode: false
              schema:
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: The authenticated principal is not allowed to perform this
            operation.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: No such artifact exists in this drive.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Request validation failed.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "A request, operation, or quota rate limit was exceeded."
          headers:
            Retry-After:
              description: Seconds until the caller should retry.
              explode: false
              schema:
                minimum: 0
                type: integer
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
      security:
      - BearerAuth: []
      summary: Canonical lookup of an artifact by its stable ID
    patch:
      description: |-
        Metadata-only JSON-merge-patch update of a single artifact, keyed by its stable `art_…` ID. Every field in the body is optional; a field that is **omitted** is left unchanged, a field that is **present** is applied — with an explicit `null` / `[]` / `{}` meaning "clear". This mirrors the MCP `set_metadata` tool.

        Editable fields:
          * `labels` — replace the label set (`[]`/`null` clears).
          * `metadata` — replace the free-form metadata object (`{}`/`null` clears).
          * `source` — replace provenance refs (`null` clears).

        **To move/rename an artifact, use `POST /v0/artifacts/{art_id}/move`** — PATCH no longer accepts `path`. The body is `extra="forbid"`, so a stray field (notably a legacy `path`) is rejected with 422 rather than silently ignored.

        Metadata edits do NOT create a new content version (no `version_number` / generation bump, no `artifact_versions` row) but DO bump the artifact's `metageneration` and `updated_at`.

        Returns 400 BAD_LABELS / BAD_SOURCE for invalid metadata; 404 ARTIFACT_NOT_FOUND for an unknown id. Honors `If-Match`, which takes the composite ETag `"<art_id>.<generation>.<metageneration>"` and is compared as a whole tuple: ANY concurrent content **or** metadata change (a bumped generation OR metageneration) → 412 PRECONDITION_FAILED. There is no last-writer-wins gap for metadata-only edits. Use `X-AgentDrive-Actor` to attach attribution to the emitted `artifact.metadata_updated` event.
      operationId: patch_artifact_route_v0_artifacts__art_id__patch
      parameters:
      - explode: false
        in: path
        name: art_id
        required: true
        schema:
          title: Art Id
          type: string
        style: simple
      - explode: false
        in: header
        name: x-agentdrive-actor
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: if-match
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ArtifactPatchIn"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactOut"
          description: Successful Response
          headers:
            ETag:
              description: Current strong entity tag.
              explode: false
              schema:
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: The labels or source metadata are invalid.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bearer credential is missing or invalid.
          headers:
            WWW-Authenticate:
              description: RFC 6750 bearer authentication challenge.
              explode: false
              schema:
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: The authenticated principal is not allowed to perform this
            operation.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: No such live artifact exists in this drive.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "412":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: A request precondition did not match.
          headers:
            ETag:
              description: Current strong entity tag.
              explode: false
              schema:
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Request validation failed.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "A request, operation, or quota rate limit was exceeded."
          headers:
            Retry-After:
              description: Seconds until the caller should retry.
              explode: false
              schema:
                minimum: 0
                type: integer
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
      security:
      - BearerAuth: []
      summary: Edit artifact metadata (labels / metadata / source)
  /v0/artifacts/{art_id}/copy:
    post:
      description: |-
        Create a new artifact at `path` whose bytes are identical to the source artifact's. The copy reuses the source's CAS object (zero new storage) but gets a fresh `art_…` ID, a fresh version 1, and — by default — `source.refs = [{type: 'artifact', id: '<source>'}]` so provenance is preserved.

        Quota: the copy's `size_bytes` is added to the drive's `storage_bytes` even though physical bytes are shared.

        Source-version pin: pass `from_generation` in the body to require the source's current content generation (`version_number`) to equal it (→ 412 SOURCE_VERSION_MISMATCH); a concurrent source *metadata* edit does NOT fail the copy. Destination create-only: `If-None-Match: *` returns 412 CREATE_CONFLICT (instead of 409 PATH_CONFLICT) when the target path is occupied.

        Returns 409 PATH_CONFLICT if the target path is already taken; 413 STORAGE_QUOTA_EXCEEDED if the copy would push the drive over its limit.
      operationId: copy_artifact_route_v0_artifacts__art_id__copy_post
      parameters:
      - explode: false
        in: path
        name: art_id
        required: true
        schema:
          title: Art Id
          type: string
        style: simple
      - explode: false
        in: header
        name: x-agentdrive-actor
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: if-none-match
        required: false
        schema:
          description: Restore at this path instead of the original. Soft-deletes
            the live occupant at the original path with audit `metadata.cause='restore_conflict_rename'`.
            Mutually exclusive with `overwrite`.
          nullable: true
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CopyIn"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactOut"
          description: Successful Response
          headers:
            ETag:
              description: Current strong entity tag.
              explode: false
              schema:
                type: string
              style: simple
            Location:
              description: Canonical URL of the created resource.
              explode: false
              schema:
                format: uri-reference
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: The destination path or source metadata is invalid.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bearer credential is missing or invalid.
          headers:
            WWW-Authenticate:
              description: RFC 6750 bearer authentication challenge.
              explode: false
              schema:
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: The authenticated principal is not allowed to perform this
            operation.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: The source artifact does not exist in this drive.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: The destination path is already occupied.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "412":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: A request precondition did not match.
          headers:
            ETag:
              description: Current strong entity tag.
              explode: false
              schema:
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "413":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: The copy would exceed the drive storage limit.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Request validation failed.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "A request, operation, or quota rate limit was exceeded."
          headers:
            Retry-After:
              description: Seconds until the caller should retry.
              explode: false
              schema:
                minimum: 0
                type: integer
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
      security:
      - BearerAuth: []
      summary: "Duplicate an artifact to a new path (CAS-shared, new ID)"
  /v0/artifacts/{art_id}/download:
    get:
      operationId: download_artifact_by_id_v0_artifacts__art_id__download_get
      parameters:
      - explode: false
        in: path
        name: art_id
        required: true
        schema:
          title: Art Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: Raw artifact bytes.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bearer credential is missing or invalid.
          headers:
            WWW-Authenticate:
              description: RFC 6750 bearer authentication challenge.
              explode: false
              schema:
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: The authenticated principal is not allowed to perform this
            operation.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: No live artifact with this ID exists.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Request validation failed.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "A request, operation, or quota rate limit was exceeded."
          headers:
            Retry-After:
              description: Seconds until the caller should retry.
              explode: false
              schema:
                minimum: 0
                type: integer
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
      security:
      - BearerAuth: []
      summary: Stream the artifact bytes by stable ID (never rendered HTML)
  /v0/artifacts/{art_id}/download-url:
    get:
      description: "Returns a URL for the artifact's bytes. For large artifacts (>=\
        \ the signed-download threshold) when signing is available, it's a short-lived\
        \ **signed GCS URL** the client fetches directly (`direct:true`, `expires_at`\
        \ set); otherwise the **proxy** `/download` URL (`direct:false`). Treat the\
        \ URL as opaque. large-download-design.md §5.1."
      operationId: download_url_by_id_v0_artifacts__art_id__download_url_get
      parameters:
      - explode: false
        in: path
        name: art_id
        required: true
        schema:
          title: Art Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DownloadUrlOut"
          description: Successful Response
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bearer credential is missing or invalid.
          headers:
            WWW-Authenticate:
              description: RFC 6750 bearer authentication challenge.
              explode: false
              schema:
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: The authenticated principal is not allowed to perform this
            operation.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: The artifact does not exist in this drive.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Request validation failed.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "A request, operation, or quota rate limit was exceeded."
          headers:
            Retry-After:
              description: Seconds until the caller should retry.
              explode: false
              schema:
                minimum: 0
                type: integer
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
      security:
      - BearerAuth: []
      summary: Signed direct-from-GCS download URL by stable ID
  /v0/artifacts/{art_id}/meta:
    get:
      operationId: get_artifact_by_id_meta_v0_artifacts__art_id__meta_get
      parameters:
      - explode: false
        in: path
        name: art_id
        required: true
        schema:
          title: Art Id
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactOut"
          description: Successful Response
          headers:
            ETag:
              description: Current strong entity tag.
              explode: false
              schema:
                description: Restore at this path instead of the original. Soft-deletes
                  the live occupant at the original path with audit `metadata.cause='restore_conflict_rename'`.
                  Mutually exclusive with `overwrite`.
                nullable: true
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "304":
          description: The current entity tag or modification date matched.
          headers:
            ETag:
              description: Current strong entity tag.
              explode: false
              schema:
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bearer credential is missing or invalid.
          headers:
            WWW-Authenticate:
              description: RFC 6750 bearer authentication challenge.
              explode: false
              schema:
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: The authenticated principal is not allowed to perform this
            operation.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: No such artifact exists in this drive.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Request validation failed.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "A request, operation, or quota rate limit was exceeded."
          headers:
            Retry-After:
              description: Seconds until the caller should retry.
              explode: false
              schema:
                minimum: 0
                type: integer
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
      security:
      - BearerAuth: []
      summary: Artifact metadata by stable ID (same shape as path /meta)
  /v0/artifacts/{art_id}/move:
    post:
      description: |-
        Canonical artifact move/rename, keyed by the stable `art_…` ID (the artifact analogue of `POST /v0/folders/{fld_id}/move`). Moves the artifact to a new `path` on the same drive; ID, version history, source refs, labels, metadata, and the underlying CAS blob are all preserved — only `path` and `updated_at` change, and the move does NOT bump `version_number`.

        The row UPDATE and the emitted `artifact.renamed` event commit in a SINGLE transaction — a failure leaves the artifact fully unchanged.

        Returns 409 PATH_CONFLICT if the target `path` is already taken; 404 ARTIFACT_NOT_FOUND for an unknown id; 403 WIKI_RESERVED for a `_wiki/` / `_compiled/` target. Honors `If-Match` (→ 412 PRECONDITION_FAILED). Use `X-AgentDrive-Actor` to attach attribution to the emitted `artifact.renamed` event.
      operationId: move_artifact_route_v0_artifacts__art_id__move_post
      parameters:
      - explode: false
        in: path
        name: art_id
        required: true
        schema:
          title: Art Id
          type: string
        style: simple
      - explode: false
        in: header
        name: x-agentdrive-actor
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      - explode: false
        in: header
        name: if-match
        required: false
        schema:
          nullable: true
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ArtifactMoveIn"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactOut"
          description: Successful Response
          headers:
            ETag:
              description: Current strong entity tag.
              explode: false
              schema:
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bearer credential is missing or invalid.
          headers:
            WWW-Authenticate:
              description: RFC 6750 bearer authentication challenge.
              explode: false
              schema:
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: The authenticated principal is not allowed to perform this
            operation.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: No such artifact exists in this drive.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: The destination path is already occupied.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "412":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: A request precondition did not match.
          headers:
            ETag:
              description: Current strong entity tag.
              explode: false
              schema:
                type: string
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
          description: Request validation failed.
          headers:
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: "A request, operation, or quota rate limit was exceeded."
          headers:
            Retry-After:
              description: Seconds until the caller should retry.
              explode: false
              schema:
                minimum: 0
                type: integer
              style: simple
            X-Request-Id:
              description: Request correlation identifier.
              explode: false
              schema:
                type: string
              style: simple
      security:
      - BearerAuth: []
      summary: Rename / move an artifact to a new path
  /v0/artifacts/{art_id}/restore:
    post:
      description: Clear `deleted_at` + `purge_at` on a soft-deleted artifact. Available
        only while the artifact is in trash (i.e. before the GC cleanup cron purges
        it). Returns 404 if the artifact is live or already hard-deleted; 409 PATH_CONFLICT
        if its path is now occupied by another live artifact. The 409 payload includes
        a `restore_options` block with `rename_to` and `force_overwrite` URLs the
        caller can follow to resolve the conflict — see deletion-design.md §5.4.
      operationId: restore_artifact_v0_artifacts__art_id__restore_post
      parameters:
      - explode: false
        in: path
        name: art_id
        required: true
        schema:
          title: Art Id
          type: string
        style: simple
      - description: Restore at this path instead of the original. Soft-deletes the
          live occupant at the original path with audit `metadata.cause='restore_conflict_rename'`.
          Mutually exclusive with `overwrite`.
        explode: true
        in: query
        name: rename
        required: false
        schema:
[...]
