/*
AgentDrive

AgentDrive is an agent-focused artifact store: drive-scoped folders, artifacts, and immutable versions, with local grants, possession-based share links, drive-scoped search, and a cursor-resumable change feed. Bearer-authenticated with Hub-issued product tokens (see /.well-known/oauth-protected-resource); every mutation takes an Idempotency-Key, and existing-state mutations take If-Match.

API version: <PINNED>
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package agentdrive

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// SharesRedemptionAPIService SharesRedemptionAPI service
type SharesRedemptionAPIService service

type ApiSharesRedeemRequest struct {
	ctx context.Context
	ApiService *SharesRedemptionAPIService
	shareKey string
}

func (r ApiSharesRedeemRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.SharesRedeemExecute(r)
}

/*
SharesRedeem Redeem Share

The un-slashed form. Browsers are canonicalized onto `/s/{key}/`.

This keeps the published `shares_redeem` operation id because it remains
the same redemption operation: same URL, JSON `Accept`, byte/JSON result,
and uniform 404. In a split deployment the share host authorizes a
specific non-HTML request and then 308s it to this same path on the
configured public renderer; the renderer (or direct-renderer rollback)
returns the existing result. Dropping the route from the spec would have
described a live operation as gone.

The page links its own sub-resources relatively (`content`), and relative
resolution replaces the last path segment: from `/s/KEY` that reaches
`/s/content`, from `/s/KEY/` it reaches `/s/KEY/content`. The trailing
slash is what makes an image on a share page load at all. Links already in
the wild have no slash, so this redirect is how they keep working.

It is unconditional and runs before any lookup — redirecting only for keys
that resolve would turn the status code into an existence oracle and undo
the anti-enumeration property the rest of this module maintains.

HTML navigation is canonicalized to the trailing-slash form. Non-HTML
clients are answered in place by the renderer/direct rollback, or moved
to the renderer only after the credential resolves on the share host.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param shareKey
 @return ApiSharesRedeemRequest
*/
func (a *SharesRedemptionAPIService) SharesRedeem(ctx context.Context, shareKey string) ApiSharesRedeemRequest {
	return ApiSharesRedeemRequest{
		ApiService: a,
		ctx: ctx,
		shareKey: shareKey,
	}
}

// Execute executes the request
//  @return interface{}
func (a *SharesRedemptionAPIService) SharesRedeemExecute(r ApiSharesRedeemRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SharesRedemptionAPIService.SharesRedeem")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/s/{share_key}"
	localVarPath = strings.Replace(localVarPath, "{"+"share_key"+"}", url.PathEscape(parameterValueToString(r.shareKey, "shareKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ValidationErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
