/*
AgentDrive

AgentDrive is an agent-focused artifact store: upload by path, share by rendered URL, address by stable permalink. The REST surface is documented here; the rendered viewer + agent claim flow live under `agentdrive.run`.

API version: 0.0.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package agentdrive

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
	"os"
	"time"
)


// DefaultAPIService DefaultAPI service
type DefaultAPIService service

type ApiAbortUploadV0UploadsUploadIdDeleteRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	uploadId string
	authorization *string
}

func (r ApiAbortUploadV0UploadsUploadIdDeleteRequest) Authorization(authorization string) ApiAbortUploadV0UploadsUploadIdDeleteRequest {
	r.authorization = &authorization
	return r
}

func (r ApiAbortUploadV0UploadsUploadIdDeleteRequest) Execute() (*UploadAbortOut, *http.Response, error) {
	return r.ApiService.AbortUploadV0UploadsUploadIdDeleteExecute(r)
}

/*
AbortUploadV0UploadsUploadIdDelete Abort a large (direct-to-GCS) upload session

Release an open upload session: return its reserved quota to the drive and mark it aborted. Idempotent — aborting an already-aborted or already-expired session succeeds with `released_bytes: 0`. A committed session cannot be aborted (409 ALREADY_COMMITTED). No write budget is charged — this frees resources rather than consuming them.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param uploadId
 @return ApiAbortUploadV0UploadsUploadIdDeleteRequest
*/
func (a *DefaultAPIService) AbortUploadV0UploadsUploadIdDelete(ctx context.Context, uploadId string) ApiAbortUploadV0UploadsUploadIdDeleteRequest {
	return ApiAbortUploadV0UploadsUploadIdDeleteRequest{
		ApiService: a,
		ctx: ctx,
		uploadId: uploadId,
	}
}

// Execute executes the request
//  @return UploadAbortOut
func (a *DefaultAPIService) AbortUploadV0UploadsUploadIdDeleteExecute(r ApiAbortUploadV0UploadsUploadIdDeleteRequest) (*UploadAbortOut, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UploadAbortOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.AbortUploadV0UploadsUploadIdDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v0/uploads/{upload_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"upload_id"+"}", url.PathEscape(parameterValueToString(r.uploadId, "uploadId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAcceptInvitationInvitationsTokenGetRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	token string
}

func (r ApiAcceptInvitationInvitationsTokenGetRequest) Execute() (string, *http.Response, error) {
	return r.ApiService.AcceptInvitationInvitationsTokenGetExecute(r)
}

/*
AcceptInvitationInvitationsTokenGet Accept Invitation

Accept a workspace invitation (workspaces-design §4.4). Top-level
route — deliberately OFF the reserved single-letter prefixes
(`/a /f /s /v /_`).

If the visitor isn't signed in, bounce through `/auth/login` with a
same-origin `return_to` back here (the login flow validates return_to,
so the path is safe). Once signed in, validate + accept:
  * email mismatch / expired / revoked / unknown → friendly error page,
  * success → join the workspace, set it active, land on the dashboard.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param token
 @return ApiAcceptInvitationInvitationsTokenGetRequest
*/
func (a *DefaultAPIService) AcceptInvitationInvitationsTokenGet(ctx context.Context, token string) ApiAcceptInvitationInvitationsTokenGetRequest {
	return ApiAcceptInvitationInvitationsTokenGetRequest{
		ApiService: a,
		ctx: ctx,
		token: token,
	}
}

// Execute executes the request
//  @return string
func (a *DefaultAPIService) AcceptInvitationInvitationsTokenGetExecute(r ApiAcceptInvitationInvitationsTokenGetRequest) (string, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.AcceptInvitationInvitationsTokenGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/invitations/{token}"
	localVarPath = strings.Replace(localVarPath, "{"+"token"+"}", url.PathEscape(parameterValueToString(r.token, "token")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/html", "application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiActivityFeedActivityGetRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
}

func (r ApiActivityFeedActivityGetRequest) Execute() (string, *http.Response, error) {
	return r.ApiService.ActivityFeedActivityGetExecute(r)
}

/*
ActivityFeedActivityGet Activity Feed

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiActivityFeedActivityGetRequest
*/
func (a *DefaultAPIService) ActivityFeedActivityGet(ctx context.Context) ApiActivityFeedActivityGetRequest {
	return ApiActivityFeedActivityGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return string
func (a *DefaultAPIService) ActivityFeedActivityGetExecute(r ApiActivityFeedActivityGetRequest) (string, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.ActivityFeedActivityGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/activity"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/html"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAddGrantWebShareRidGrantPostRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	rid string
	grantIn *GrantIn
	xCsrfToken *string
}

func (r ApiAddGrantWebShareRidGrantPostRequest) GrantIn(grantIn GrantIn) ApiAddGrantWebShareRidGrantPostRequest {
	r.grantIn = &grantIn
	return r
}

func (r ApiAddGrantWebShareRidGrantPostRequest) XCsrfToken(xCsrfToken string) ApiAddGrantWebShareRidGrantPostRequest {
	r.xCsrfToken = &xCsrfToken
	return r
}

func (r ApiAddGrantWebShareRidGrantPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.AddGrantWebShareRidGrantPostExecute(r)
}

/*
AddGrantWebShareRidGrantPost Add Grant

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param rid
 @return ApiAddGrantWebShareRidGrantPostRequest
*/
func (a *DefaultAPIService) AddGrantWebShareRidGrantPost(ctx context.Context, rid string) ApiAddGrantWebShareRidGrantPostRequest {
	return ApiAddGrantWebShareRidGrantPostRequest{
		ApiService: a,
		ctx: ctx,
		rid: rid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *DefaultAPIService) AddGrantWebShareRidGrantPostExecute(r ApiAddGrantWebShareRidGrantPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.AddGrantWebShareRidGrantPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/web/share/{rid}/grant"
	localVarPath = strings.Replace(localVarPath, "{"+"rid"+"}", url.PathEscape(parameterValueToString(r.rid, "rid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.grantIn == nil {
		return localVarReturnValue, nil, reportError("grantIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xCsrfToken != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-csrf-token", r.xCsrfToken, "simple", "")
	}
	// body params
	localVarPostBody = r.grantIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiArtifactDetailPreviewPreviewArtifactDetailGetRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
}

func (r ApiArtifactDetailPreviewPreviewArtifactDetailGetRequest) Execute() (string, *http.Response, error) {
	return r.ApiService.ArtifactDetailPreviewPreviewArtifactDetailGetExecute(r)
}

/*
ArtifactDetailPreviewPreviewArtifactDetailGet Artifact Detail Preview

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiArtifactDetailPreviewPreviewArtifactDetailGetRequest
*/
func (a *DefaultAPIService) ArtifactDetailPreviewPreviewArtifactDetailGet(ctx context.Context) ApiArtifactDetailPreviewPreviewArtifactDetailGetRequest {
	return ApiArtifactDetailPreviewPreviewArtifactDetailGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return string
func (a *DefaultAPIService) ArtifactDetailPreviewPreviewArtifactDetailGetExecute(r ApiArtifactDetailPreviewPreviewArtifactDetailGetRequest) (string, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.ArtifactDetailPreviewPreviewArtifactDetailGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/preview/artifact-detail"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/html"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiBeginUploadV0UploadsPostRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	uploadBeginIn *UploadBeginIn
	authorization *string
}

func (r ApiBeginUploadV0UploadsPostRequest) UploadBeginIn(uploadBeginIn UploadBeginIn) ApiBeginUploadV0UploadsPostRequest {
	r.uploadBeginIn = &uploadBeginIn
	return r
}

func (r ApiBeginUploadV0UploadsPostRequest) Authorization(authorization string) ApiBeginUploadV0UploadsPostRequest {
	r.authorization = &authorization
	return r
}

func (r ApiBeginUploadV0UploadsPostRequest) Execute() (*UploadBeginOut, *http.Response, error) {
	return r.ApiService.BeginUploadV0UploadsPostExecute(r)
}

/*
BeginUploadV0UploadsPost Begin a large (direct-to-GCS) upload

Reserve quota and open a resumable upload session for a file larger than the buffered-upload limit. Returns a `upload_url` to PUT the raw bytes to DIRECTLY (no Authorization header — the URL is the credential), then call `/v0/uploads/{upload_id}/commit`. All artifact decisions (path, labels, metadata, source, if_match) are frozen here.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiBeginUploadV0UploadsPostRequest
*/
func (a *DefaultAPIService) BeginUploadV0UploadsPost(ctx context.Context) ApiBeginUploadV0UploadsPostRequest {
	return ApiBeginUploadV0UploadsPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return UploadBeginOut
func (a *DefaultAPIService) BeginUploadV0UploadsPostExecute(r ApiBeginUploadV0UploadsPostRequest) (*UploadBeginOut, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UploadBeginOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.BeginUploadV0UploadsPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v0/uploads"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.uploadBeginIn == nil {
		return localVarReturnValue, nil, reportError("uploadBeginIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	// body params
	localVarPostBody = r.uploadBeginIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCallbackAuthCallbackGetRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	code *string
	state *string
	error_ *string
}

func (r ApiCallbackAuthCallbackGetRequest) Code(code string) ApiCallbackAuthCallbackGetRequest {
	r.code = &code
	return r
}

func (r ApiCallbackAuthCallbackGetRequest) State(state string) ApiCallbackAuthCallbackGetRequest {
	r.state = &state
	return r
}

func (r ApiCallbackAuthCallbackGetRequest) Error_(error_ string) ApiCallbackAuthCallbackGetRequest {
	r.error_ = &error_
	return r
}

func (r ApiCallbackAuthCallbackGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CallbackAuthCallbackGetExecute(r)
}

/*
CallbackAuthCallbackGet Callback

Complete a sign-in.

Handles the auth provider's OAuth callback and shapes failures into
user-readable errors:
  * an invalid or expired login flow — LOGIN_FLOW_INVALID (400);
  * an invalid or already-used authorization code — AUTH_CODE_INVALID (400);
  * the upstream auth provider being unavailable — WORKOS_UNAVAILABLE (502),
    returned with Retry-After.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCallbackAuthCallbackGetRequest
*/
func (a *DefaultAPIService) CallbackAuthCallbackGet(ctx context.Context) ApiCallbackAuthCallbackGetRequest {
	return ApiCallbackAuthCallbackGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *DefaultAPIService) CallbackAuthCallbackGetExecute(r ApiCallbackAuthCallbackGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.CallbackAuthCallbackGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/auth/callback"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.code != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "code", r.code, "form", "")
	}
	if r.state != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "state", r.state, "form", "")
	}
	if r.error_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "error", r.error_, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCancelJobV0JobsJobIdCancelPostRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	jobId string
	authorization *string
}

func (r ApiCancelJobV0JobsJobIdCancelPostRequest) Authorization(authorization string) ApiCancelJobV0JobsJobIdCancelPostRequest {
	r.authorization = &authorization
	return r
}

func (r ApiCancelJobV0JobsJobIdCancelPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CancelJobV0JobsJobIdCancelPostExecute(r)
}

/*
CancelJobV0JobsJobIdCancelPost Cancel a queued/running job

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param jobId
 @return ApiCancelJobV0JobsJobIdCancelPostRequest
*/
func (a *DefaultAPIService) CancelJobV0JobsJobIdCancelPost(ctx context.Context, jobId string) ApiCancelJobV0JobsJobIdCancelPostRequest {
	return ApiCancelJobV0JobsJobIdCancelPostRequest{
		ApiService: a,
		ctx: ctx,
		jobId: jobId,
	}
}

// Execute executes the request
//  @return interface{}
func (a *DefaultAPIService) CancelJobV0JobsJobIdCancelPostExecute(r ApiCancelJobV0JobsJobIdCancelPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.CancelJobV0JobsJobIdCancelPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v0/jobs/{job_id}/cancel"
	localVarPath = strings.Replace(localVarPath, "{"+"job_id"+"}", url.PathEscape(parameterValueToString(r.jobId, "jobId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCollectionDetailCollectionsSlugGetRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	slug string
}

func (r ApiCollectionDetailCollectionsSlugGetRequest) Execute() (string, *http.Response, error) {
	return r.ApiService.CollectionDetailCollectionsSlugGetExecute(r)
}

/*
CollectionDetailCollectionsSlugGet Collection Detail

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param slug
 @return ApiCollectionDetailCollectionsSlugGetRequest
*/
func (a *DefaultAPIService) CollectionDetailCollectionsSlugGet(ctx context.Context, slug string) ApiCollectionDetailCollectionsSlugGetRequest {
	return ApiCollectionDetailCollectionsSlugGetRequest{
		ApiService: a,
		ctx: ctx,
		slug: slug,
	}
}

// Execute executes the request
//  @return string
func (a *DefaultAPIService) CollectionDetailCollectionsSlugGetExecute(r ApiCollectionDetailCollectionsSlugGetRequest) (string, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.CollectionDetailCollectionsSlugGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/collections/{slug}"
	localVarPath = strings.Replace(localVarPath, "{"+"slug"+"}", url.PathEscape(parameterValueToString(r.slug, "slug")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/html", "application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCommitUploadV0UploadsUploadIdCommitPostRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	uploadId string
	authorization *string
}

func (r ApiCommitUploadV0UploadsUploadIdCommitPostRequest) Authorization(authorization string) ApiCommitUploadV0UploadsUploadIdCommitPostRequest {
	r.authorization = &authorization
	return r
}

func (r ApiCommitUploadV0UploadsUploadIdCommitPostRequest) Execute() (*ArtifactOut, *http.Response, error) {
	return r.ApiService.CommitUploadV0UploadsUploadIdCommitPostExecute(r)
}

/*
CommitUploadV0UploadsUploadIdCommitPost Commit a large (direct-to-GCS) upload

Finalize the upload begun at `/v0/uploads`: AgentDrive verifies the object that landed in GCS (size + checksum) and creates the artifact. Idempotent — a retry after a successful commit returns the same artifact. The write budget is charged here (begin is free metadata).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param uploadId
 @return ApiCommitUploadV0UploadsUploadIdCommitPostRequest
*/
func (a *DefaultAPIService) CommitUploadV0UploadsUploadIdCommitPost(ctx context.Context, uploadId string) ApiCommitUploadV0UploadsUploadIdCommitPostRequest {
	return ApiCommitUploadV0UploadsUploadIdCommitPostRequest{
		ApiService: a,
		ctx: ctx,
		uploadId: uploadId,
	}
}

// Execute executes the request
//  @return ArtifactOut
func (a *DefaultAPIService) CommitUploadV0UploadsUploadIdCommitPostExecute(r ApiCommitUploadV0UploadsUploadIdCommitPostRequest) (*ArtifactOut, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ArtifactOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.CommitUploadV0UploadsUploadIdCommitPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v0/uploads/{upload_id}/commit"
	localVarPath = strings.Replace(localVarPath, "{"+"upload_id"+"}", url.PathEscape(parameterValueToString(r.uploadId, "uploadId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiConnectorsPageConnectorsGetRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
}

func (r ApiConnectorsPageConnectorsGetRequest) Execute() (string, *http.Response, error) {
	return r.ApiService.ConnectorsPageConnectorsGetExecute(r)
}

/*
ConnectorsPageConnectorsGet Connectors Page

Connectors landing — Google Drive, Notion, etc. Each connector pipes
its files into a virtual folder at the drive root (`gdrive/`, `notion/`)
so the indexer can build wiki pages across all of an org's knowledge.
No backend in v0; cards read from `mock/data.py`.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiConnectorsPageConnectorsGetRequest
*/
func (a *DefaultAPIService) ConnectorsPageConnectorsGet(ctx context.Context) ApiConnectorsPageConnectorsGetRequest {
	return ApiConnectorsPageConnectorsGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return string
func (a *DefaultAPIService) ConnectorsPageConnectorsGetExecute(r ApiConnectorsPageConnectorsGetRequest) (string, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.ConnectorsPageConnectorsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/connectors"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/html"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCopyArtifactRouteV0ArtifactsArtIdCopyPostRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	artId string
	copyIn *CopyIn
	xAgentdriveActor *string
	ifNoneMatch *string
	authorization *string
}

func (r ApiCopyArtifactRouteV0ArtifactsArtIdCopyPostRequest) CopyIn(copyIn CopyIn) ApiCopyArtifactRouteV0ArtifactsArtIdCopyPostRequest {
	r.copyIn = &copyIn
	return r
}

func (r ApiCopyArtifactRouteV0ArtifactsArtIdCopyPostRequest) XAgentdriveActor(xAgentdriveActor string) ApiCopyArtifactRouteV0ArtifactsArtIdCopyPostRequest {
	r.xAgentdriveActor = &xAgentdriveActor
	return r
}

func (r ApiCopyArtifactRouteV0ArtifactsArtIdCopyPostRequest) IfNoneMatch(ifNoneMatch string) ApiCopyArtifactRouteV0ArtifactsArtIdCopyPostRequest {
	r.ifNoneMatch = &ifNoneMatch
	return r
}

func (r ApiCopyArtifactRouteV0ArtifactsArtIdCopyPostRequest) Authorization(authorization string) ApiCopyArtifactRouteV0ArtifactsArtIdCopyPostRequest {
	r.authorization = &authorization
	return r
}

func (r ApiCopyArtifactRouteV0ArtifactsArtIdCopyPostRequest) Execute() (*ArtifactOut, *http.Response, error) {
	return r.ApiService.CopyArtifactRouteV0ArtifactsArtIdCopyPostExecute(r)
}

/*
CopyArtifactRouteV0ArtifactsArtIdCopyPost Duplicate an artifact to a new path (CAS-shared, new ID)

Create a new artifact at `path` whose bytes are identical to the source artifact's. The copy reuses the source's CAS object (zero new storage) but gets a fresh `art_…` ID, a fresh version 1, and — by default — `source.refs = [{type: 'artifact', id: '<source>'}]` so provenance is preserved.

Quota: the copy's `size_bytes` is added to the drive's `storage_bytes` even though physical bytes are shared.

Source-version pin: pass `from_generation` in the body to require the source's current content generation (`version_number`) to equal it (→ 412 SOURCE_VERSION_MISMATCH); a concurrent source *metadata* edit does NOT fail the copy. Destination create-only: `If-None-Match: *` returns 412 CREATE_CONFLICT (instead of 409 PATH_CONFLICT) when the target path is occupied.

Returns 409 PATH_CONFLICT if the target path is already taken; 413 STORAGE_QUOTA_EXCEEDED if the copy would push the drive over its limit.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param artId
 @return ApiCopyArtifactRouteV0ArtifactsArtIdCopyPostRequest
*/
func (a *DefaultAPIService) CopyArtifactRouteV0ArtifactsArtIdCopyPost(ctx context.Context, artId string) ApiCopyArtifactRouteV0ArtifactsArtIdCopyPostRequest {
	return ApiCopyArtifactRouteV0ArtifactsArtIdCopyPostRequest{
		ApiService: a,
		ctx: ctx,
		artId: artId,
	}
}

// Execute executes the request
//  @return ArtifactOut
func (a *DefaultAPIService) CopyArtifactRouteV0ArtifactsArtIdCopyPostExecute(r ApiCopyArtifactRouteV0ArtifactsArtIdCopyPostRequest) (*ArtifactOut, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ArtifactOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.CopyArtifactRouteV0ArtifactsArtIdCopyPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v0/artifacts/{art_id}/copy"
	localVarPath = strings.Replace(localVarPath, "{"+"art_id"+"}", url.PathEscape(parameterValueToString(r.artId, "artId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.copyIn == nil {
		return localVarReturnValue, nil, reportError("copyIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAgentdriveActor != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-agentdrive-actor", r.xAgentdriveActor, "simple", "")
	}
	if r.ifNoneMatch != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "if-none-match", r.ifNoneMatch, "simple", "")
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	// body params
	localVarPostBody = r.copyIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCopyFolderByIdV0FoldersFldIdCopyPostRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	fldId string
	folderCopyIn *FolderCopyIn
	xAgentdriveActor *string
	ifNoneMatch *string
	authorization *string
}

func (r ApiCopyFolderByIdV0FoldersFldIdCopyPostRequest) FolderCopyIn(folderCopyIn FolderCopyIn) ApiCopyFolderByIdV0FoldersFldIdCopyPostRequest {
	r.folderCopyIn = &folderCopyIn
	return r
}

func (r ApiCopyFolderByIdV0FoldersFldIdCopyPostRequest) XAgentdriveActor(xAgentdriveActor string) ApiCopyFolderByIdV0FoldersFldIdCopyPostRequest {
	r.xAgentdriveActor = &xAgentdriveActor
	return r
}

func (r ApiCopyFolderByIdV0FoldersFldIdCopyPostRequest) IfNoneMatch(ifNoneMatch string) ApiCopyFolderByIdV0FoldersFldIdCopyPostRequest {
	r.ifNoneMatch = &ifNoneMatch
	return r
}

func (r ApiCopyFolderByIdV0FoldersFldIdCopyPostRequest) Authorization(authorization string) ApiCopyFolderByIdV0FoldersFldIdCopyPostRequest {
	r.authorization = &authorization
	return r
}

func (r ApiCopyFolderByIdV0FoldersFldIdCopyPostRequest) Execute() (*FolderCopyOut, *http.Response, error) {
	return r.ApiService.CopyFolderByIdV0FoldersFldIdCopyPostExecute(r)
}

/*
CopyFolderByIdV0FoldersFldIdCopyPost Duplicate a folder subtree to a new path (CAS-shared, new IDs)

Clone the folder identified by URL id — and every descendant folder + artifact — under the body's `path` (canonical, trailing slash). Each copied artifact reuses the source's CAS object (zero new storage) but gets a fresh `art_…` ID, a fresh version 1, and `source.refs = [{type: 'artifact', id: '<source>'}]` provenance. The new folder gets a fresh `fld_…` ID and the source's description.

The entire subtree is copied in a SINGLE transaction — either every row lands or none does.

Quota: each copy's `size_bytes` counts against the drive's `storage_bytes` even though physical bytes are shared.

Source-version pin: pass `from_metageneration` in the body to require the source folder's current `metageneration` to equal it (→ 412 SOURCE_VERSION_MISMATCH). Destination create-only: `If-None-Match: *` returns 412 CREATE_CONFLICT (instead of 409 FOLDER_PATH_CONFLICT) when the destination folder is occupied.

Returns 409 `FOLDER_PATH_CONFLICT` if the destination collides with a live folder or artifact; 400 `FOLDER_PATH_INVALID` if `path` is non-canonical; 413 `SUBTREE_TOO_LARGE` if the source holds more than 5000 artifacts; 413 `STORAGE_QUOTA_EXCEEDED` if the copy would push the drive over its limit.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param fldId
 @return ApiCopyFolderByIdV0FoldersFldIdCopyPostRequest
*/
func (a *DefaultAPIService) CopyFolderByIdV0FoldersFldIdCopyPost(ctx context.Context, fldId string) ApiCopyFolderByIdV0FoldersFldIdCopyPostRequest {
	return ApiCopyFolderByIdV0FoldersFldIdCopyPostRequest{
		ApiService: a,
		ctx: ctx,
		fldId: fldId,
	}
}

// Execute executes the request
//  @return FolderCopyOut
func (a *DefaultAPIService) CopyFolderByIdV0FoldersFldIdCopyPostExecute(r ApiCopyFolderByIdV0FoldersFldIdCopyPostRequest) (*FolderCopyOut, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *FolderCopyOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.CopyFolderByIdV0FoldersFldIdCopyPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v0/folders/{fld_id}/copy"
	localVarPath = strings.Replace(localVarPath, "{"+"fld_id"+"}", url.PathEscape(parameterValueToString(r.fldId, "fldId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.folderCopyIn == nil {
		return localVarReturnValue, nil, reportError("folderCopyIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAgentdriveActor != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-agentdrive-actor", r.xAgentdriveActor, "simple", "")
	}
	if r.ifNoneMatch != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "if-none-match", r.ifNoneMatch, "simple", "")
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	// body params
	localVarPostBody = r.folderCopyIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateDriveKeyWebWebDrivesDriveIdKeysCreatePostRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	driveId string
	csrf *string
	label *string
}

func (r ApiCreateDriveKeyWebWebDrivesDriveIdKeysCreatePostRequest) Csrf(csrf string) ApiCreateDriveKeyWebWebDrivesDriveIdKeysCreatePostRequest {
	r.csrf = &csrf
	return r
}

func (r ApiCreateDriveKeyWebWebDrivesDriveIdKeysCreatePostRequest) Label(label string) ApiCreateDriveKeyWebWebDrivesDriveIdKeysCreatePostRequest {
	r.label = &label
	return r
}

func (r ApiCreateDriveKeyWebWebDrivesDriveIdKeysCreatePostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CreateDriveKeyWebWebDrivesDriveIdKeysCreatePostExecute(r)
}

/*
CreateDriveKeyWebWebDrivesDriveIdKeysCreatePost Create Drive Key Web

Mint a new `ad_live_` key for a specific owned drive + reveal once
(workspaces-design §5.6). Manager-only (no-leak no-op otherwise).

The per-drive twin of `/web/keys/create` (which acts on the active
drive). Pins the target drive active so the reveal on the api-keys
tab shows the key for the drive the user just minted on.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param driveId
 @return ApiCreateDriveKeyWebWebDrivesDriveIdKeysCreatePostRequest
*/
func (a *DefaultAPIService) CreateDriveKeyWebWebDrivesDriveIdKeysCreatePost(ctx context.Context, driveId string) ApiCreateDriveKeyWebWebDrivesDriveIdKeysCreatePostRequest {
	return ApiCreateDriveKeyWebWebDrivesDriveIdKeysCreatePostRequest{
		ApiService: a,
		ctx: ctx,
		driveId: driveId,
	}
}

// Execute executes the request
//  @return interface{}
func (a *DefaultAPIService) CreateDriveKeyWebWebDrivesDriveIdKeysCreatePostExecute(r ApiCreateDriveKeyWebWebDrivesDriveIdKeysCreatePostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.CreateDriveKeyWebWebDrivesDriveIdKeysCreatePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/web/drives/{drive_id}/keys/create"
	localVarPath = strings.Replace(localVarPath, "{"+"drive_id"+"}", url.PathEscape(parameterValueToString(r.driveId, "driveId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.csrf == nil {
		return localVarReturnValue, nil, reportError("csrf is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.label != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "label", r.label, "", "")
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "csrf", r.csrf, "", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateDriveWebWebDrivesPostRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	name *string
	csrf *string
}

func (r ApiCreateDriveWebWebDrivesPostRequest) Name(name string) ApiCreateDriveWebWebDrivesPostRequest {
	r.name = &name
	return r
}

func (r ApiCreateDriveWebWebDrivesPostRequest) Csrf(csrf string) ApiCreateDriveWebWebDrivesPostRequest {
	r.csrf = &csrf
	return r
}

func (r ApiCreateDriveWebWebDrivesPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CreateDriveWebWebDrivesPostExecute(r)
}

/*
CreateDriveWebWebDrivesPost Create Drive Web

Create a drive in the active workspace + reveal its key once
(workspaces-design §4.5, §5.6).

The web (session+CSRF) twin of `POST /v0/drives`. Any MEMBER of the
active workspace may create a drive; the creator becomes its owner.
The new drive's `ad_live_` key is shown ONCE via the same
`reveal_key`-in-session mechanism the api-keys tab consumes; we also
pin the new drive as active and land on the api-keys tab so the user
sees the reveal.

Authorization is by `current_user` + membership, NOT `current_drive`
(workspaces-design §4.3 empty state): a freshly-invited member owns 0
drives, so `current_drive` is None for them — yet this is exactly the
"create your first drive" moment that MUST work. Gating on a pre-existing
drive would dead-end the web onboarding path. Membership + the per-member
cap are the real guards; both hold whether or not the user already owns a
drive.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateDriveWebWebDrivesPostRequest
*/
func (a *DefaultAPIService) CreateDriveWebWebDrivesPost(ctx context.Context) ApiCreateDriveWebWebDrivesPostRequest {
	return ApiCreateDriveWebWebDrivesPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *DefaultAPIService) CreateDriveWebWebDrivesPostExecute(r ApiCreateDriveWebWebDrivesPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.CreateDriveWebWebDrivesPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/web/drives"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.name == nil {
		return localVarReturnValue, nil, reportError("name is required and must be specified")
	}
	if r.csrf == nil {
		return localVarReturnValue, nil, reportError("csrf is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "name", r.name, "", "")
	parameterAddToHeaderOrQuery(localVarFormParams, "csrf", r.csrf, "", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateFolderByPathV0FoldersPathPutRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	path string
	xAgentdriveActor *string
	ifNoneMatch *string
	authorization *string
	folderCreateIn *FolderCreateIn
}

func (r ApiCreateFolderByPathV0FoldersPathPutRequest) XAgentdriveActor(xAgentdriveActor string) ApiCreateFolderByPathV0FoldersPathPutRequest {
	r.xAgentdriveActor = &xAgentdriveActor
	return r
}

func (r ApiCreateFolderByPathV0FoldersPathPutRequest) IfNoneMatch(ifNoneMatch string) ApiCreateFolderByPathV0FoldersPathPutRequest {
	r.ifNoneMatch = &ifNoneMatch
	return r
}

func (r ApiCreateFolderByPathV0FoldersPathPutRequest) Authorization(authorization string) ApiCreateFolderByPathV0FoldersPathPutRequest {
	r.authorization = &authorization
	return r
}

func (r ApiCreateFolderByPathV0FoldersPathPutRequest) FolderCreateIn(folderCreateIn FolderCreateIn) ApiCreateFolderByPathV0FoldersPathPutRequest {
	r.folderCreateIn = &folderCreateIn
	return r
}

func (r ApiCreateFolderByPathV0FoldersPathPutRequest) Execute() (*FolderOut, *http.Response, error) {
	return r.ApiService.CreateFolderByPathV0FoldersPathPutExecute(r)
}

/*
CreateFolderByPathV0FoldersPathPut Create a folder (idempotent)

Create a folder at the URL path. Idempotent create-at-known-URI (mirrors `PUT /v0/artifacts/{path}`) — a second call for the same live path returns the existing row unchanged (metadata updates require PATCH). Returns 201 on create, 200 when the folder already exists.

Send `If-None-Match: *` to make it strictly create-only: an existing folder then returns 412 CREATE_CONFLICT instead of the idempotent 200.

Returns 409 `FOLDER_PATH_CONFLICT` if a live artifact occupies the file form of the path (e.g. mkdir `/foo/` when an artifact lives at `/foo`).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param path
 @return ApiCreateFolderByPathV0FoldersPathPutRequest
*/
func (a *DefaultAPIService) CreateFolderByPathV0FoldersPathPut(ctx context.Context, path string) ApiCreateFolderByPathV0FoldersPathPutRequest {
	return ApiCreateFolderByPathV0FoldersPathPutRequest{
		ApiService: a,
		ctx: ctx,
		path: path,
	}
}

// Execute executes the request
//  @return FolderOut
func (a *DefaultAPIService) CreateFolderByPathV0FoldersPathPutExecute(r ApiCreateFolderByPathV0FoldersPathPutRequest) (*FolderOut, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *FolderOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.CreateFolderByPathV0FoldersPathPut")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v0/folders/{path}"
	localVarPath = strings.Replace(localVarPath, "{"+"path"+"}", url.PathEscape(parameterValueToString(r.path, "path")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAgentdriveActor != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-agentdrive-actor", r.xAgentdriveActor, "simple", "")
	}
	if r.ifNoneMatch != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "if-none-match", r.ifNoneMatch, "simple", "")
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	// body params
	localVarPostBody = r.folderCreateIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateGrantRouteV0GrantsPostRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	grantCreateIn *GrantCreateIn
	xAgentdriveActor *string
	authorization *string
}

func (r ApiCreateGrantRouteV0GrantsPostRequest) GrantCreateIn(grantCreateIn GrantCreateIn) ApiCreateGrantRouteV0GrantsPostRequest {
	r.grantCreateIn = &grantCreateIn
	return r
}

func (r ApiCreateGrantRouteV0GrantsPostRequest) XAgentdriveActor(xAgentdriveActor string) ApiCreateGrantRouteV0GrantsPostRequest {
	r.xAgentdriveActor = &xAgentdriveActor
	return r
}

func (r ApiCreateGrantRouteV0GrantsPostRequest) Authorization(authorization string) ApiCreateGrantRouteV0GrantsPostRequest {
	r.authorization = &authorization
	return r
}

func (r ApiCreateGrantRouteV0GrantsPostRequest) Execute() (*GrantOut, *http.Response, error) {
	return r.ApiService.CreateGrantRouteV0GrantsPostExecute(r)
}

/*
CreateGrantRouteV0GrantsPost Create (or fetch) a per-principal grant on a resource

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateGrantRouteV0GrantsPostRequest
*/
func (a *DefaultAPIService) CreateGrantRouteV0GrantsPost(ctx context.Context) ApiCreateGrantRouteV0GrantsPostRequest {
	return ApiCreateGrantRouteV0GrantsPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GrantOut
func (a *DefaultAPIService) CreateGrantRouteV0GrantsPostExecute(r ApiCreateGrantRouteV0GrantsPostRequest) (*GrantOut, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GrantOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.CreateGrantRouteV0GrantsPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v0/grants"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.grantCreateIn == nil {
		return localVarReturnValue, nil, reportError("grantCreateIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAgentdriveActor != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-agentdrive-actor", r.xAgentdriveActor, "simple", "")
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	// body params
	localVarPostBody = r.grantCreateIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateKeyWebKeysCreatePostRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	csrf *string
	label *string
}

func (r ApiCreateKeyWebKeysCreatePostRequest) Csrf(csrf string) ApiCreateKeyWebKeysCreatePostRequest {
	r.csrf = &csrf
	return r
}

func (r ApiCreateKeyWebKeysCreatePostRequest) Label(label string) ApiCreateKeyWebKeysCreatePostRequest {
	r.label = &label
	return r
}

func (r ApiCreateKeyWebKeysCreatePostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CreateKeyWebKeysCreatePostExecute(r)
}

/*
CreateKeyWebKeysCreatePost Create Key

Mint a new `ad_live_` key for the active drive (reveal-once).

A drive may hold several keys — this appends one rather than replacing.
Management gate (workspaces-v2 §4.4): personal → owner, team → admin.
Without it a team MEMBER (who now reaches the shared drive) could mint a
shared key. No-leak redirect on non-manage.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateKeyWebKeysCreatePostRequest
*/
func (a *DefaultAPIService) CreateKeyWebKeysCreatePost(ctx context.Context) ApiCreateKeyWebKeysCreatePostRequest {
	return ApiCreateKeyWebKeysCreatePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *DefaultAPIService) CreateKeyWebKeysCreatePostExecute(r ApiCreateKeyWebKeysCreatePostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.CreateKeyWebKeysCreatePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/web/keys/create"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.csrf == nil {
		return localVarReturnValue, nil, reportError("csrf is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.label != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "label", r.label, "", "")
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "csrf", r.csrf, "", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateLinkWebShareRidLinkPostRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	rid string
	linkIn *LinkIn
	xCsrfToken *string
}

func (r ApiCreateLinkWebShareRidLinkPostRequest) LinkIn(linkIn LinkIn) ApiCreateLinkWebShareRidLinkPostRequest {
	r.linkIn = &linkIn
	return r
}

func (r ApiCreateLinkWebShareRidLinkPostRequest) XCsrfToken(xCsrfToken string) ApiCreateLinkWebShareRidLinkPostRequest {
	r.xCsrfToken = &xCsrfToken
	return r
}

func (r ApiCreateLinkWebShareRidLinkPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CreateLinkWebShareRidLinkPostExecute(r)
}

/*
CreateLinkWebShareRidLinkPost Create Link

Mint a viewer share link. Returns the fresh state PLUS `minted` with the
raw `share_key` + url — the ONLY response that carries the key. Artifacts
only (v1: folder share links are not supported).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param rid
 @return ApiCreateLinkWebShareRidLinkPostRequest
*/
func (a *DefaultAPIService) CreateLinkWebShareRidLinkPost(ctx context.Context, rid string) ApiCreateLinkWebShareRidLinkPostRequest {
	return ApiCreateLinkWebShareRidLinkPostRequest{
		ApiService: a,
		ctx: ctx,
		rid: rid,
	}
}

// Execute executes the request
//  @return interface{}
func (a *DefaultAPIService) CreateLinkWebShareRidLinkPostExecute(r ApiCreateLinkWebShareRidLinkPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.CreateLinkWebShareRidLinkPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/web/share/{rid}/link"
	localVarPath = strings.Replace(localVarPath, "{"+"rid"+"}", url.PathEscape(parameterValueToString(r.rid, "rid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.linkIn == nil {
		return localVarReturnValue, nil, reportError("linkIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xCsrfToken != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-csrf-token", r.xCsrfToken, "simple", "")
	}
	// body params
	localVarPostBody = r.linkIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateShareRouteV0SharesPostRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	shareCreateIn *ShareCreateIn
	xAgentdriveActor *string
	authorization *string
}

func (r ApiCreateShareRouteV0SharesPostRequest) ShareCreateIn(shareCreateIn ShareCreateIn) ApiCreateShareRouteV0SharesPostRequest {
	r.shareCreateIn = &shareCreateIn
	return r
}

func (r ApiCreateShareRouteV0SharesPostRequest) XAgentdriveActor(xAgentdriveActor string) ApiCreateShareRouteV0SharesPostRequest {
	r.xAgentdriveActor = &xAgentdriveActor
	return r
}

func (r ApiCreateShareRouteV0SharesPostRequest) Authorization(authorization string) ApiCreateShareRouteV0SharesPostRequest {
	r.authorization = &authorization
	return r
}

func (r ApiCreateShareRouteV0SharesPostRequest) Execute() (*ShareMintOut, *http.Response, error) {
	return r.ApiService.CreateShareRouteV0SharesPostExecute(r)
}

/*
CreateShareRouteV0SharesPost Mint a share link (returns the share_key once)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateShareRouteV0SharesPostRequest
*/
func (a *DefaultAPIService) CreateShareRouteV0SharesPost(ctx context.Context) ApiCreateShareRouteV0SharesPostRequest {
	return ApiCreateShareRouteV0SharesPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ShareMintOut
func (a *DefaultAPIService) CreateShareRouteV0SharesPostExecute(r ApiCreateShareRouteV0SharesPostRequest) (*ShareMintOut, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ShareMintOut
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.CreateShareRouteV0SharesPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v0/shares"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.shareCreateIn == nil {
		return localVarReturnValue, nil, reportError("shareCreateIn is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAgentdriveActor != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-agentdrive-actor", r.xAgentdriveActor, "simple", "")
	}
	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization, "simple", "")
	}
	// body params
	localVarPostBody = r.shareCreateIn
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateUserTokenWebTokensCreatePostRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	csrf *string
	label *string
	scope *string
}

func (r ApiCreateUserTokenWebTokensCreatePostRequest) Csrf(csrf string) ApiCreateUserTokenWebTokensCreatePostRequest {
	r.csrf = &csrf
	return r
}

func (r ApiCreateUserTokenWebTokensCreatePostRequest) Label(label string) ApiCreateUserTokenWebTokensCreatePostRequest {
	r.label = &label
	return r
}

func (r ApiCreateUserTokenWebTokensCreatePostRequest) Scope(scope string) ApiCreateUserTokenWebTokensCreatePostRequest {
	r.scope = &scope
	return r
}

func (r ApiCreateUserTokenWebTokensCreatePostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CreateUserTokenWebTokensCreatePostExecute(r)
}

/*
CreateUserTokenWebTokensCreatePost Create User Token

Mint an `ad_user_` user-identity token (workspaces-design §5.2, §5.6).

**Web-only minting**: the bootstrap chicken-and-egg is solved here,
and a leaked token must not be able to mint persistent siblings — so
this path exists only behind the browser session + CSRF, never over
the `/v0/` API.

The raw token is shown ONCE via `reveal_token` in the session, then
consumed on the next GET of the api-keys tab.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateUserTokenWebTokensCreatePostRequest
*/
func (a *DefaultAPIService) CreateUserTokenWebTokensCreatePost(ctx context.Context) ApiCreateUserTokenWebTokensCreatePostRequest {
	return ApiCreateUserTokenWebTokensCreatePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *DefaultAPIService) CreateUserTokenWebTokensCreatePostExecute(r ApiCreateUserTokenWebTokensCreatePostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.CreateUserTokenWebTokensCreatePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/web/tokens/create"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.csrf == nil {
		return localVarReturnValue, nil, reportError("csrf is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.label != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "label", r.label, "", "")
	}
	if r.scope != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "scope", r.scope, "", "")
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "csrf", r.csrf, "", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateWorkspaceWebWebWorkspacesPostRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	name *string
	csrf *string
}

func (r ApiCreateWorkspaceWebWebWorkspacesPostRequest) Name(name string) ApiCreateWorkspaceWebWebWorkspacesPostRequest {
	r.name = &name
	return r
}

func (r ApiCreateWorkspaceWebWebWorkspacesPostRequest) Csrf(csrf string) ApiCreateWorkspaceWebWebWorkspacesPostRequest {
	r.csrf = &csrf
	return r
}

func (r ApiCreateWorkspaceWebWebWorkspacesPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.CreateWorkspaceWebWebWorkspacesPostExecute(r)
}

/*
CreateWorkspaceWebWebWorkspacesPost Create Workspace Web

Create a new workspace, set it active, reveal its starter key once
(workspaces-design §4.7).

The web (session+CSRF) twin of `POST /v0/workspaces`. A user may
administer up to their plan's number of TEAM workspaces
(`core.entitlements.can_create_workspace`, tier-governed — workspaces-v2
§4.6); a blocked create bounces to the dashboard with a limit-reached
affordance (`?err=workspace_limit`). On success the new workspace + its starter
drive become active and we land on the api-keys tab so the user sees the
one-time key reveal.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateWorkspaceWebWebWorkspacesPostRequest
*/
func (a *DefaultAPIService) CreateWorkspaceWebWebWorkspacesPost(ctx context.Context) ApiCreateWorkspaceWebWebWorkspacesPostRequest {
	return ApiCreateWorkspaceWebWebWorkspacesPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
[...]
