{"openapi":"3.1.0","info":{"title":"AgentDrive","description":"AgentDrive is an agent-focused artifact store: drive-scoped folders, artifacts, and immutable versions, with local grants, possession-based share links, drive-scoped search, and a cursor-resumable change feed. Bearer-authenticated with Hub-issued product tokens (see /.well-known/oauth-protected-resource); every mutation takes an Idempotency-Key, and existing-state mutations take If-Match.","version":"0.0.1"},"servers":[{"url":"https://drive.tokencanopy.com","description":"This deployment"},{"url":"http://127.0.0.1:8000","description":"Local dev"}],"paths":{"/s/{share_key}":{"get":{"tags":["shares-redemption"],"summary":"Redeem Share","description":"The un-slashed form. Browsers are canonicalized onto `/s/{key}/`.\n\nThis keeps the published `shares_redeem` operation id because it remains\nthe same redemption operation: same URL, JSON `Accept`, byte/JSON result,\nand uniform 404. In a split deployment the share host authorizes a\nspecific non-HTML request and then 308s it to this same path on the\nconfigured public renderer; the renderer (or direct-renderer rollback)\nreturns the existing result. Dropping the route from the spec would have\ndescribed a live operation as gone.\n\nThe page links its own sub-resources relatively (`content`), and relative\nresolution replaces the last path segment: from `/s/KEY` that reaches\n`/s/content`, from `/s/KEY/` it reaches `/s/KEY/content`. The trailing\nslash is what makes an image on a share page load at all. Links already in\nthe wild have no slash, so this redirect is how they keep working.\n\nIt is unconditional and runs before any lookup — redirecting only for keys\nthat resolve would turn the status code into an existence oracle and undo\nthe anti-enumeration property the rest of this module maintains.\n\nHTML navigation is canonicalized to the trailing-slash form. Non-HTML\nclients are answered in place by the renderer/direct rollback, or moved\nto the renderer only after the credential resolves on the share host.","operationId":"shares_redeem","parameters":[{"name":"share_key","in":"path","required":true,"schema":{"type":"string","title":"Share Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Request validation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationErrorResponse"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}}}}},"/v0/drives":{"get":{"tags":["drives"],"summary":"List Drives","description":"List the actor's workspace drives, newest-first (keyset paginated).\n\n``lifecycle`` (active|deleted|all) exposes soft-deleted drives so a\nmanager can read the post-delete revision as the If-Match source for a\nrestore. Unknown query parameters are rejected (§6.3).","operationId":"drives_list","parameters":[{"name":"lifecycle","in":"query","required":false,"schema":{"type":"string","default":"active","title":"Lifecycle"}},{"name":"limit","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Limit"}},{"name":"cursor","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Cursor"}},{"name":"authorization","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Authorization"},"deprecated":true,"description":"Deprecated: redundant with the operation's `bearerAuth` security requirement, which is how a generated client should learn to authenticate. Scheduled for removal."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DriveListOut"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"422":{"description":"Request validation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationErrorResponse"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"404":{"description":"The resource was not found or is not visible to the caller.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"401":{"description":"Missing or invalid bearer token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"WWW-Authenticate":{"description":"RFC 6750 bearer authentication challenge.","schema":{"type":"string"}}}},"403":{"description":"Token lacks a required scope.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"429":{"description":"Rate limited.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"Retry-After":{"description":"Seconds until the caller should retry.","schema":{"type":"integer","minimum":0}}}},"503":{"description":"Token verification is temporarily unavailable (the Hub JWKS could not be fetched). This is the API's unavailability, not a problem with the presented credential.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"Retry-After":{"description":"Seconds until the caller should retry.","schema":{"type":"integer","minimum":0}}}},"400":{"description":"Malformed request (invalid query parameter, cursor, or argument).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}}},"security":[{"bearerAuth":[]}],"x-required-scopes":["drives:read"]},"post":{"tags":["drives"],"summary":"Create Drive","description":"Create a drive with its structural root folder and creator-manager\ngrant(s) in one transaction; idempotent under the ``Idempotency-Key``.","operationId":"drives_create","parameters":[{"name":"Idempotency-Key","in":"header","required":true,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Idempotency-Key"}},{"name":"authorization","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Authorization"},"deprecated":true,"description":"Deprecated: redundant with the operation's `bearerAuth` security requirement, which is how a generated client should learn to authenticate. Scheduled for removal."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DriveCreateIn"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DriveOut"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"ETag":{"description":"Current strong entity tag.","schema":{"type":"string"}},"Location":{"description":"Canonical URL of the created resource.","schema":{"type":"string","format":"uri-reference"}}}},"422":{"description":"Request validation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationErrorResponse"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"404":{"description":"The parent or target resource was not found or is not visible.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"409":{"description":"A sibling already occupies the name/path, or the idempotency key was reused for a different request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"412":{"description":"If-Match did not match (copy/restore preconditions).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"ETag":{"description":"Current strong entity tag.","schema":{"type":"string"}}}},"428":{"description":"If-Match is required for this mutation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"401":{"description":"Missing or invalid bearer token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"WWW-Authenticate":{"description":"RFC 6750 bearer authentication challenge.","schema":{"type":"string"}}}},"403":{"description":"Token lacks a required scope.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"429":{"description":"Rate limited.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"Retry-After":{"description":"Seconds until the caller should retry.","schema":{"type":"integer","minimum":0}}}},"503":{"description":"Token verification is temporarily unavailable (the Hub JWKS could not be fetched). This is the API's unavailability, not a problem with the presented credential.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"Retry-After":{"description":"Seconds until the caller should retry.","schema":{"type":"integer","minimum":0}}}},"400":{"description":"Malformed request (invalid query parameter, cursor, or argument).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}}},"security":[{"bearerAuth":[]}],"x-required-scopes":["drives:write"]}},"/v0/drives/{drive_id}":{"get":{"tags":["drives"],"summary":"Read Drive","description":"Read one active drive. ETag = quoted revision; matching\n``If-None-Match`` → 304. Deleted and cross-workspace drives are 404.","operationId":"drives_read","parameters":[{"name":"drive_id","in":"path","required":true,"schema":{"type":"string","title":"Drive Id"}},{"name":"If-None-Match","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"If-None-Match"}},{"name":"authorization","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Authorization"},"deprecated":true,"description":"Deprecated: redundant with the operation's `bearerAuth` security requirement, which is how a generated client should learn to authenticate. Scheduled for removal."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DriveOut"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"ETag":{"description":"Current strong entity tag.","schema":{"type":"string"}}}},"304":{"description":"If-None-Match matched.","headers":{"ETag":{"description":"Current strong entity tag.","schema":{"type":"string"}},"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"422":{"description":"Request validation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationErrorResponse"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"404":{"description":"The resource was not found or is not visible to the caller.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"401":{"description":"Missing or invalid bearer token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"WWW-Authenticate":{"description":"RFC 6750 bearer authentication challenge.","schema":{"type":"string"}}}},"403":{"description":"Token lacks a required scope.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"429":{"description":"Rate limited.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"Retry-After":{"description":"Seconds until the caller should retry.","schema":{"type":"integer","minimum":0}}}},"503":{"description":"Token verification is temporarily unavailable (the Hub JWKS could not be fetched). This is the API's unavailability, not a problem with the presented credential.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"Retry-After":{"description":"Seconds until the caller should retry.","schema":{"type":"integer","minimum":0}}}},"400":{"description":"Malformed request (invalid query parameter, cursor, or argument).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}}},"security":[{"bearerAuth":[]}],"x-required-scopes":["drives:read"]},"patch":{"tags":["drives"],"summary":"Update Drive","description":"Rename / update a drive's metadata. Requires ``Idempotency-Key`` and\n``If-Match`` (428 absent, 412 stale); bumps the revision.","operationId":"drives_update","parameters":[{"name":"drive_id","in":"path","required":true,"schema":{"type":"string","title":"Drive Id"}},{"name":"Idempotency-Key","in":"header","required":true,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Idempotency-Key"}},{"name":"If-Match","in":"header","required":true,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"If-Match"}},{"name":"authorization","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Authorization"},"deprecated":true,"description":"Deprecated: redundant with the operation's `bearerAuth` security requirement, which is how a generated client should learn to authenticate. Scheduled for removal."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DriveUpdateIn"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DriveOut"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"ETag":{"description":"Current strong entity tag.","schema":{"type":"string"}}}},"422":{"description":"Request validation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationErrorResponse"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"404":{"description":"The resource was not found or is not visible to the caller.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"409":{"description":"The mutation conflicts with current state (name/path, lifecycle).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"412":{"description":"If-Match did not match the resource's current revision.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"ETag":{"description":"Current strong entity tag.","schema":{"type":"string"}}}},"428":{"description":"If-Match is required for this mutation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"401":{"description":"Missing or invalid bearer token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"WWW-Authenticate":{"description":"RFC 6750 bearer authentication challenge.","schema":{"type":"string"}}}},"403":{"description":"Token lacks a required scope.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"429":{"description":"Rate limited.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"Retry-After":{"description":"Seconds until the caller should retry.","schema":{"type":"integer","minimum":0}}}},"503":{"description":"Token verification is temporarily unavailable (the Hub JWKS could not be fetched). This is the API's unavailability, not a problem with the presented credential.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"Retry-After":{"description":"Seconds until the caller should retry.","schema":{"type":"integer","minimum":0}}}},"400":{"description":"Malformed request (invalid query parameter, cursor, or argument).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}}},"security":[{"bearerAuth":[]}],"x-required-scopes":["drives:write"]},"delete":{"tags":["drives"],"summary":"Delete Drive","description":"Soft-delete a drive. Returns 200 with the deleted representation so the\nclient has the post-delete revision/ETag for a restore.","operationId":"drives_delete","parameters":[{"name":"drive_id","in":"path","required":true,"schema":{"type":"string","title":"Drive Id"}},{"name":"Idempotency-Key","in":"header","required":true,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Idempotency-Key"}},{"name":"If-Match","in":"header","required":true,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"If-Match"}},{"name":"authorization","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Authorization"},"deprecated":true,"description":"Deprecated: redundant with the operation's `bearerAuth` security requirement, which is how a generated client should learn to authenticate. Scheduled for removal."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DriveOut"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"ETag":{"description":"Current strong entity tag.","schema":{"type":"string"}}}},"422":{"description":"Request validation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationErrorResponse"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"404":{"description":"The resource was not found or is not visible to the caller.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"409":{"description":"The mutation conflicts with current state (name/path, lifecycle).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"412":{"description":"If-Match did not match the resource's current revision.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"ETag":{"description":"Current strong entity tag.","schema":{"type":"string"}}}},"428":{"description":"If-Match is required for this mutation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"401":{"description":"Missing or invalid bearer token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"WWW-Authenticate":{"description":"RFC 6750 bearer authentication challenge.","schema":{"type":"string"}}}},"403":{"description":"Token lacks a required scope.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"429":{"description":"Rate limited.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"Retry-After":{"description":"Seconds until the caller should retry.","schema":{"type":"integer","minimum":0}}}},"503":{"description":"Token verification is temporarily unavailable (the Hub JWKS could not be fetched). This is the API's unavailability, not a problem with the presented credential.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"Retry-After":{"description":"Seconds until the caller should retry.","schema":{"type":"integer","minimum":0}}}},"400":{"description":"Malformed request (invalid query parameter, cursor, or argument).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}}},"security":[{"bearerAuth":[]}],"x-required-scopes":["drives:write"]}},"/v0/drives/{drive_id}/restore":{"post":{"tags":["drives"],"summary":"Restore Drive","description":"Restore a soft-deleted drive. If-Match must carry the post-delete\nrevision; restoring an already-active drive is 409 CONFLICT.","operationId":"drives_restore","parameters":[{"name":"drive_id","in":"path","required":true,"schema":{"type":"string","title":"Drive Id"}},{"name":"Idempotency-Key","in":"header","required":true,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Idempotency-Key"}},{"name":"If-Match","in":"header","required":true,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"If-Match"}},{"name":"authorization","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Authorization"},"deprecated":true,"description":"Deprecated: redundant with the operation's `bearerAuth` security requirement, which is how a generated client should learn to authenticate. Scheduled for removal."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DriveOut"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"ETag":{"description":"Current strong entity tag.","schema":{"type":"string"}}}},"422":{"description":"Request validation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationErrorResponse"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"404":{"description":"The resource was not found or is not visible to the caller.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"409":{"description":"The mutation conflicts with current state (name/path, lifecycle).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"412":{"description":"If-Match did not match the resource's current revision.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"ETag":{"description":"Current strong entity tag.","schema":{"type":"string"}}}},"428":{"description":"If-Match is required for this mutation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"401":{"description":"Missing or invalid bearer token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"WWW-Authenticate":{"description":"RFC 6750 bearer authentication challenge.","schema":{"type":"string"}}}},"403":{"description":"Token lacks a required scope.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"429":{"description":"Rate limited.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"Retry-After":{"description":"Seconds until the caller should retry.","schema":{"type":"integer","minimum":0}}}},"503":{"description":"Token verification is temporarily unavailable (the Hub JWKS could not be fetched). This is the API's unavailability, not a problem with the presented credential.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"Retry-After":{"description":"Seconds until the caller should retry.","schema":{"type":"integer","minimum":0}}}},"400":{"description":"Malformed request (invalid query parameter, cursor, or argument).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}}},"security":[{"bearerAuth":[]}],"x-required-scopes":["drives:write"]}},"/v0/drives/{drive_id}/usage":{"get":{"tags":["drives"],"summary":"Drive Usage","description":"Byte counters for one active drive: storage is the live sum of its\nversions' sizes; retrieval reads the counter the content-read slice\nmaintains (0 until it lands).","operationId":"drives_usage","parameters":[{"name":"drive_id","in":"path","required":true,"schema":{"type":"string","title":"Drive Id"}},{"name":"authorization","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Authorization"},"deprecated":true,"description":"Deprecated: redundant with the operation's `bearerAuth` security requirement, which is how a generated client should learn to authenticate. Scheduled for removal."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DriveUsageOut"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"422":{"description":"Request validation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationErrorResponse"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"404":{"description":"The resource was not found or is not visible to the caller.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"401":{"description":"Missing or invalid bearer token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"WWW-Authenticate":{"description":"RFC 6750 bearer authentication challenge.","schema":{"type":"string"}}}},"403":{"description":"Token lacks a required scope.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"429":{"description":"Rate limited.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"Retry-After":{"description":"Seconds until the caller should retry.","schema":{"type":"integer","minimum":0}}}},"503":{"description":"Token verification is temporarily unavailable (the Hub JWKS could not be fetched). This is the API's unavailability, not a problem with the presented credential.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"Retry-After":{"description":"Seconds until the caller should retry.","schema":{"type":"integer","minimum":0}}}},"400":{"description":"Malformed request (invalid query parameter, cursor, or argument).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}}},"security":[{"bearerAuth":[]}],"x-required-scopes":["usage:read"]}},"/v0/drives/{drive_id}/folders":{"get":{"tags":["folders"],"summary":"List Folders","description":"List the drive's folders, newest-first (keyset paginated).\n\n``lifecycle`` (active|deleted|all) exposes soft-deleted folders so the\npost-delete revision can be read as the If-Match source for a restore.\n``parent_id`` / ``name`` are exact-match filters. Unknown query parameters\nare rejected (§6.3).","operationId":"folders_list","parameters":[{"name":"drive_id","in":"path","required":true,"schema":{"type":"string","title":"Drive Id"}},{"name":"lifecycle","in":"query","required":false,"schema":{"type":"string","default":"active","title":"Lifecycle"}},{"name":"limit","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Limit"}},{"name":"cursor","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Cursor"}},{"name":"parent_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Parent Id"}},{"name":"name","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name"}},{"name":"authorization","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Authorization"},"deprecated":true,"description":"Deprecated: redundant with the operation's `bearerAuth` security requirement, which is how a generated client should learn to authenticate. Scheduled for removal."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FolderListOut"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"422":{"description":"Request validation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationErrorResponse"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"404":{"description":"The resource was not found or is not visible to the caller.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"401":{"description":"Missing or invalid bearer token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"WWW-Authenticate":{"description":"RFC 6750 bearer authentication challenge.","schema":{"type":"string"}}}},"403":{"description":"Token lacks a required scope.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"429":{"description":"Rate limited.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"Retry-After":{"description":"Seconds until the caller should retry.","schema":{"type":"integer","minimum":0}}}},"503":{"description":"Token verification is temporarily unavailable (the Hub JWKS could not be fetched). This is the API's unavailability, not a problem with the presented credential.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"Retry-After":{"description":"Seconds until the caller should retry.","schema":{"type":"integer","minimum":0}}}},"400":{"description":"Malformed request (invalid query parameter, cursor, or argument).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}}},"security":[{"bearerAuth":[]}],"x-required-scopes":["content:read"]},"post":{"tags":["folders"],"summary":"Create Folder","description":"Create one folder under `parent_id`; idempotent under the\n``Idempotency-Key``.","operationId":"folders_create","parameters":[{"name":"drive_id","in":"path","required":true,"schema":{"type":"string","title":"Drive Id"}},{"name":"Idempotency-Key","in":"header","required":true,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Idempotency-Key"}},{"name":"authorization","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Authorization"},"deprecated":true,"description":"Deprecated: redundant with the operation's `bearerAuth` security requirement, which is how a generated client should learn to authenticate. Scheduled for removal."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FolderCreateIn"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FolderOut"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"ETag":{"description":"Current strong entity tag.","schema":{"type":"string"}},"Location":{"description":"Canonical URL of the created resource.","schema":{"type":"string","format":"uri-reference"}}}},"422":{"description":"Request validation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationErrorResponse"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"404":{"description":"The parent or target resource was not found or is not visible.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"409":{"description":"A sibling already occupies the name/path, or the idempotency key was reused for a different request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"412":{"description":"If-Match did not match (copy/restore preconditions).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"ETag":{"description":"Current strong entity tag.","schema":{"type":"string"}}}},"428":{"description":"If-Match is required for this mutation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"401":{"description":"Missing or invalid bearer token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"WWW-Authenticate":{"description":"RFC 6750 bearer authentication challenge.","schema":{"type":"string"}}}},"403":{"description":"Token lacks a required scope.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"429":{"description":"Rate limited.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"Retry-After":{"description":"Seconds until the caller should retry.","schema":{"type":"integer","minimum":0}}}},"503":{"description":"Token verification is temporarily unavailable (the Hub JWKS could not be fetched). This is the API's unavailability, not a problem with the presented credential.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"Retry-After":{"description":"Seconds until the caller should retry.","schema":{"type":"integer","minimum":0}}}},"400":{"description":"Malformed request (invalid query parameter, cursor, or argument).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}}},"security":[{"bearerAuth":[]}],"x-required-scopes":["content:write"]}},"/v0/drives/{drive_id}/folders/{folder_id}":{"get":{"tags":["folders"],"summary":"Read Folder","description":"Read one active folder. ETag = quoted revision; matching\n``If-None-Match`` → 304. Deleted and cross-workspace folders are 404.","operationId":"folders_read","parameters":[{"name":"drive_id","in":"path","required":true,"schema":{"type":"string","title":"Drive Id"}},{"name":"folder_id","in":"path","required":true,"schema":{"type":"string","title":"Folder Id"}},{"name":"If-None-Match","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"If-None-Match"}},{"name":"authorization","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Authorization"},"deprecated":true,"description":"Deprecated: redundant with the operation's `bearerAuth` security requirement, which is how a generated client should learn to authenticate. Scheduled for removal."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FolderOut"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"ETag":{"description":"Current strong entity tag.","schema":{"type":"string"}}}},"304":{"description":"If-None-Match matched.","headers":{"ETag":{"description":"Current strong entity tag.","schema":{"type":"string"}},"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"422":{"description":"Request validation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationErrorResponse"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"404":{"description":"The resource was not found or is not visible to the caller.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"401":{"description":"Missing or invalid bearer token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"WWW-Authenticate":{"description":"RFC 6750 bearer authentication challenge.","schema":{"type":"string"}}}},"403":{"description":"Token lacks a required scope.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"429":{"description":"Rate limited.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"Retry-After":{"description":"Seconds until the caller should retry.","schema":{"type":"integer","minimum":0}}}},"503":{"description":"Token verification is temporarily unavailable (the Hub JWKS could not be fetched). This is the API's unavailability, not a problem with the presented credential.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"Retry-After":{"description":"Seconds until the caller should retry.","schema":{"type":"integer","minimum":0}}}},"400":{"description":"Malformed request (invalid query parameter, cursor, or argument).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}}},"security":[{"bearerAuth":[]}],"x-required-scopes":["content:read"]},"patch":{"tags":["folders"],"summary":"Update Folder","description":"Rename / move / update a folder's metadata. Requires\n``Idempotency-Key`` and ``If-Match`` (428 absent, 412 stale); bumps the\nrevision.","operationId":"folders_update","parameters":[{"name":"drive_id","in":"path","required":true,"schema":{"type":"string","title":"Drive Id"}},{"name":"folder_id","in":"path","required":true,"schema":{"type":"string","title":"Folder Id"}},{"name":"Idempotency-Key","in":"header","required":true,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Idempotency-Key"}},{"name":"If-Match","in":"header","required":true,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"If-Match"}},{"name":"authorization","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Authorization"},"deprecated":true,"description":"Deprecated: redundant with the operation's `bearerAuth` security requirement, which is how a generated client should learn to authenticate. Scheduled for removal."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FolderUpdateIn"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FolderOut"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"ETag":{"description":"Current strong entity tag.","schema":{"type":"string"}}}},"422":{"description":"Request validation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationErrorResponse"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"404":{"description":"The resource was not found or is not visible to the caller.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"409":{"description":"The mutation conflicts with current state (name/path, lifecycle).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"412":{"description":"If-Match did not match the resource's current revision.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"ETag":{"description":"Current strong entity tag.","schema":{"type":"string"}}}},"428":{"description":"If-Match is required for this mutation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"401":{"description":"Missing or invalid bearer token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"WWW-Authenticate":{"description":"RFC 6750 bearer authentication challenge.","schema":{"type":"string"}}}},"403":{"description":"Token lacks a required scope.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"429":{"description":"Rate limited.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"Retry-After":{"description":"Seconds until the caller should retry.","schema":{"type":"integer","minimum":0}}}},"503":{"description":"Token verification is temporarily unavailable (the Hub JWKS could not be fetched). This is the API's unavailability, not a problem with the presented credential.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"Retry-After":{"description":"Seconds until the caller should retry.","schema":{"type":"integer","minimum":0}}}},"400":{"description":"Malformed request (invalid query parameter, cursor, or argument).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}}},"security":[{"bearerAuth":[]}],"x-required-scopes":["content:write"]},"delete":{"tags":["folders"],"summary":"Delete Folder","description":"Soft-delete a folder and its full live subtree (folders + artifacts) in\none transaction. A non-empty subtree requires ``recursive=true`` (409\nFOLDER_RECURSIVE_REQUIRED otherwise). Returns the deleted root\nrepresentation plus exact cascade counts and the post-delete\nrevision/ETag for a restore.","operationId":"folders_delete","parameters":[{"name":"drive_id","in":"path","required":true,"schema":{"type":"string","title":"Drive Id"}},{"name":"folder_id","in":"path","required":true,"schema":{"type":"string","title":"Folder Id"}},{"name":"recursive","in":"query","required":false,"schema":{"type":"boolean","default":false,"title":"Recursive"}},{"name":"Idempotency-Key","in":"header","required":true,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Idempotency-Key"}},{"name":"If-Match","in":"header","required":true,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"If-Match"}},{"name":"authorization","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Authorization"},"deprecated":true,"description":"Deprecated: redundant with the operation's `bearerAuth` security requirement, which is how a generated client should learn to authenticate. Scheduled for removal."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FolderCascadeOut"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"ETag":{"description":"Current strong entity tag.","schema":{"type":"string"}}}},"422":{"description":"Request validation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationErrorResponse"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"404":{"description":"The resource was not found or is not visible to the caller.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"409":{"description":"The mutation conflicts with current state (name/path, lifecycle).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"412":{"description":"If-Match did not match the resource's current revision.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"ETag":{"description":"Current strong entity tag.","schema":{"type":"string"}}}},"428":{"description":"If-Match is required for this mutation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"401":{"description":"Missing or invalid bearer token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"WWW-Authenticate":{"description":"RFC 6750 bearer authentication challenge.","schema":{"type":"string"}}}},"403":{"description":"Token lacks a required scope.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"429":{"description":"Rate limited.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"Retry-After":{"description":"Seconds until the caller should retry.","schema":{"type":"integer","minimum":0}}}},"503":{"description":"Token verification is temporarily unavailable (the Hub JWKS could not be fetched). This is the API's unavailability, not a problem with the presented credential.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"Retry-After":{"description":"Seconds until the caller should retry.","schema":{"type":"integer","minimum":0}}}},"400":{"description":"Malformed request (invalid query parameter, cursor, or argument).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}}},"security":[{"bearerAuth":[]}],"x-required-scopes":["content:write"]}},"/v0/drives/{drive_id}/folders/{folder_id}/restore":{"post":{"tags":["folders"],"summary":"Restore Folder","description":"Restore a soft-deleted folder and its deleted subtree atomically.\nIf-Match must carry the post-delete revision; restoring an already-active\nfolder is 409 CONFLICT.","operationId":"folders_restore","parameters":[{"name":"drive_id","in":"path","required":true,"schema":{"type":"string","title":"Drive Id"}},{"name":"folder_id","in":"path","required":true,"schema":{"type":"string","title":"Folder Id"}},{"name":"Idempotency-Key","in":"header","required":true,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Idempotency-Key"}},{"name":"If-Match","in":"header","required":true,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"If-Match"}},{"name":"authorization","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Authorization"},"deprecated":true,"description":"Deprecated: redundant with the operation's `bearerAuth` security requirement, which is how a generated client should learn to authenticate. Scheduled for removal."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FolderCascadeOut"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"ETag":{"description":"Current strong entity tag.","schema":{"type":"string"}}}},"422":{"description":"Request validation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationErrorResponse"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"404":{"description":"The resource was not found or is not visible to the caller.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"409":{"description":"The mutation conflicts with current state (name/path, lifecycle).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"412":{"description":"If-Match did not match the resource's current revision.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"ETag":{"description":"Current strong entity tag.","schema":{"type":"string"}}}},"428":{"description":"If-Match is required for this mutation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"401":{"description":"Missing or invalid bearer token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"WWW-Authenticate":{"description":"RFC 6750 bearer authentication challenge.","schema":{"type":"string"}}}},"403":{"description":"Token lacks a required scope.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"429":{"description":"Rate limited.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"Retry-After":{"description":"Seconds until the caller should retry.","schema":{"type":"integer","minimum":0}}}},"503":{"description":"Token verification is temporarily unavailable (the Hub JWKS could not be fetched). This is the API's unavailability, not a problem with the presented credential.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"Retry-After":{"description":"Seconds until the caller should retry.","schema":{"type":"integer","minimum":0}}}},"400":{"description":"Malformed request (invalid query parameter, cursor, or argument).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}}},"security":[{"bearerAuth":[]}],"x-required-scopes":["content:write"]}},"/v0/drives/{drive_id}/folders/{folder_id}/copy":{"post":{"tags":["folders"],"summary":"Copy Folder","description":"Copy a folder's subtree within the same drive.\n\nCross-drive copy is out of v0 scope and rejected (400 INVALID_ARGUMENT).\n``destination_drive_id`` must equal the source drive when present.\nMaterializes the subtree synchronously → 201 + the copied folder.\nThe source root, descendant folders, and artifacts may total at most\n5,000 live resources; larger copies fail with 409 SUBTREE_TOO_LARGE.\n``If-Match`` is optional; when present it is validated against the source\nrevision (412 stale).","operationId":"folders_copy","parameters":[{"name":"drive_id","in":"path","required":true,"schema":{"type":"string","title":"Drive Id"}},{"name":"folder_id","in":"path","required":true,"schema":{"type":"string","title":"Folder Id"}},{"name":"Idempotency-Key","in":"header","required":true,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Idempotency-Key"}},{"name":"If-Match","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"If-Match"}},{"name":"authorization","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Authorization"},"deprecated":true,"description":"Deprecated: redundant with the operation's `bearerAuth` security requirement, which is how a generated client should learn to authenticate. Scheduled for removal."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FolderCopyIn"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FolderOut"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"ETag":{"description":"Current strong entity tag.","schema":{"type":"string"}},"Location":{"description":"Canonical URL of the created resource.","schema":{"type":"string","format":"uri-reference"}}}},"422":{"description":"Request validation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationErrorResponse"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"404":{"description":"The parent or target resource was not found or is not visible.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"409":{"description":"A sibling already occupies the name/path, or the idempotency key was reused for a different request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"412":{"description":"If-Match did not match (copy/restore preconditions).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"ETag":{"description":"Current strong entity tag.","schema":{"type":"string"}}}},"428":{"description":"If-Match is required for this mutation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"401":{"description":"Missing or invalid bearer token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"WWW-Authenticate":{"description":"RFC 6750 bearer authentication challenge.","schema":{"type":"string"}}}},"403":{"description":"Token lacks a required scope.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"429":{"description":"Rate limited.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"Retry-After":{"description":"Seconds until the caller should retry.","schema":{"type":"integer","minimum":0}}}},"503":{"description":"Token verification is temporarily unavailable (the Hub JWKS could not be fetched). This is the API's unavailability, not a problem with the presented credential.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"Retry-After":{"description":"Seconds until the caller should retry.","schema":{"type":"integer","minimum":0}}}},"400":{"description":"Malformed request (invalid query parameter, cursor, or argument).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}}},"security":[{"bearerAuth":[]}],"x-required-scopes":["content:read","content:write"]}},"/v0/drives/{drive_id}/grants":{"get":{"tags":["grants"],"summary":"List Grants","description":"List explicit grants in the drive, keyset paginated.\n\n**What you see depends on your role (contract change).** A caller holding\n``manager`` on the drive lists EVERY grant in it. Any other caller lists\nonly the grants that name them — their own agent/user rows, ``workspace``\ngrants covering them, and ``public`` grants (which already expose the\nresource to them anyway). Previously any drive ``viewer`` could page out\nevery principal id, role and expiry in the drive; that was an\naccess-graph disclosure, not a feature.\n\nThe operation is refused (404) only for a caller holding no live grant\nanywhere in the drive — never for lack of ``manager``, because seeing\nyour own access is not a privilege. That admits folder-scoped\nprincipals, who previously 404'd here despite having access to show. A\nfolder ``manager`` still sees only their own rows, not the roster of the\nsubtree they administer; scoping the listing by per-resource\nadministration authority is a follow-up this change does not claim.\n\n``resource_id`` filters to one resource's grants and REQUIRES\n``resource_type`` alongside it — a bare resource id is ambiguous across\nthe three resource kinds, and guessing the kind from the id prefix would\nmake the filter's meaning depend on an id format the contract does not\npromise to keep. ``resource_type`` on its own remains a valid (and\npre-existing) filter.","operationId":"grants_list","parameters":[{"name":"drive_id","in":"path","required":true,"schema":{"type":"string","title":"Drive Id"}},{"name":"lifecycle","in":"query","required":false,"schema":{"type":"string","default":"active","title":"Lifecycle"}},{"name":"limit","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Limit"}},{"name":"cursor","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Cursor"}},{"name":"resource_type","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Resource Type"}},{"name":"resource_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Resource Id"}},{"name":"principal_type","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Principal Type"}},{"name":"authorization","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Authorization"},"deprecated":true,"description":"Deprecated: redundant with the operation's `bearerAuth` security requirement, which is how a generated client should learn to authenticate. Scheduled for removal."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GrantListOut"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"422":{"description":"Request validation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationErrorResponse"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"404":{"description":"The resource was not found or is not visible to the caller.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"401":{"description":"Missing or invalid bearer token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"WWW-Authenticate":{"description":"RFC 6750 bearer authentication challenge.","schema":{"type":"string"}}}},"403":{"description":"Token lacks a required scope.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"429":{"description":"Rate limited.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"Retry-After":{"description":"Seconds until the caller should retry.","schema":{"type":"integer","minimum":0}}}},"503":{"description":"Token verification is temporarily unavailable (the Hub JWKS could not be fetched). This is the API's unavailability, not a problem with the presented credential.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"Retry-After":{"description":"Seconds until the caller should retry.","schema":{"type":"integer","minimum":0}}}},"400":{"description":"Malformed request (invalid query parameter, cursor, or argument).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}}},"security":[{"bearerAuth":[]}],"x-required-scopes":["sharing:read"]},"post":{"tags":["grants"],"summary":"Create Grant","description":"Grant one principal a role on a drive, folder, or artifact.","operationId":"grants_create","parameters":[{"name":"drive_id","in":"path","required":true,"schema":{"type":"string","title":"Drive Id"}},{"name":"Idempotency-Key","in":"header","required":true,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Idempotency-Key"}},{"name":"authorization","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Authorization"},"deprecated":true,"description":"Deprecated: redundant with the operation's `bearerAuth` security requirement, which is how a generated client should learn to authenticate. Scheduled for removal."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GrantCreateIn"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GrantOut"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"ETag":{"description":"Current strong entity tag.","schema":{"type":"string"}},"Location":{"description":"Canonical URL of the created resource.","schema":{"type":"string","format":"uri-reference"}}}},"422":{"description":"Request validation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationErrorResponse"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"404":{"description":"The parent or target resource was not found or is not visible.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"409":{"description":"A sibling already occupies the name/path, or the idempotency key was reused for a different request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"412":{"description":"If-Match did not match (copy/restore preconditions).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"ETag":{"description":"Current strong entity tag.","schema":{"type":"string"}}}},"428":{"description":"If-Match is required for this mutation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"401":{"description":"Missing or invalid bearer token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"WWW-Authenticate":{"description":"RFC 6750 bearer authentication challenge.","schema":{"type":"string"}}}},"403":{"description":"Token lacks a required scope.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"429":{"description":"Rate limited.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"Retry-After":{"description":"Seconds until the caller should retry.","schema":{"type":"integer","minimum":0}}}},"503":{"description":"Token verification is temporarily unavailable (the Hub JWKS could not be fetched). This is the API's unavailability, not a problem with the presented credential.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"Retry-After":{"description":"Seconds until the caller should retry.","schema":{"type":"integer","minimum":0}}}},"400":{"description":"Malformed request (invalid query parameter, cursor, or argument).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}}},"security":[{"bearerAuth":[]}],"x-required-scopes":["sharing:write"]}},"/v0/drives/{drive_id}/grants/{grant_id}":{"get":{"tags":["grants"],"summary":"Read Grant","description":"Read one grant in the drive.","operationId":"grants_read","parameters":[{"name":"drive_id","in":"path","required":true,"schema":{"type":"string","title":"Drive Id"}},{"name":"grant_id","in":"path","required":true,"schema":{"type":"string","title":"Grant Id"}},{"name":"If-None-Match","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"If-None-Match"}},{"name":"authorization","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Authorization"},"deprecated":true,"description":"Deprecated: redundant with the operation's `bearerAuth` security requirement, which is how a generated client should learn to authenticate. Scheduled for removal."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GrantOut"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"ETag":{"description":"Current strong entity tag.","schema":{"type":"string"}}}},"304":{"description":"If-None-Match matched.","headers":{"ETag":{"description":"Current strong entity tag.","schema":{"type":"string"}},"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"422":{"description":"Request validation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationErrorResponse"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"404":{"description":"The resource was not found or is not visible to the caller.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"401":{"description":"Missing or invalid bearer token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"WWW-Authenticate":{"description":"RFC 6750 bearer authentication challenge.","schema":{"type":"string"}}}},"403":{"description":"Token lacks a required scope.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"429":{"description":"Rate limited.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"Retry-After":{"description":"Seconds until the caller should retry.","schema":{"type":"integer","minimum":0}}}},"503":{"description":"Token verification is temporarily unavailable (the Hub JWKS could not be fetched). This is the API's unavailability, not a problem with the presented credential.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"Retry-After":{"description":"Seconds until the caller should retry.","schema":{"type":"integer","minimum":0}}}},"400":{"description":"Malformed request (invalid query parameter, cursor, or argument).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}}},"security":[{"bearerAuth":[]}],"x-required-scopes":["sharing:read"]},"patch":{"tags":["grants"],"summary":"Update Grant","description":"Change a grant's role or expiry under If-Match.","operationId":"grants_update","parameters":[{"name":"drive_id","in":"path","required":true,"schema":{"type":"string","title":"Drive Id"}},{"name":"grant_id","in":"path","required":true,"schema":{"type":"string","title":"Grant Id"}},{"name":"Idempotency-Key","in":"header","required":true,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Idempotency-Key"}},{"name":"If-Match","in":"header","required":true,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"If-Match"}},{"name":"authorization","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Authorization"},"deprecated":true,"description":"Deprecated: redundant with the operation's `bearerAuth` security requirement, which is how a generated client should learn to authenticate. Scheduled for removal."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GrantUpdateIn"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GrantOut"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"ETag":{"description":"Current strong entity tag.","schema":{"type":"string"}}}},"422":{"description":"Request validation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationErrorResponse"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"404":{"description":"The resource was not found or is not visible to the caller.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"409":{"description":"The mutation conflicts with current state (name/path, lifecycle).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"412":{"description":"If-Match did not match the resource's current revision.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"ETag":{"description":"Current strong entity tag.","schema":{"type":"string"}}}},"428":{"description":"If-Match is required for this mutation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"401":{"description":"Missing or invalid bearer token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"WWW-Authenticate":{"description":"RFC 6750 bearer authentication challenge.","schema":{"type":"string"}}}},"403":{"description":"Token lacks a required scope.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"429":{"description":"Rate limited.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"Retry-After":{"description":"Seconds until the caller should retry.","schema":{"type":"integer","minimum":0}}}},"503":{"description":"Token verification is temporarily unavailable (the Hub JWKS could not be fetched). This is the API's unavailability, not a problem with the presented credential.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"Retry-After":{"description":"Seconds until the caller should retry.","schema":{"type":"integer","minimum":0}}}},"400":{"description":"Malformed request (invalid query parameter, cursor, or argument).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}}},"security":[{"bearerAuth":[]}],"x-required-scopes":["sharing:write"]},"delete":{"tags":["grants"],"summary":"Revoke Grant","description":"Revoke a grant (soft, sets revoked_at) under If-Match.","operationId":"grants_revoke","parameters":[{"name":"drive_id","in":"path","required":true,"schema":{"type":"string","title":"Drive Id"}},{"name":"grant_id","in":"path","required":true,"schema":{"type":"string","title":"Grant Id"}},{"name":"Idempotency-Key","in":"header","required":true,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Idempotency-Key"}},{"name":"If-Match","in":"header","required":true,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"If-Match"}},{"name":"authorization","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Authorization"},"deprecated":true,"description":"Deprecated: redundant with the operation's `bearerAuth` security requirement, which is how a generated client should learn to authenticate. Scheduled for removal."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GrantOut"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"ETag":{"description":"Current strong entity tag.","schema":{"type":"string"}}}},"422":{"description":"Request validation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationErrorResponse"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"404":{"description":"The resource was not found or is not visible to the caller.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"409":{"description":"The mutation conflicts with current state (name/path, lifecycle).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"412":{"description":"If-Match did not match the resource's current revision.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"ETag":{"description":"Current strong entity tag.","schema":{"type":"string"}}}},"428":{"description":"If-Match is required for this mutation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"401":{"description":"Missing or invalid bearer token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"WWW-Authenticate":{"description":"RFC 6750 bearer authentication challenge.","schema":{"type":"string"}}}},"403":{"description":"Token lacks a required scope.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"429":{"description":"Rate limited.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"Retry-After":{"description":"Seconds until the caller should retry.","schema":{"type":"integer","minimum":0}}}},"503":{"description":"Token verification is temporarily unavailable (the Hub JWKS could not be fetched). This is the API's unavailability, not a problem with the presented credential.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"Retry-After":{"description":"Seconds until the caller should retry.","schema":{"type":"integer","minimum":0}}}},"400":{"description":"Malformed request (invalid query parameter, cursor, or argument).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}}},"security":[{"bearerAuth":[]}],"x-required-scopes":["sharing:write"]}},"/v0/drives/{drive_id}/shares":{"get":{"tags":["shares"],"summary":"List Shares","description":"List the drive's shares (no secrets), keyset paginated.\n\n``resource_id`` narrows the page to one resource's links and REQUIRES\n``resource_type`` alongside it — a bare resource id is ambiguous across\n``artifact`` / ``artifact_version`` / ``folder``, and inferring the kind\nfrom the id prefix would tie the filter's meaning to an id format the\ncontract does not promise to keep. ``resource_type`` alone is a valid\nfilter. Listing shares already requires drive ``manager``, so these\nfilters only narrow a page the caller could already read in full.","operationId":"shares_list","parameters":[{"name":"drive_id","in":"path","required":true,"schema":{"type":"string","title":"Drive Id"}},{"name":"lifecycle","in":"query","required":false,"schema":{"type":"string","default":"active","title":"Lifecycle"}},{"name":"limit","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Limit"}},{"name":"cursor","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Cursor"}},{"name":"resource_type","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Resource Type"}},{"name":"resource_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Resource Id"}},{"name":"authorization","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Authorization"},"deprecated":true,"description":"Deprecated: redundant with the operation's `bearerAuth` security requirement, which is how a generated client should learn to authenticate. Scheduled for removal."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShareListOut"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"422":{"description":"Request validation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationErrorResponse"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"404":{"description":"The resource was not found or is not visible to the caller.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"401":{"description":"Missing or invalid bearer token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"WWW-Authenticate":{"description":"RFC 6750 bearer authentication challenge.","schema":{"type":"string"}}}},"403":{"description":"Token lacks a required scope.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"429":{"description":"Rate limited.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"Retry-After":{"description":"Seconds until the caller should retry.","schema":{"type":"integer","minimum":0}}}},"503":{"description":"Token verification is temporarily unavailable (the Hub JWKS could not be fetched). This is the API's unavailability, not a problem with the presented credential.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"Retry-After":{"description":"Seconds until the caller should retry.","schema":{"type":"integer","minimum":0}}}},"400":{"description":"Malformed request (invalid query parameter, cursor, or argument).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}}},"security":[{"bearerAuth":[]}],"x-required-scopes":["sharing:read"]},"post":{"tags":["shares"],"summary":"Create Share","description":"Mint a read-only bearer link. The response carries the plaintext\nsecret — the only response that does.","operationId":"shares_create","parameters":[{"name":"drive_id","in":"path","required":true,"schema":{"type":"string","title":"Drive Id"}},{"name":"Idempotency-Key","in":"header","required":true,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Idempotency-Key"}},{"name":"authorization","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Authorization"},"deprecated":true,"description":"Deprecated: redundant with the operation's `bearerAuth` security requirement, which is how a generated client should learn to authenticate. Scheduled for removal."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShareCreateIn"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShareCreateOut"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"ETag":{"description":"Current strong entity tag.","schema":{"type":"string"}},"Location":{"description":"Canonical URL of the created resource.","schema":{"type":"string","format":"uri-reference"}}}},"422":{"description":"Request validation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationErrorResponse"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"404":{"description":"The parent or target resource was not found or is not visible.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"409":{"description":"A sibling already occupies the name/path, or the idempotency key was reused for a different request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"412":{"description":"If-Match did not match (copy/restore preconditions).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"ETag":{"description":"Current strong entity tag.","schema":{"type":"string"}}}},"428":{"description":"If-Match is required for this mutation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"401":{"description":"Missing or invalid bearer token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"WWW-Authenticate":{"description":"RFC 6750 bearer authentication challenge.","schema":{"type":"string"}}}},"403":{"description":"Token lacks a required scope.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"429":{"description":"Rate limited.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"Retry-After":{"description":"Seconds until the caller should retry.","schema":{"type":"integer","minimum":0}}}},"503":{"description":"Token verification is temporarily unavailable (the Hub JWKS could not be fetched). This is the API's unavailability, not a problem with the presented credential.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"Retry-After":{"description":"Seconds until the caller should retry.","schema":{"type":"integer","minimum":0}}}},"400":{"description":"Malformed request (invalid query parameter, cursor, or argument).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}}},"security":[{"bearerAuth":[]}],"x-required-scopes":["sharing:write"]}},"/v0/drives/{drive_id}/shares/{share_id}":{"get":{"tags":["shares"],"summary":"Read Share","description":"Read one share's management representation (no secret).","operationId":"shares_read","parameters":[{"name":"drive_id","in":"path","required":true,"schema":{"type":"string","title":"Drive Id"}},{"name":"share_id","in":"path","required":true,"schema":{"type":"string","title":"Share Id"}},{"name":"If-None-Match","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"If-None-Match"}},{"name":"authorization","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Authorization"},"deprecated":true,"description":"Deprecated: redundant with the operation's `bearerAuth` security requirement, which is how a generated client should learn to authenticate. Scheduled for removal."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShareOut"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"ETag":{"description":"Current strong entity tag.","schema":{"type":"string"}}}},"304":{"description":"If-None-Match matched.","headers":{"ETag":{"description":"Current strong entity tag.","schema":{"type":"string"}},"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"422":{"description":"Request validation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationErrorResponse"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"404":{"description":"The resource was not found or is not visible to the caller.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"401":{"description":"Missing or invalid bearer token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"WWW-Authenticate":{"description":"RFC 6750 bearer authentication challenge.","schema":{"type":"string"}}}},"403":{"description":"Token lacks a required scope.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}},"429":{"description":"Rate limited.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"Retry-After":{"description":"Seconds until the caller should retry.","schema":{"type":"integer","minimum":0}}}},"503":{"description":"Token verification is temporarily unavailable (the Hub JWKS could not be fetched). This is the API's unavailability, not a problem with the presented credential.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"Retry-After":{"description":"Seconds until the caller should retry.","schema":{"type":"integer","minimum":0}}}},"400":{"description":"Malformed request (invalid query parameter, cursor, or argument).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V0ErrorEnvelope"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}}}}},"security":[{"bearerAuth":[]}],"x-required-scopes":["sharing:read"]},"delete":{"tags":["shares"],"summary":"Revoke Share","description":"Revoke a share (soft, sets revoked_at) under If-Match.","operationId":"shares_revoke","parameters":[{"name":"drive_id","in":"path","required":true,"schema":{"type":"string","title":"Drive Id"}},{"name":"share_id","in":"path","required":true,"schema":{"type":"string","title":"Share Id"}},{"name":"Idempotency-Key","in":"header","required":true,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Idempotency-Key"}},{"name":"If-Match","in":"header","required":true,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"If-Match"}},{"name":"authorization","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Authorization"},"deprecated":true,"description":"Deprecated: redundant with the operation's `bearerAuth` security requirement, which is how a generated client should learn to authenticate. Scheduled for removal."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShareOut"}}},"headers":{"X-Request-Id":{"description":"Request correlation identifier.","schema":{"type":"string"}},"ETag":{"description":"Current strong entity tag.","schema":{"type":"string"}}}},"422":{"description":"Request validation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationErrorResponse"}}},
[...]
