"""
    AgentDrive

    AgentDrive is an agent-focused artifact store: drive-scoped folders, artifacts, and immutable versions, with local grants, possession-based share links, drive-scoped search, and a cursor-resumable change feed. Bearer-authenticated with Hub-issued product tokens (see /.well-known/oauth-protected-resource); every mutation takes an Idempotency-Key, and existing-state mutations take If-Match.

    The version of the OpenAPI document: 0.0.1
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""  # noqa: E501


import warnings
from pydantic import validate_call, Field, StrictFloat, StrictStr, StrictInt
from typing import Any, Dict, List, Optional, Tuple, Union
from typing_extensions import Annotated

from pydantic import StrictStr
from typing import Any

from agentdrive_sdk.api_client import ApiClient, RequestSerialized
from agentdrive_sdk.api_response import ApiResponse
from agentdrive_sdk.rest import RESTResponseType


class SharesRedemptionApi:
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None) -> None:
        if api_client is None:
            api_client = ApiClient.get_default()
        self.api_client = api_client


    @validate_call
    def shares_redeem(
        self,
        share_key: StrictStr,
        _request_timeout: Union[
            None,
            Annotated[StrictFloat, Field(gt=0)],
            Tuple[
                Annotated[StrictFloat, Field(gt=0)],
                Annotated[StrictFloat, Field(gt=0)]
            ]
        ] = None,
        _request_auth: Optional[Dict[StrictStr, Any]] = None,
        _content_type: Optional[StrictStr] = None,
        _headers: Optional[Dict[StrictStr, Any]] = None,
        _host_index: Annotated[StrictInt, Field(ge=0, le=0)] = 0,
    ) -> object:
        """Redeem Share

        The un-slashed form. Browsers are canonicalized onto `/s/{key}/`.  This keeps the published `shares_redeem` operation id because it remains the same redemption operation: same URL, JSON `Accept`, byte/JSON result, and uniform 404. In a split deployment the share host authorizes a specific non-HTML request and then 308s it to this same path on the configured public renderer; the renderer (or direct-renderer rollback) returns the existing result. Dropping the route from the spec would have described a live operation as gone.  The page links its own sub-resources relatively (`content`), and relative resolution replaces the last path segment: from `/s/KEY` that reaches `/s/content`, from `/s/KEY/` it reaches `/s/KEY/content`. The trailing slash is what makes an image on a share page load at all. Links already in the wild have no slash, so this redirect is how they keep working.  It is unconditional and runs before any lookup — redirecting only for keys that resolve would turn the status code into an existence oracle and undo the anti-enumeration property the rest of this module maintains.  HTML navigation is canonicalized to the trailing-slash form. Non-HTML clients are answered in place by the renderer/direct rollback, or moved to the renderer only after the credential resolves on the share host.

        :param share_key: (required)
        :type share_key: str
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :type _request_timeout: int, tuple(int, int), optional
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the
                              authentication in the spec for a single request.
        :type _request_auth: dict, optional
        :param _content_type: force content-type for the request.
        :type _content_type: str, Optional
        :param _headers: set to override the headers for a single
                         request; this effectively ignores the headers
                         in the spec for a single request.
        :type _headers: dict, optional
        :param _host_index: set to override the host_index for a single
                            request; this effectively ignores the host_index
                            in the spec for a single request.
        :type _host_index: int, optional
        :return: Returns the result object.
        """ # noqa: E501

        _param = self._shares_redeem_serialize(
            share_key=share_key,
            _request_auth=_request_auth,
            _content_type=_content_type,
            _headers=_headers,
            _host_index=_host_index
        )

        _response_types_map: Dict[str, Optional[str]] = {
            '200': "object",
            '422': "ValidationErrorResponse",
        }
        response_data = self.api_client.call_api(
            *_param,
            _request_timeout=_request_timeout
        )
        response_data.read()
        return self.api_client.response_deserialize(
            response_data=response_data,
            response_types_map=_response_types_map,
        ).data


    @validate_call
    def shares_redeem_with_http_info(
        self,
        share_key: StrictStr,
        _request_timeout: Union[
            None,
            Annotated[StrictFloat, Field(gt=0)],
            Tuple[
                Annotated[StrictFloat, Field(gt=0)],
                Annotated[StrictFloat, Field(gt=0)]
            ]
        ] = None,
        _request_auth: Optional[Dict[StrictStr, Any]] = None,
        _content_type: Optional[StrictStr] = None,
        _headers: Optional[Dict[StrictStr, Any]] = None,
        _host_index: Annotated[StrictInt, Field(ge=0, le=0)] = 0,
    ) -> ApiResponse[object]:
        """Redeem Share

        The un-slashed form. Browsers are canonicalized onto `/s/{key}/`.  This keeps the published `shares_redeem` operation id because it remains the same redemption operation: same URL, JSON `Accept`, byte/JSON result, and uniform 404. In a split deployment the share host authorizes a specific non-HTML request and then 308s it to this same path on the configured public renderer; the renderer (or direct-renderer rollback) returns the existing result. Dropping the route from the spec would have described a live operation as gone.  The page links its own sub-resources relatively (`content`), and relative resolution replaces the last path segment: from `/s/KEY` that reaches `/s/content`, from `/s/KEY/` it reaches `/s/KEY/content`. The trailing slash is what makes an image on a share page load at all. Links already in the wild have no slash, so this redirect is how they keep working.  It is unconditional and runs before any lookup — redirecting only for keys that resolve would turn the status code into an existence oracle and undo the anti-enumeration property the rest of this module maintains.  HTML navigation is canonicalized to the trailing-slash form. Non-HTML clients are answered in place by the renderer/direct rollback, or moved to the renderer only after the credential resolves on the share host.

        :param share_key: (required)
        :type share_key: str
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :type _request_timeout: int, tuple(int, int), optional
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the
                              authentication in the spec for a single request.
        :type _request_auth: dict, optional
        :param _content_type: force content-type for the request.
        :type _content_type: str, Optional
        :param _headers: set to override the headers for a single
                         request; this effectively ignores the headers
                         in the spec for a single request.
        :type _headers: dict, optional
        :param _host_index: set to override the host_index for a single
                            request; this effectively ignores the host_index
                            in the spec for a single request.
        :type _host_index: int, optional
        :return: Returns the result object.
        """ # noqa: E501

        _param = self._shares_redeem_serialize(
            share_key=share_key,
            _request_auth=_request_auth,
            _content_type=_content_type,
            _headers=_headers,
            _host_index=_host_index
        )

        _response_types_map: Dict[str, Optional[str]] = {
            '200': "object",
            '422': "ValidationErrorResponse",
        }
        response_data = self.api_client.call_api(
            *_param,
            _request_timeout=_request_timeout
        )
        response_data.read()
        return self.api_client.response_deserialize(
            response_data=response_data,
            response_types_map=_response_types_map,
        )


    @validate_call
    def shares_redeem_without_preload_content(
        self,
        share_key: StrictStr,
        _request_timeout: Union[
            None,
            Annotated[StrictFloat, Field(gt=0)],
            Tuple[
                Annotated[StrictFloat, Field(gt=0)],
                Annotated[StrictFloat, Field(gt=0)]
            ]
        ] = None,
        _request_auth: Optional[Dict[StrictStr, Any]] = None,
        _content_type: Optional[StrictStr] = None,
        _headers: Optional[Dict[StrictStr, Any]] = None,
        _host_index: Annotated[StrictInt, Field(ge=0, le=0)] = 0,
    ) -> RESTResponseType:
        """Redeem Share

        The un-slashed form. Browsers are canonicalized onto `/s/{key}/`.  This keeps the published `shares_redeem` operation id because it remains the same redemption operation: same URL, JSON `Accept`, byte/JSON result, and uniform 404. In a split deployment the share host authorizes a specific non-HTML request and then 308s it to this same path on the configured public renderer; the renderer (or direct-renderer rollback) returns the existing result. Dropping the route from the spec would have described a live operation as gone.  The page links its own sub-resources relatively (`content`), and relative resolution replaces the last path segment: from `/s/KEY` that reaches `/s/content`, from `/s/KEY/` it reaches `/s/KEY/content`. The trailing slash is what makes an image on a share page load at all. Links already in the wild have no slash, so this redirect is how they keep working.  It is unconditional and runs before any lookup — redirecting only for keys that resolve would turn the status code into an existence oracle and undo the anti-enumeration property the rest of this module maintains.  HTML navigation is canonicalized to the trailing-slash form. Non-HTML clients are answered in place by the renderer/direct rollback, or moved to the renderer only after the credential resolves on the share host.

        :param share_key: (required)
        :type share_key: str
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :type _request_timeout: int, tuple(int, int), optional
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the
                              authentication in the spec for a single request.
        :type _request_auth: dict, optional
        :param _content_type: force content-type for the request.
        :type _content_type: str, Optional
        :param _headers: set to override the headers for a single
                         request; this effectively ignores the headers
                         in the spec for a single request.
        :type _headers: dict, optional
        :param _host_index: set to override the host_index for a single
                            request; this effectively ignores the host_index
                            in the spec for a single request.
        :type _host_index: int, optional
        :return: Returns the result object.
        """ # noqa: E501

        _param = self._shares_redeem_serialize(
            share_key=share_key,
            _request_auth=_request_auth,
            _content_type=_content_type,
            _headers=_headers,
            _host_index=_host_index
        )

        _response_types_map: Dict[str, Optional[str]] = {
            '200': "object",
            '422': "ValidationErrorResponse",
        }
        response_data = self.api_client.call_api(
            *_param,
            _request_timeout=_request_timeout
        )
        return response_data.response


    def _shares_redeem_serialize(
        self,
        share_key,
        _request_auth,
        _content_type,
        _headers,
        _host_index,
    ) -> RequestSerialized:

        _host = None

        _collection_formats: Dict[str, str] = {
        }

        _path_params: Dict[str, str] = {}
        _query_params: List[Tuple[str, str]] = []
        _header_params: Dict[str, Optional[str]] = _headers or {}
        _form_params: List[Tuple[str, str]] = []
        _files: Dict[
            str, Union[str, bytes, List[str], List[bytes], List[Tuple[str, bytes]]]
        ] = {}
        _body_params: Optional[bytes] = None

        # process the path parameters
        if share_key is not None:
            _path_params['share_key'] = share_key
        # process the query parameters
        # process the header parameters
        # process the form parameters
        # process the body parameter


        # set the HTTP header `Accept`
        if 'Accept' not in _header_params:
            _header_params['Accept'] = self.api_client.select_header_accept(
                [
                    'application/json'
                ]
            )


        # authentication setting
        _auth_settings: List[str] = [
        ]

        return self.api_client.param_serialize(
            method='GET',
            resource_path='/s/{share_key}',
            path_params=_path_params,
            query_params=_query_params,
            header_params=_header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            auth_settings=_auth_settings,
            collection_formats=_collection_formats,
            _host=_host,
            _request_auth=_request_auth
        )


